/* sass-lint:disable class-name-format */
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-spinner-basic/lib/index';

$aspect-ratios: (
  (h: 1, v: 1),
  (h: 5, v: 4),
  (h: 4, v: 3),
  (h: 3, v: 2),
  (h: 5, v: 3),
  (h: 16, v: 9),
  (h: 3, v: 1)
);

.sui-ImageLazyLoad {
  position: relative;

  @each $ratio in $aspect-ratios {
    $horizontal: map-get($ratio, h);
    $vertical: map-get($ratio, v);

    &--ratio-#{$horizontal}-#{$vertical} &-imageWrap {
      @include aspect-ratio($horizontal, $vertical);
      overflow: hidden;
    }
  }

  &-spinner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: $p-v-large $p-h-large;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &-image {
    height: auto;
    vertical-align: bottom;
    width: 100%;
  }

  .LazyLoad {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
