@import '~@schibstedspain/sui-theme/lib/index';

$bg-molecule-badge-counter: #ff0057 !default;
$c-molecule-badge-counter: $c-white !default;

.sui-MoleculeBadgeCounter {
  background-color: $bg-molecule-badge-counter;
  color: $c-molecule-badge-counter;
  border-radius: 100%;
  font-size: $fz-xxs;

  &-small {
    height: 6px;
    width: 6px;
  }

  &-medium {
    height: 8px;
    width: 8px;
  }
}
