@import '~@s-ui/theme/lib/index';

$bg-molecule-badge-counter: #ff0057 !default;
$c-molecule-badge-counter: $c-white !default;
$br-molecule-badge-counter: 16px !default;
$bdc-molecule-badge-counter: transparent !default;
$bds-molecule-badge-counter: solid !default;
$bdw-molecule-badge-counter: 0 !default;
$fz-molecule-badge-counter: $fz-xxs !default;

/* custom */
$bgc-molecule-badge-counter-custom: $c-primary-light-3 !default;
$c-molecule-badge-counter-custom: $c-primary !default;

/* small */
$molecule-badge-counter-small-diameter: 12px !default;
$molecule-badge-counter-small-diameter-dot: 4px !default;
$molecule-badge-counter-small-offset-top: -4px !default;
$molecule-badge-counter-small-offset-right: -7px !default;

/* medium */
$molecule-badge-counter-medium-diameter: 16px !default;
$molecule-badge-counter-medium-diameter-dot: 5px !default;
$molecule-badge-counter-medium-offset-top: -6px !default;
$molecule-badge-counter-medium-offset-right: -12px !default;

/* large */
$molecule-badge-counter-large-diameter: 24px !default;
$molecule-badge-counter-large-diameter-dot: 6px !default;
$molecule-badge-counter-large-offset-top: -12px !default;
$molecule-badge-counter-large-offset-right: -22px !default;
$fz-molecule-badge-counter-large: $fz-xs !default;

.sui-MoleculeBadgeCounter {
  display: inline-block;
  position: relative;

  &-bullet {
    $bullet: &;
    align-items: center;
    background-color: $bg-molecule-badge-counter;
    border-color: $bdc-molecule-badge-counter;
    border-style: $bds-molecule-badge-counter;
    border-width: $bdw-molecule-badge-counter;
    border-radius: 100%;
    color: $c-molecule-badge-counter;
    display: inline-flex;
    font-size: $fz-molecule-badge-counter;
    justify-content: center;

    &-dot {
      background-color: $c-white;
      border-style: solid;
      border-color: $bg-molecule-badge-counter;
    }

    &-exclamation {
      &::after {
        content: '!';
      }
    }

    &-custom {
      background-color: $bgc-molecule-badge-counter-custom;
      color: $c-molecule-badge-counter-custom;
    }

    &-small {
      height: $molecule-badge-counter-small-diameter;
      width: $molecule-badge-counter-small-diameter;

      .sui-MoleculeBadgeCounter--withChildren & {
        position: absolute;
        right: $molecule-badge-counter-small-offset-right;
        top: $molecule-badge-counter-small-offset-top;
      }

      &#{$bullet}-dot {
        border-width: $molecule-badge-counter-small-diameter-dot;
      }
    }

    &-medium {
      height: $molecule-badge-counter-medium-diameter;
      min-width: $molecule-badge-counter-medium-diameter;

      .sui-MoleculeBadgeCounter--withChildren & {
        position: absolute;
        right: $molecule-badge-counter-medium-offset-right;
        top: $molecule-badge-counter-medium-offset-top;
      }

      &#{$bullet}-dot {
        border-width: $molecule-badge-counter-medium-diameter-dot;
      }

      &--threeCharacters {
        border-radius: $br-molecule-badge-counter;
        padding: 0 $p-s;
      }
    }

    &-large {
      font-size: $fz-molecule-badge-counter-large;
      height: $molecule-badge-counter-large-diameter;
      min-width: $molecule-badge-counter-large-diameter;

      .sui-MoleculeBadgeCounter--withChildren & {
        position: absolute;
        right: $molecule-badge-counter-large-offset-right;
        top: $molecule-badge-counter-large-offset-top;
      }

      &#{$bullet}-dot {
        border-width: $molecule-badge-counter-large-diameter-dot;
      }

      &--threeCharacters {
        border-radius: $br-molecule-badge-counter;
        padding: 0 $p-m;
      }
    }
  }
}
