$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

$breakpoints: (
  sm: 0,
  md: 768px,
  lg: 960px,
  xl: 1280px
);

$breakpoint-names: map-keys($breakpoxints) !default;

$align-content: stretch flex-start flex-end space-between space-around;

@mixin getItemValue($bpName, $size) {
  &--#{$bpName}-#{$size} {
    flex-basis: (100% / 12) * $size;
  }
}

@mixin getItemsSizes($breakpoints, $sizes) {
  @each $bpName, $bpValue in $breakpoints {
    @each $size in $sizes {
      @if ($bpValue != 0) {
        @media (min-width: $bpValue) {
          @include getItemValue($bpName, $size);
        }
      } @else {
        @include getItemValue($bpName, $size);
      }
    }
  }
}

@mixin getAlignContent($properties) {
  @each $value in $properties {
    &--#{$value} {
      align-content: $value;
    }
  }
}
