$lg-columns: 12;
$lg-column-gap: $p-l;
$lg-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 960px,
  xl: 1280px
);

$align-content: stretch flex-start flex-end space-between space-around;

@mixin getItemValue($bpName, $size) {
  &--#{$bpName}-#{$size} {
    flex-basis: (100% / $lg-columns) * $size;
  }
}

@mixin getItemsSizes($breakpoints, $columns) {
  @each $bpName, $bpValue in $breakpoints {
    @for $col from 1 through $columns {
      @if ($bpValue != 0) {
        @media (min-width: $bpValue) {
          @include getItemValue($bpName, $col);
        }
      } @else {
        @include getItemValue($bpName, $col);
      }
    }
  }
}

@mixin getAlignContent($properties) {
  @each $value in $properties {
    &--#{$value} {
      justify-content: $value;
    }
  }
}
