@import '~@s-ui/theme/lib/index';
@import './settings';

$base-class: '.sui-LayoutGrid';

/////

$grid-columns: 12;

@mixin grid-parent($gap) {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 (-$gap);
  row-gap: #{2 * $gap};
}

@mixin grid-flex-basis($columns) {
  $w-column: (100% / $grid-columns) * $columns;
  flex-basis: $w-column;
  max-width: $w-column;
}

@mixin grid-value($breakpoint-name, $columns) {
  @include media-breakpoint-up($breakpoint-name) {
    @include grid-flex-basis($columns);
  }
}

/////

#{$base-class} {
  @include grid-parent($layout-grid-gap);
  @include grid-align-items($ai-layout-grid);
  @include grid-justify-content($jc-layout-grid);

  &-item {
    flex-basis: 100%;
    max-width: 100%;
    @include grid-item-sizes($breakpoints, $grid-columns);
    margin: 0;
    padding: 0 $layout-grid-gap;
  }

  &#{$base-class}--gutter {
    &-none {
      margin: 0;
      row-gap: 0;

      #{$base-class}-item {
        padding: 0;
      }
    }
  }
}
