@import '~@s-ui/theme/lib/index';
@import './settings';

.sui-LayoutGrid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 (-$layout-grid-gap / 2);
  width: calc(100% + #{$layout-grid-gap});
  @include grid-align-items($ai-layout-grid);
  @include grid-justify-content($jc-layout-grid);

  &-item {
    box-sizing: border-box;
    flex-grow: 0;
    margin: 0;
    padding: 0 $layout-grid-gap;
    @include grid-item-sizes($layout-grid-breakpoints, $layout-grid-columns);
  }
}
