@use 'sass:math';

$base-class-with-icon: '#{$base-class}--withIcon';

#{$base-class} {
  #{$base-class-with-icon}-icon {
    align-items: center;
    color: $c-atom-input-icon;
    display: flex;
    fill: $c-atom-input-icon;
    justify-content: center;
    width: $w-atom-input-icon;
    pointer-events: none;

    &--withHandler {
      cursor: pointer;
      pointer-events: auto;
    }

    &--left {
      #{$base-class-with-icon}-icon--content {
        width: $w-atom-input-icon;
        margin-right: math.div($pl-atom-input, 2);
      }
    }

    &--right {
      #{$base-class-with-icon}-icon--content {
        width: $w-atom-input-icon;
        margin-left: math.div($pr-atom-input, 2);
      }
    }
  }
  @each $state, $color in $states-atom-input {
    &#{$base-class}--status-#{$state} {
      #{$base-class-with-icon}-icon {
        #{$base-class-with-icon}-icon--content {
          color: $color;
          fill: $color;
        }
      }
    }
  }
}
