#{$base-class}--withIcon {
  position: relative;
  width: 100%;

  &--left #{$base-class-input} {
    padding-left: $pl-atom-input-input;
  }

  &--right #{$base-class-input} {
    padding-right: $pr-atom-input-input;
  }

  &-button {
    @include reset-button;
    position: relative;
    padding: 0;
    min-width: 0;

    // Expand clickable area
    &::before {
      content: '';
      position: absolute;
      top: -$m-m;
      bottom: -$m-m;
      left: -$m-m;
      right: -$m-m;
      background: transparent;
    }

    &-container {
      width: $sz-icon-m;
    }

    &:hover {
      background-color: $c-gray-light-3;
      border-radius: $p-xs;
    }
  }

  &-icon {
    align-items: center;
    color: $c-atom-input-icon;
    display: flex;
    fill: $c-atom-input-icon;
    height: $w-atom-input-icon;
    justify-content: center;
    position: absolute;
    top: $t-atom-input-icon;
    transform: translateY($trf-ty-atom-input-icon);
    width: $w-atom-input-icon;

    &--left {
      left: $l-atom-input-icon;
    }

    &--right {
      right: $r-atom-input-icon;
    }
  }
}
