$z-autosuggest-list: $z-navigation !default;

$bdw-autosuggest-container: $bdw-s !default;

$bd-molecule-autosuggest-focus: $bd-atom-input !default;
$bxsh-molecule-autosuggest-focus: $bxsh-atom-input !default;
$ol-molecule-autosuggest-focus: 0 none !default;
$olo-molecule-autosuggest-focus: 0 !default;
