$base-class: '.sui-MoleculeAccordion';

$base-class-item: '#{$base-class}Item';
$base-class-item-header: '#{$base-class-item}Header';
$base-class-item-header-icon: '#{$base-class-item-header}Icon';
$base-class-item-panel: '#{$base-class-item}Panel';

#{$base-class-item-header},
#{$base-class-item-panel} {
  box-sizing: border-box;
  border-color: $c-gray;
  border-style: solid;
  border-width: 0;
  #{$base-class-item-header}Button,
  & {
    &[aria-disabled='true'] {
      cursor: not-allowed;
      #{$base-class-item-header}ButtonContent,
      #{$base-class-item-header-icon}Wrapper,
      #{$base-class-item-panel}ContentWrapper {
        opacity: 0.5;
      }
    }
  }
}

#{$base-class-item-header} {
  border-left-width: $bdw-accordion-item;
  border-right-width: $bdw-accordion-item;
  border-bottom-width: $bdw-accordion-item;
  border-top-width: $bdw-accordion-item;
  margin: 0;
  #{$base-class-item-header}Button {
    box-sizing: inherit;
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: inherit;
    min-height: $sz-base * 5;
    display: flex;
    align-items: center;
    &#{$base-class-item-header}Button--icon-position {
      &-left {
        flex-direction: row-reverse;
        #{$base-class-item-header}IconWrapper {
          #{$base-class-item-header}Icon {
            &:empty {
              transform: rotate(-180deg);
              &#{$base-class-item-header}Icon--expanded {
                transform: rotate(0deg);
              }
            }
          }
        }
        #{$base-class-item-header}ButtonContent {
          margin-right: $sz-base;
        }
      }
      &-right {
        flex-direction: row;
        #{$base-class-item-header}ButtonContent {
          margin-left: $sz-base;
        }
      }
    }
    #{$base-class-item-header}ButtonContent {
      box-sizing: inherit;
      width: 100%;
      height: 100%;
      line-height: 1.15;
      font-weight: 400;
      overflow: hidden;
      text-align: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: $fz-base;
    }
    #{$base-class-item-header}ButtonContent,
    #{$base-class-item-header}IconWrapper {
      color: $c-text-base;
    }
    #{$base-class-item-header}IconWrapper {
      padding: $sz-base;
      #{$base-class-item-header}Icon {
        display: flex;
        &:empty {
          $sz-empty-icon: $sz-icon-xs;
          min-width: $sz-empty-icon;
          min-height: $sz-empty-icon;
          position: relative;
          overflow: hidden;
          transform: rotate(180deg);
          &::before,
          &::after {
            position: absolute;
            content: '';
            top: 50%;
            bottom: 50%;
            width: 100%;
            border-bottom: 1px solid $c-gray;
            box-sizing: border-box;
          }
          &::before {
            transform: rotate(-45deg);
            left: 33%;
          }
          &::after {
            transform: rotate(-135deg);
            right: 33%;
          }
        }
        &#{$base-class-item-header}Icon--expanded {
          transform: rotate(0deg);
        }
      }
    }
  }
  + #{$base-class-item-panel} {
    margin-top: -$bdw-accordion-item;
  }
}

#{$base-class-item-panel} {
  border-left-width: $bdw-accordion-item;
  border-right-width: $bdw-accordion-item;
  border-bottom-width: $bdw-accordion-item;
  border-top-width: $bdw-accordion-item;
  overflow: hidden;
  &[aria-expanded='false'] {
    max-height: 0;
    border-bottom: 0;
  }
  #{$base-class-item-panel}Content {
    padding: $sz-base;
  }
  + #{$base-class-item-header} {
    margin-top: -$bdw-accordion-item;
  }
}
