$p-collapsible-basic-trigger: 0 !default;
$bd-collapsible-basic-trigger: none !default;
$bdr-collapsible-basic-trigger: 0 !default;
$mb-collapsible-basic-trigger: 0 !default;
$sz-collapsible-basic-trigger-icon: $sz-icon-s !default;
$mb-collapsible-basic-content: 0 !default;
$bgc-collapsible-basic: $c-gray-lightest !default;
$bgc-collapsible-basic-expanded: $c-gray-lightest !default;
$lh-collapsible-basic: $lh-base !default;
$c-collapsible-basic: $c-gray-dark !default;
$bdc-collapsible-basic: $c-gray-lightest !default;
$bd-collapsible-basic: 1px solid $bdc-collapsible-basic !default;
$bdr-collapsible-basic: 0 !default;
$trs-collapsible-basic-trigger-icon: transform $trs-base !default;
$c-collapsible-basic-trigger-icon: $c-primary !default;
$trs-collapsible-basic-content-normal: max-height .3s ease-in-out !default;
$trs-collapsible-basic-content-fast: max-height .1s ease-in-out !default;
$m-h-collapsible-basic-trigger-icon: $m-h !default;
