// sass-lint:disable class-name-format
@import '~@schibstedspain/theme-basic/lib/index';

.sui-CollapsibleBasic {
  background-color: $bgc-collapsible-basic;
  border: $bd-collapsible-basic;
  width: 100%;

  &-trigger {
    align-items: center;
    display: flex;
    line-height: $lh-collapsible-basic;

    &-icon {
      flex: 1;
      transition: transform $trs-base;
    }

    &-label {
      color: $c-collapsible-basic;
      flex: 1 1 100%;
      font-size: $fz-l;
      font-weight: $fw-semi-bold;
    }
  }

  &-defaultIcon {
    margin: auto $m-h;
  }

  &-collapsibleContent {
    overflow: hidden;
    transition: max-height $trs-base;
  }

  /* Keep root parent ref to avoid string repetition on nesting */
  $root-parent: &;

  &.is-collapsed {
    #{$root-parent}-collapsibleContent {
      max-height: 0;
    }
  }

  &.is-expanded {
    background-color: $bgc-collapsible-basic-expanded;

    #{$root-parent}-trigger {
      &-icon {
        transform: rotateZ(180deg);
      }
    }

    #{$root-parent}-collapsibleContent {
      max-height: 100%;
    }
  }
}
