// sass-lint:disable class-name-format
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import './settings';

.sui-CollapsibleBasic {
  background-color: $bgc-collapsible-basic;
  border: $bd-collapsible-basic;
  border-radius: $bdr-collapsible-basic;
  width: 100%;

  &-trigger {
    align-items: center;
    border: $bd-collapsible-basic-trigger;
    border-radius: $bdr-collapsible-basic-trigger;
    display: flex;
    line-height: $lh-collapsible-basic;
    margin-bottom: $mb-collapsible-basic-trigger;
    padding: $p-collapsible-basic-trigger;

    &-iconBox {
      flex: 1;
      transition: $trs-collapsible-basic-trigger-icon;

      &-icon {
        fill: $c-collapsible-basic-trigger-icon !important; // sass-lint:disable-line no-important
        height: $sz-collapsible-basic-trigger-icon;
        margin: auto $m-h-collapsible-basic-trigger-icon;
        width: $sz-collapsible-basic-trigger-icon;
      }
    }

    &-label {
      color: $c-collapsible-basic;
      flex: 1 1 100%;
      font-size: $fz-l;
      font-weight: $fw-semi-bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-collapsibleContent {
    margin-bottom: $mb-collapsible-basic-content;
    overflow: hidden;
  }

  &-transition {
    &Normal {
      transition: $trs-collapsible-basic-content-normal;
    }

    &Fast {
      transition: $trs-collapsible-basic-content-fast;
    }
  }

  &.is-collapsed {
    .sui-CollapsibleBasic-collapsibleContent {
      max-height: 0;
    }
  }

  &.is-expanded {
    background-color: $bgc-collapsible-basic-expanded;

    .sui-CollapsibleBasic-trigger {
      &-iconBox {
        transform: rotateZ(180deg);
      }
    }

    .sui-CollapsibleBasic-collapsibleContent {
      max-height: 100vh;
      overflow-y: auto;
    }
  }
}
