// sass-lint:disable class-name-format
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

$p-collapsible-basic-trigger: 0 !default;
$bd-collapsible-basic-trigger: none !default;
$bdr-collapsible-basic-trigger: 0 !default;
$mb-collapsible-basic-trigger: 0 !default;
$mb-collapsible-basic-content: 0 !default;
$bgc-collapsible-basic: $c-gray-lightest !default;
$bgc-collapsible-basic-expanded: $c-gray-lightest !default;
$lh-collapsible-basic: $lh-base !default;
$c-collapsible-basic: $c-gray-dark !default;
$bdc-collapsible-basic: $c-gray-lightest !default;
$bd-collapsible-basic: 1px solid $bdc-collapsible-basic !default;

.sui-CollapsibleBasic {
  background-color: $bgc-collapsible-basic;
  border: $bd-collapsible-basic;
  width: 100%;

  &-trigger {
    align-items: center;
    border: $bd-collapsible-basic-trigger;
    border-radius: $bdr-collapsible-basic-trigger;
    display: flex;
    line-height: $lh-collapsible-basic;
    padding: $p-collapsible-basic-trigger;
    margin-bottom: $mb-collapsible-basic-trigger;

    &-icon {
      flex: 1;
      transition: transform $trs-base;
    }

    &-label {
      color: $c-collapsible-basic;
      flex: 1 1 100%;
      font-size: $fz-l;
      font-weight: $fw-semi-bold;
    }
  }

  &-defaultIcon {
    margin: auto $m-h;
  }

  &-collapsibleContent {
    margin-bottom: $mb-collapsible-basic-content;
    overflow: hidden;
    transition: max-height $trs-base;
  }

  /* Keep root parent ref to avoid string repetition on nesting */
  $root-parent: &;

  &.is-collapsed {
    #{$root-parent}-collapsibleContent {
      max-height: 0;
    }
  }

  &.is-expanded {
    background-color: $bgc-collapsible-basic-expanded;

    #{$root-parent}-trigger {
      &-icon {
        transform: rotateZ(180deg);
      }
    }

    #{$root-parent}-collapsibleContent {
      max-height: 100%;
    }
  }
}
