$base-class-password: '#{$base-class}-password';

#{$base-class-password} {
  position: relative;
  width: 100%;

  &--toggleButton {
    color: $c-atom-input-password-toggle-button;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
}
