@import '~@schibstedspain/theme-basic/lib/index';
@import '~leaflet/dist/leaflet';

$bgc-minipoi: #2899b6 !default;
$bdc-minipoi: 1px solid $c-white !default;
$bdrs-minipoi-half: 50%;

.sui-MapBasic {
  .leaflet-control-layers-toggle {
    // We should put base leaflet resources into our CDN
    background-image: url('https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/layers-2x.png');
  }

  .minipoi {
    background-color: $bgc-minipoi;
    border: $bdc-minipoi;
    border-radius: $bdrs-minipoi-half;
    cursor: inherit;
    height: 10px;
    left: -5px;
    opacity: .5;
    top: -5px;
    width: 10px;
  }
}
