body {
  background: #fefefe;
}

.SUI-Preview {
  max-width: 1240px;
  padding: 32px;
  margin: 0 auto;
}

.LayoutGrid-container {
  background: #eee;
  padding: 24px;
}

.box {
  background: gray;
  border-radius: 8px;
  padding: 16px;
  min-height: 120px;
  margin: 16px 0;
}

.sui-StudioPreview .sui-Studio-code {
  white-space: inherit;
  line-height: 22px;
}
