/* sass-lint:disable class-name-format, no-important */
@import '~@schibstedspain/theme-basic/lib/index';
@import '~@schibstedspain/sui-dropdown-basic/lib/index';
@import '~@schibstedspain/sui-dropdown-user/lib/index';

@mixin notifications($right, $top: false) {
  $notifications-size: 17px;

  background-color: $c-primary;
  border-radius: 50%;
  color: $c-white;
  font-size: $fz-xs;
  height: $notifications-size;
  line-height: $notifications-size;
  position: absolute;
  right: $right;
  text-align: center;
  @if $top {
    top: $top;
  }
  width: $notifications-size;
}

.sui-TopbarUser {
  align-items: center;
  background-color: $bgc-topbar-user;
  box-shadow: $bxsh-topbar-user;
  display: flex;
  justify-content: space-between;
  padding: 0 $p-h;
  position: relative;

  &-wrap {
    display: flex;
    flex: 1;
  }

  &-toggle {
    @include reset-button;
    @include media-breakpoint-up(m) {
      display: none;
    }
    margin-left: -$m-h;
    padding: $p-v $p-h;

    &Icon {
      fill: $c-primary !important;
      height: $size-topbar-user-toggle-icon;
      width: $size-topbar-user-toggle-icon;
    }
  }

  &-brand {
    @include reset-link;
    @if $bg-topbar-user-brand != null {
      @include text-hide;
      background: $bg-topbar-user-brand;
      background-size: $bgsz-topbar-user-brand;
      box-sizing: content-box;
      height: $h-topbar-user-brand;
      padding: $p-v 0;
      width: $w-topbar-user-brand;
    }
    align-self: center;
    font-size: $fz-h2;
    font-weight: $fw-bold;
    margin-right: $m-h;
  }

  &-nav {
    @include media-breakpoint-down(s) {
      background-color: $c-white;
      display: flex;
      flex-direction: column;
      height: 100%;
      left: 0;
      max-width: $maw-topbar-user-nav;
      overflow-y: auto;
      position: absolute;
      top: 0;
      transform: translateX(-100%);
      transition: transform $trs-base;
      width: $w-topbar-user-nav;

      .is-expanded > & {
        transform: translateX(0);
      }

      &Wrap {
        overflow: hidden;
        pointer-events: none;
        position: fixed;
        z-index: 1;

        &::before {
          background-color: $c-black;
          content: '';
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: opacity $trs-base;
          width: 100%;
        }

        &.is-expanded {
          pointer-events: all;

          &::before {
            opacity: .6;
          }
        }
      }

      &Main {
        order: 2;
      }

      &User {
        order: 1;
      }
    }
    @include media-breakpoint-up(m) {
      display: flex;
      justify-content: space-between;

      &Wrap {
        flex: 1;
        padding: $p-v 0;
      }

      &Main,
      &User {
        align-items: center;
        display: flex;
      }

      &Main {
        flex: 1;
      }
    }
  }

  &-cta {
    &Button {
      padding: $p-v 0;

      &Link {
        @include reset-link;
        @include sui-button(
          'custom',
          'small',
          $background-color: $bgc-topbar-user-cta,
          $icon-fill: $c-white
        );
        @include media-breakpoint-up(m) {
          @include sui-button(
            'custom',
            $background-color: $bgc-topbar-user-cta,
            $icon-fill: $c-white
          );
        }
        position: relative;
      }

      &Notifications {
        @include notifications($right: -7px, $top: -7px);
      }
    }

    &Text {
      @include media-breakpoint-up(m) {
        display: none;
      }

      &Link {
        @include reset-link;
        display: block;
        font-size: $fz-h3;
        font-weight: normal;
        padding: $p-v-large $p-h;
        position: relative;

        &:hover {
          color: $c-primary;
        }
      }

      &Icon {
        fill: $c-text-base !important;
        height: $size-dropdown-icon;
        margin-right: $m-h-small;
        width: $size-dropdown-icon;

        :hover > & {
          fill: $c-primary !important;
        }
      }

      &Notifications {
        @include notifications($right: 7px);
      }
    }
  }
}
