/* sass-lint:disable class-name-format, no-important */
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-dropdown-basic/lib/index';
@import '~@schibstedspain/sui-dropdown-user/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';

// Topbar user
$bgc-topbar-user: $c-white !default;
$bxsh-topbar-user: $bxsh-base !default;
$bg-topbar-user-brand: null !default;
$bgsz-topbar-user-brand: 100% !default;
$h-topbar-user-brand-small: 0 !default;
$w-topbar-user-brand-small: 0 !default;
$h-topbar-user-brand-large: 0 !default;
$w-topbar-user-brand-large: 0 !default;
$size-topbar-user-toggle-icon: 24px !default;
$w-topbar-user-nav: 90% !default;
$maw-topbar-user-nav: 350px !default;

.html-has-scroll-disabled {
  overflow-y: hidden;
  position: fixed;
}

.body-has-scroll-disabled {
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}

.sui-TopbarUser {
  align-items: center;
  background-color: $bgc-topbar-user;
  box-shadow: $bxsh-topbar-user;
  display: flex;
  justify-content: space-between;
  padding: 0 $p-h;
  position: relative;

  &-wrap {
    display: flex;
    flex: 1;
  }

  &-toggle {
    &.has-notifications {
      @include sui-badge-notification(true, 2px, 12px);
    }
    @include reset-button;
    @include media-breakpoint-up(m) {
      display: none;
    }
    margin-left: -$m-h;
    padding: $p-v $p-h;

    &Icon {
      fill: $c-primary !important;
      height: $size-topbar-user-toggle-icon;
      width: $size-topbar-user-toggle-icon;
    }
  }

  &-brand {
    @include reset-link;
    @if $bg-topbar-user-brand != null {
      @include text-hide;
      @include media-breakpoint-up(m) {
        height: $h-topbar-user-brand-large;
        margin-right: $m-l;
        width: $w-topbar-user-brand-large;
      }
      @include media-breakpoint-up(l) {
        margin-right: $m-xxl;
      }
      background: $bg-topbar-user-brand;
      background-size: $bgsz-topbar-user-brand;
      box-sizing: content-box;
      height: $h-topbar-user-brand-small;
      margin-bottom: $m-s;
      padding: $p-v 0;
      width: $w-topbar-user-brand-small;
    }
    align-self: center;
    font-size: $fz-h2;
    font-weight: $fw-bold;
    margin-right: $m-l;
  }

  &-nav {
    @include media-breakpoint-down(s) {
      background-color: $c-white;
      display: flex;
      flex-direction: column;
      height: 100%;
      left: 0;
      max-width: $maw-topbar-user-nav;
      overflow-y: auto;
      position: absolute;
      top: 0;
      transform: translateX(-100%);
      transition: transform $trs-base;
      width: $w-topbar-user-nav;

      .is-expanded > & {
        transform: translateX(0);
      }

      &Wrap {
        overflow: hidden;
        pointer-events: none;
        position: fixed;
        z-index: 1;

        &::before {
          background-color: $c-black;
          content: '';
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: opacity $trs-base;
          width: 100%;
        }

        &.is-expanded {
          pointer-events: all;

          &::before {
            opacity: .6;
          }
        }
      }

      &Main {
        order: 2;
      }

      &User {
        order: 1;
      }
    }
    @include media-breakpoint-up(m) {
      display: flex;
      justify-content: space-between;

      &Wrap {
        flex: 1;
        padding: $p-v 0;
      }

      &Main,
      &User {
        align-items: center;
        display: flex;
      }

      &Main {
        flex: 1;
      }
    }
  }

  &-cta {

    &Text {
      @include media-breakpoint-up(m) {
        display: none;
      }

      &Link {
        @include reset-link;
        display: block;
        font-size: $fz-h3;
        font-weight: normal;
        padding: $p-v-large $p-h;
        position: relative;

        &:hover {
          color: $c-primary;
        }
      }

      &Icon {
        fill: $c-text-base !important;
        height: $size-dropdown-icon;
        margin-right: $m-h-small;
        width: $size-dropdown-icon;

        :hover > & {
          fill: $c-primary !important;
        }
      }
    }
  }
}
