@import './atom/index';

.sui-MoleculeAutosuggest-List {
  height: 184px;
  width: 314px;
  border: solid 1px #bbbbbb;
  overflow-y: auto;
  background-color: $c-white;

  &-large {
    height: 266px;
  }

  &-hidden {
    display: none;
  }
}