$base-class: '.sui-AtomToast';

#{$base-class} {
  $self: &;
  background-color: $bgc-atom-toast;
  border-radius: $bdrs-atom-toast;
  border: $bd-atom-toast;
  box-shadow: $bxsh-atom-toast;
  color: $c-atom-toast-text;
  font-size: $fz-atom-toast;
  overflow: hidden;

  &-container {
    margin: $m-atom-toast;
    position: fixed;
    z-index: $z-notifications;
  }

  &-icon {
    cursor: pointer;
    margin: $m-s;
    position: absolute;
    right: 0;

    svg {
      fill: $c-atom-toast-icon !important;
      height: $sz-icon-s;
      width: $sz-icon-s;
    }
  }

  // Position
  &-position {
    &--bottom,
    &--bottom-right,
    &--bottom-left {
      bottom: 0;
    }

    &--top,
    &--top-right,
    &--top-left {
      top: 0;
    }

    &--bottom,
    &--top {
      left: 50%;

      #{$self} {
        left: -50%;
        position: relative;
      }
    }

    &--bottom-right,
    &--top-right {
      right: 0;
    }

    &--bottom-left,
    &--top-left {
      left: 0;
    }
  }

  // Effect
  &-effect {
    &--top {
      transition: $toast-effect-slide-top-in;
    }

    &--top#{&}--hide {
      top: -50%;
      transition: $toast-effect-slide-top-out;
    }

    &--bottom {
      transition: $toast-effect-slide-bottom-in;
    }

    &--bottom#{&}--hide {
      bottom: -50%;
      transition: $toast-effect-slide-bottom-out;
    }

    &--top-right,
    &--bottom-right {
      transition: $toast-effect-slide-right-in;
    }

    &--top-right#{&}--hide,
    &--bottom-right#{&}--hide {
      right: -100vh;
      transition: $toast-effect-slide-right-out;
    }

    &--top-left,
    &--bottom-left {
      transition: $toast-effect-slide-left-in;
    }

    &--top-left#{&}--hide,
    &--bottom-left#{&}--hide {
      left: -100vh;
      transition: $toast-effect-slide-left-out;
    }
  }
}
