@import '~@s-ui/theme/lib/index';

#{$base-class} {
  &-loader {
    animation: $anim-atom-spinner;
    border-radius: $bdrs-rounded;
    height: $sz-atom-spinner-oval;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: calc(50% - #{$sz-atom-spinner});
    width: $sz-atom-spinner-oval;
    z-index: $z-atom-spinner-loader;
  }
}
