@import '~@s-ui/theme/lib/index';

#{$base-class} {
  &-loader {
    border-radius: $bdrs-rounded;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: $z-atom-spinner-loader;
  }
}

@each $name, $type in $atom-spinner-overlay-types {
  $loaderColorOne: map-get($type, loaderColorOne);
  $loaderColorTwo: map-get($type, loaderColorTwo);

  @each $sizeName, $sizes in $atom-spinner-sizes {
    $size: map-get($sizes, size);

    @include animation-atom-spinner($name, $loaderColorOne, $loaderColorTwo, $sizeName, $size);

    .sui-AtomSpinner--#{'' + $name}-#{'' + $sizeName} {
      $size: map-get($sizes, size);
      $totalSize: $size * 2;

      & .sui-AtomSpinner-loader {
        animation: atom-spinner-#{$name}-#{$sizeName} 1.5s ease-in-out infinite;
        height: $size;
        top: calc(50% - #{$totalSize});
        width: $size;
      }
    }
  }
}
