@import '~@s-ui/theme/lib/index';

#{$base-class} {
  &-loader {
    border-radius: $bdrs-rounded;
    height: $sz-atom-spinner-oval;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: calc(50% - #{$sz-atom-spinner});
    width: $sz-atom-spinner-oval;
    z-index: $z-atom-spinner-loader;
  }
}

@each $name, $type in $atom-spinner-overlay-types {
  $loaderColorOne: map-get($type, loaderColorOne);
  $loaderColorTwo: map-get($type, loaderColorTwo);

  @include animation-atom-spinner($name, $loaderColorOne, $loaderColorTwo);

  .sui-AtomSpinner--#{'' + $name} {
    & .sui-AtomSpinner-loader {
      animation: atom-spinner-#{$name} 1.5s ease-in-out infinite;
    }
  }
}
