@import '~@schibstedspain/sui-atom-tag/lib/index';

.sui-AtomInput {
  &-wrapper {
    background: $c-white;
    border-color: $c-gray-light;
    border-style: solid;
    border-width: 1px;
    font-size: $fz-base;
    overflow: hidden;
    padding-left: $p-l;
    padding-right: $p-l;
    width: 100%;

    .sui-AtomTag {
      float: left;
      margin-top: $m-s;
    }

    input {
      background: none;
      border: 0;
      float: left;
      margin-left: $m-s;
      width: auto;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
