@import '~@schibstedspain/sui-atom-tag/lib/index';

.sui-AtomInput {
  .sui-AtomTag {
    float: left;
    
    + input {
      float: left;
      width: auto;
      border: none;
      background: none;
      
      &:focus {
        box-shadow: none;
      }
    }
  }  
}
