@import '~@schibstedspain/sui-theme/lib/index';
@import '~rc-slider/dist/rc-slider';

.sui-AtomSlider {
  padding: 20px;
  position: relative;

  input[type='range'] {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  output {
    position: absolute;
    background-image: linear-gradient(top, #444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
  }

  output:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  li {
    align-items: end;
    background-position-x: center;
    background-position-y: -15px;
    display: flex;
    justify-content: center;
    width: 2ex;
    z-index: -1;
  }
}

