@import '~@s-ui/theme/lib/index';
@import '~rc-slider/dist/rc-slider';

$c-atom-slider: $c-gray !default;
$c-atom-slider-text: $c-gray-light-2 !default;
$c-atom-slider-tooltip: $c-gray-dark !default;

$c-atom-slider-rail: $c-gray-light-4 !default;
$c-atom-slider-track: $c-gray-light !default;

$ff-atom-slider: $ff-sans-serif !default;
$fz-atom-slider: $fz-m !default;

$h-atom-slider-handle: 24px !default;
$ml-atom-slider-handle: -11px !default;
$ml-atom-slider-label: 0 !default;
$w-atom-slider-handle: 24px !default;

$h-atom-slider-track: 8px !default;
$p-atom-slider: $p-l !default;

$mt-atom-slider-mark: 10px !default;

$base-class-rc-slider: '.rc-slider';
$class-handle: '#{$base-class-rc-slider}-handle';
$class-disabled: '#{$base-class-rc-slider}-disabled';
$class-rail: '#{$base-class-rc-slider}-rail';
$class-track: '#{$base-class-rc-slider}-track';
$class-dot: '#{$base-class-rc-slider}-dot';
$class-mark: '#{$base-class-rc-slider}-mark';
$class-mark-text: '#{$base-class-rc-slider}-mark-text';
$class-mark-text-active: '#{$base-class-rc-slider}-mark-text-active';
$class-tooltip: '#{$base-class-rc-slider}-tooltip';
$class-tooltip-content: '#{$class-tooltip}-content';
$class-tooltip-inner: '#{$class-tooltip}-inner';
$class-tooltip-arrow: '#{$class-tooltip}-arrow';
$class-tooltip-hidden: '#{$class-tooltip}-hidden';

.sui-AtomSlider {
  font-family: $ff-atom-slider;
  font-size: $fz-atom-slider;
  padding: $p-atom-slider;
  position: relative;

  input[type='range'] {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  output {
    left: 0;
    position: absolute;
    top: 0;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-left: -2px;
    padding: 0;
    width: 104%;
  }

  li {
    align-items: end;
    background-position-x: center;
    background-position-y: -15px;
    display: flex;
    justify-content: center;
    width: 2ex;
    z-index: -1;
  }

  #{$class-handle} {
    background-color: $c-white;
    border: solid 1px $c-primary;
    height: $h-atom-slider-handle;
    margin-left: $ml-atom-slider-handle;
    margin-top: -8px;
    width: $w-atom-slider-handle;
  }

  #{$class-rail} {
    background: $c-atom-slider-rail;
    height: $h-atom-slider-track;
  }

  #{$class-track} {
    background: $c-primary;
    height: $h-atom-slider-track;
  }

  #{$class-dot} {
    display: none;
  }

  #{$class-mark} {
    color: $c-atom-slider;
    font-family: $ff-atom-slider;
    font-size: $fz-atom-slider;
    margin-top: $mt-atom-slider-mark;
  }

  #{$class-mark-text} {
    color: $c-atom-slider-text;
  }

  #{$class-mark-text-active} {
    color: $c-atom-slider;
  }

  &-label {
    display: block;
    margin-bottom: $m-m;
    margin-left: $ml-atom-slider-label;
  }

  &--disabled {
    #{$class-disabled} {
      background-color: transparent;
    }

    #{$class-handle} {
      border: solid 1px $c-atom-slider;
    }

    #{$class-rail} {
      height: 8px;
    }

    #{$class-track} {
      background: $c-atom-slider-track;
      height: $h-atom-slider-track;
    }
  }

  &--inverse {
    #{$class-rail} {
      background: $c-primary;
    }

    #{$class-track} {
      background: $c-atom-slider-rail;
    }
  }
}

#{$class-tooltip-hidden} {
  display: block;
}

#{$class-tooltip} {
  #{$class-tooltip-inner} {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $c-atom-slider-tooltip;
    font-family: $ff-atom-slider;
    font-size: $fz-atom-slider;
  }

  #{$class-tooltip-arrow} {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
