$base-class: '.sui-LayoutGrid';

#{$base-class} {
  @include grid-parent($layout-grid-m-base);
  @include grid-align-content($ac-layout-grid);
  @include grid-align-items($ai-layout-grid);
  @include grid-justify-content($jc-layout-grid);

  &-item {
    @include grid-item-sizes($breakpoints, $grid-columns);
    margin: 0;
    padding: 0 $layout-grid-m-base;
    box-sizing: border-box;
    > * {
      box-sizing: inherit;
    }
  }
  @include grid-gutters($base-class, $breakpoints, $grid-gutters);
}
