@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-primitive-visually-hidden/lib/index';
@import '~@s-ui/react-atom-icon/lib/index';

@import './styles/settings.scss';
@import './styles/index.scss';
