$base-class-element: '#{$base-class}-Footer';

#{$base-class-element} {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  height: #{'calc(' + $h-molecule-modal-footer + ' + ' + 2 * $py-molecule-modal-footer + ')'};
  min-height: #{'calc(' + $h-molecule-modal-footer + ' + ' + 2 * $py-molecule-modal-footer + ')'};
  &:not(#{$base-class-element}-is-inset) {
    padding-inline: $px-molecule-modal-body;
    padding-block: $py-molecule-modal-body;
  }
  &:has(#{$base-class-element}-is-inset) {
    padding-inline: 0;
    margin-block: 0;
  }
}
