$t-molecule-modal-close-icon-button: $sz-base !default;
$r-molecule-modal-close-icon-button: $sz-base !default;

$miw-molecule-modal-close-icon-button: 4 * $sz-base !default;
$mih-molecule-modal-close-icon-button: 4 * $sz-base !default;

$bdrs-molecule-modal-close-icon-button: 4 * $sz-base !default;

$c-molecule-modal-close-icon-button: currentcolor !default;
$bgc-molecule-modal-close-icon-button: transparent !default;
$bgc-molecule-modal-close-icon-button-hover: color-mix(in srgb, $c-black 5%, transparent) !default;
