$px-molecule-modal-body: $px-molecule-modal-content !default;
$py-molecule-modal-body: $py-molecule-modal-content !default;

$bgc-molecule-modal-body-scrollbar-track: color-mix(in srgb, $c-black 10%, $c-white) !default;
$bdc-molecule-modal-body-scrollbar-track: color-mix(in srgb, $c-black 20%, $c-white) !default;

$bgc-molecule-modal-body-scrollbar-thumb: color-mix(in srgb, $c-black 30%, $c-white) !default;
$bdc-molecule-modal-body-scrollbar-thumb: transparent !default;

