@use 'sass:math';

$base-class-element: '#{$base-class}-Body';

#{$base-class-element} {
  overflow: hidden;
  flex-grow: 0;
  display: flex;
  flex-flow: column;
  &:not(#{$base-class-element}-is-inset) {
    padding-inline: $px-molecule-modal-body;
    padding-block: $py-molecule-modal-body;
  }
  &:has(#{$base-class-element}-is-inset) {
    padding-inline: 0;
    margin-block: 0;
  }
}
