$z-molecule-modal-content: $z-molecule-modal !default;
$bkg-molecule-modal-content: $c-white !default;

$mx-molecule-modal-content: $m-xl !default; // margin inline
$my-molecule-modal-content: $m-l !default; // margin block

$px-molecule-modal-content: $p-xl !default; // padding inline
$py-molecule-modal-content: $p-l !default; // padding block

$bdrs-molecule-modal-content: $bdrs-molecule-modal-dialog !default;

$s-molecule-modal-content: $s-molecule-modal-dialog !default;

$pr-molecule-modal-content-header-close-icon-button: 2 * $mx-molecule-modal-content !default;
