$base-class-element: '#{$base-class}-Overlay';

#{$base-class-element} {
  background-color: $bgc-molecule-modal-overlay;
  position: fixed;
  inset: 0;
  display: block;
  top: 0;
  bottom: 0;
  z-index: calc($z-molecule-modal - 1);
  &[data-animation='true'] {
    &[data-state='open'] {
      animation: sui-modal-overlay-fade-in $animdur-molecule-modal-portal ease-in;
    }
    &[data-state='closed'] {
      animation: sui-modal-overlay-fade-out $animdur-molecule-modal-portal ease-out;
    }
  }
  @keyframes sui-modal-overlay-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes sui-modal-overlay-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
