@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-molecule-field/lib/index';
@import '~@s-ui/react-atom-checkbox/lib/index';

$fw-molecule-checkbox-field-label: $fw-atom-label !default;
$c-molecule-checkbox-field-label: $c-atom-label !default;

.sui-MoleculeCheckboxField {
  input[type='checkbox'] {
    margin: 0;
  }

  label {
    cursor: pointer;
    font-weight: $fw-molecule-checkbox-field-label;
    color: $c-molecule-checkbox-field-label;
  }

  &-toggleIcon {
    cursor: pointer;
    order: 1;
    position: absolute;
    right: 0;
  }
}
