@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-molecule-field/lib/index';
@import '~@s-ui/react-atom-checkbox/lib/index';

.sui-MoleculeCheckboxField {
  input[type='checkbox'] {
    margin: 0;
  }

  label {
    cursor: pointer;
  }

  &-toggleIcon {
    cursor: pointer;
    order: 1;
    position: absolute;
    right: 0;
  }
}
