@import '~@s-ui/react-atom-spinner/lib/index';

@import '../src/index';

.DemoMoleculeThumbnail {
  padding: 20px;

  &-table {
    margin-bottom: 20px;
  }

  &-cell {
    width: 25%;
    vertical-align: top;
    text-align: center;
  }
}
