@import '~@s-ui/theme/lib/index';

$w-atom-radiobutton: $sz-icon-s !default;
$h-atom-radiobutton: $sz-icon-s !default;
$bc-atom-radiobutton: $c-gray !default;
$bc-atom-radiobutton-disabled: $c-gray-light-3 !default;
$bw-atom-radiobutton: $bdw-s !default;
$bc-atom-radiobutton-checked: $c-primary !default;
$bw-atom-radiobutton-checked: 6px !default;

$m-atom-radiobutton-type-left: $m-m !default;
$m-atom-radiobutton-type-right: $m-m !default;

.sui-AtomRadioButton {
  -webkit-appearance: none;
  outline: none;

  border-width: $bw-atom-radiobutton;
  border-style: solid;
  border-color: $bc-atom-radiobutton;

  width: $w-atom-radiobutton;
  height: $h-atom-radiobutton;
  border-radius: 50%;

  cursor: pointer;
  display: inline-block;
  padding: 0;
  vertical-align: top;

  margin-left: $m-atom-radiobutton-type-left;
  margin-right: $m-atom-radiobutton-type-right;

  &.is-hidden {
    display: none;
  }

  &:checked {
    border-color: $bc-atom-radiobutton-checked;
    border-width: $bw-atom-radiobutton-checked;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: $bc-atom-radiobutton-disabled;
  }
}
