@import '~@schibstedspain/sui-theme/lib/index';

$w-atom-radiobutton: 15px !default;
$h-atom-radiobutton: 15px !default;
$bc-atom-radiobutton: $c-gray !default;
$bw-atom-radiobutton: $bdw-s !default;
$bc-atom-radiobutton-checked: #6199f4 !default;
$bw-atom-radiobutton-checked: 6px !default;

$fs-atom-radiobutton-label: 14px !default;
$lh-atom-radiobutton-label: 130% !default;
$maw-atom-radiobutton: 32px !default;
$mt-atom-radiobutton-input: 3px !default;

$m-atom-radiobutton-type-left: $m-m !default;
$m-atom-radiobutton-type-right: $m-m !default;

.sui-AtomRadioButton {
  border-width: $bw-atom-radiobutton;
  border-style: solid;
  border-color: $bc-atom-radiobutton;

  outline: none;
  -webkit-appearance: none;
  width: $w-atom-radiobutton;
  height: $h-atom-radiobutton;
  border-radius: 50%;

  border: $bdrs-none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  vertical-align: top;

  &.is-hidden {
    display: none;
  }

  &[type='radio'] {
    margin-left: $m-atom-radiobutton-type-left;
    margin-right: $m-atom-radiobutton-type-right;

    border-width: $bdw-s;
    border-style: solid;
    border-color: $bc-atom-radiobutton;

    outline: none;
    -webkit-appearance: none;
    width: $w-atom-radiobutton;
    height: $h-atom-radiobutton;
    border-radius: 50%;

    &:checked {
      border-color: $bc-atom-radiobutton-checked;
      border-width: $bw-atom-radiobutton-checked;
    }
  }

  @each $state, $color in $states-atom-input {
    &.sui-AtomRadioButton--#{$state} {
      border-color: $color;
    }
  }
}
