$base-class: '.sui-MoleculePhoneInput';

#{$base-class} {
  display: flex;
  flex-direction: column;
  gap: $m-l;
  position: relative;

  &.withLabel {
    padding-top: $p-xl;
  }

  &-input {
    border-radius: $bdrs-l;
    border: $bdw-s solid $c-gray-light;
    display: flex;
    height: $h-molecule-phone-input;

    &.sui-MoleculePhoneInput--error {
      border-color: $c-error;
    }

    &.disabled {
      background: $c-gray-light-4;

      & .sui-AtomInput-input {
        border: none;
      }
    }

    &.splitted {
      border: none;
      gap: $m-s;
    }

    &-phone {
      border: none;
      outline: none;
      width: 100%;

      &Container {
        width: 100%;
        align-items: center;
        display: flex;

        & > input {
          background: none;
        }

        & .sui-AtomInput-input {
          position: relative;
          padding-left: 0;

          &:focus {
            border: none;
            box-shadow: none;
          }
        }

        & span.sui-AtomHelpText,
        & span.sui-AtomValidationText {
          bottom: -$m-s;
          left: 0;
          position: absolute;
          transform: translate(0, 100%);
        }

        & .sui-MoleculeField .sui-AtomInput-input {
          font-size: $fz-molecule-phone-input-input;
        }

        & .sui-MoleculeField-labelContainer {
          left: 0;
          position: absolute;
          top: 0;
        }

        &.splitted {
          border-radius: $bdrs-l;
          border: $bdw-s solid $c-gray-light;
          width: 100%;

          &.sui-MoleculePhoneInput--error {
            border-color: $c-error;
          }
        }
      }
    }

    &-prefix {
      align-items: center;
      background-color: $c-gray-light-5;
      border-radius: $bdrs-l;
      display: flex;
      gap: $p-m;
      justify-content: center;
      padding: $p-m $p-l;

      &.disabled {
        background-color: $c-gray-light-3;
      }

      &.splitted {
        background-color: transparent;
        border: $bdw-s solid $c-gray-light;

        &.sui-MoleculePhoneInput--error {
          border-color: $c-error;
        }
      }

      &-flag {
        font-size: $fz-l;
      }

      &-code {
        align-items: center;
        color: $c-gray;
        font-size: $fz-molecule-phone-input-input-prefix-code;
        display: flex;
        margin: 0;
        padding: 0;
        padding: 0 $m-m;
      }
    }

    &-icon {
      margin-left: auto;
      padding-right: $p-l;
    }
  }

  &-dropdown {
    position: absolute;
    top: 45px;
    width: 100%;
    z-index: 1;
    border: $bdw-s solid $c-gray-light;
    border-radius: $bdrs-l;

    & > ul {
      border-radius: $bdrs-l;
    }

    &-option {
      display: flex;
      align-items: center;

      &-flag {
        font-size: $fz-l;
      }

      &-label {
        margin-left: $m-m;
        font-size: $fz-molecule-phone-input-dropdown-option-label;
      }

      &-code {
        font-weight: $fw-regular;
        margin-left: $m-s;
      }
    }
  }

  &-label {
    font-size: $fz-molecule-phone-input-label;
    font-weight: $fw-semi-bold;
    margin: 0;
  }

  &-info {
    font-size: $fz-molecule-phone-input-info;
  }
}
