$h-molecule-phone-input: 40px !default;
$fz-molecule-phone-input-input-prefix-code: $fz-m !default;
$fz-molecule-phone-input-input: $fz-base !default;
$fz-molecule-phone-input-dropdown-option-label: $fz-m !default;
$fz-molecule-phone-input-label: $fz-s !default;
$fz-molecule-phone-input-info: $fz-xs !default;
