// Gradient.
$h-collapsible-read-more-gradient: 75px !default;
$c-collapsible-read-mode-gradient-initial: rgba(255, 255, 255, 0) !default;
$c-collapsible-read-mode-gradient-final: rgba(255, 255, 255, 1) !default;
$bg-collapsible-read-more-gradient: linear-gradient(to bottom, $c-collapsible-read-mode-gradient-initial, $c-collapsible-read-mode-gradient-final);

// Read more link.
$c-collapsible-read-mode-link: $c-primary !default;
$fz-collapsible-read-mode-link: $fz-s !default;
$fw-collapsible-read-mode-link: $fw-regular !default;
$lh-collapsible-read-mode-link: $lh-s !default;

// Transitions settings.
$trsdu-collapsible-read-more: .3s !default;
$trstfu-collapsible-read-more: ease-in-out !default;

// Animated transitions and transformations.
$trf-collapsible-read-more-ellipsis-icon: rotateZ(180deg) !default;
$trs-collapsible-read-more-content-wrapper: max-height $trsdu-collapsible-read-more $trstfu-collapsible-read-more;
$trs-collapsible-read-more-ellipsis-icon: transform $trsdu-collapsible-read-more $trstfu-collapsible-read-more;
