$base-class: '.react-AtomTable';

#{$base-class} {
  background-color: $bgc-atom-table;
  border-collapse: collapse;
  border-radius: $bdrs-atom-table;
  color: $c-gray-dark;
  font-size: $fz-s;
  padding: 0;
  overflow: hidden;

  &--fullWidth {
    width: 100%;
  }

  &-headerCell {
    background-color: $bgc-atom-table-header-cell;
    font-weight: $fw-regular;
    text-align: left;
    color: $c-atom-table-header-cell;
  }

  &-row {
    &--zebraStriped {
      &:nth-child(2n + 2) {
        background-color: $bgc-atom-table-row;
      }
    }

    &--actionable {
      cursor: pointer;

      &:hover {
        background-color: $bgc-atom-table-row-actionable--hover;
      }

      &:active {
        background-color: $bgc-atom-table-row-actionable--active;
      }
    }
  }

  &-cell {
    &--borderBottom {
      border-bottom: $bd-atom-table-row;
    }

    &--xs {
      padding: $p-xs;
    }
    &--s {
      padding: $p-s;
    }
    &--m {
      padding: $p-m;
    }
    &--l {
      padding: $p-l;
    }
    &--xl {
      padding: $p-xl;
    }

    &--noWrap {
      white-space: nowrap;
    }
  }
}
