$bgc-atom-table: inherit !default;
$bgc-atom-table-header-cell: transparent !default;
$bgc-atom-table-row: $c-gray-light-4 !default;
$bdrs-atom-table: 0 !default;
$bgc-atom-table-row-actionable--hover: $c-gray-light-4 !default;
$bgc-atom-table-row-actionable--active: $c-gray-light-3 !default;
$bd-atom-table-row: $bdw-s solid $c-gray-light-5 !default;
$c-atom-table-header-cell: $c-gray-dark !default;
$bdb-atom-table-header-cell: none !default;
