@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-molecule-field/lib/index';
@import '~@s-ui/react-atom-radio-button/lib/index';

.sui-MoleculeRadioButtonField {
  input[type='radio'] {
    margin: 0;
  }
  .sui-AtomLabel {
    cursor: pointer;
    left: 23px;
    top: -1px;
  }
}
