@import '~@s-ui/theme/lib/index';

$bg-progress-bar: $c-gray-lightest !default;
$bc-progress-bar: $c-gray-light !default;
$c-progress-bar-fill: $c-primary !default;

$trsdu-progress-bar: 500ms !default;
$trstf-progress-bar: linear !default;

$bd-line-progress-container: $bdw-s solid $bc-progress-bar !default;
// these two values below are deprecated, keeping for retro-compatibility
$br-progress-container: $bdrs-base !default;
$br-progress-bar: $bdrs-base !default;
// this component uses $bdrs for border radius 
$bdrs-progress-bar: $br-progress-bar !default;
$bdrs-progress-container: $br-progress-container !default;
$h-progress-bar: $m-base !default;

.sui-AtomLineProgressBarV2 {
  &-indicator {
    display: inline-block;
    font-size: $fz-s;
    line-height: $lh-s;

    &--top {
      margin-bottom: $m-base;
    }

    &--bottom {
      margin-top: $m-base;
    }
  }

  &-container {
    background: $bg-progress-bar;
    border: $bd-line-progress-container;
    border-radius: $bdrs-progress-container;
    height: $h-progress-bar; /* Can be anything */
    position: relative;
  }

  &-bar {
    background-color: $c-progress-bar-fill;
    border-radius: $bdrs-progress-bar;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;

    &--animated {
      transition: width $trsdu-progress-bar $trstf-progress-bar;
    }
  }
}
