@import '~@schibstedspain/sui-theme/lib/index';

$c-form-checkbox-icon: $c-primary !default;
$c-form-checkbox-text-label: $c-gray-dark !default;
$fz-form-checkbox-text-label: $fz-s !default;
$fw-form-checkbox-text-label: $fw-regular !default;
$c-form-checkbox-error-message: $c-error !default;
$fz-form-checkbox-error-message: $fz-s !default;
$fw-form-checkbox-error-message: $fw-regular !default;

.sui-FormCheckbox {
  &-container {
    display: flex;
  }

  &-input {
    display: none;
  }

  &-icon {
    @include sui-icon--small;
    cursor: pointer;
    fill: $c-form-checkbox-icon !important; // sass-lint:disable-line no-important
    flex: 0 0 auto;
  }

  &-label {
    color: $c-form-checkbox-text-label;
    cursor: pointer;
    display: inline-flex;
    font-size: $fz-form-checkbox-text-label;
    font-weight: $fw-form-checkbox-text-label;
    padding-left: $p-s;
    vertical-align: top;
  }

  &-errorMessage {
    cursor: default;
    margin: $m-s 0 0 $m-l;
    padding-left: $p-s;

    &Label {
      color: $c-form-checkbox-error-message;
      font-size: $fz-form-checkbox-error-message;
      font-weight: $fw-form-checkbox-error-message;
    }
  }
}
