@import '~@schibstedspain/sui-theme/lib/index';
@import '~antd/lib/table/style/index';

$class-ant-table-column-title: '.ant-table-column-title';
$class-ant-table-thead: '.ant-table-thead';
$class-ant-table-tbody: '.ant-table-tbody';
$class-ant-table-title: '.ant-table-title';
$class-ant-table-row-selected: '.ant-table-row-selected';
$class-ant-table-column-has-actions: '.ant-table-column-has-actions';
$class-ant-table-column-has-sorters: '.ant-table-column-has-sorters';
$class-ant-table-header-column: '.ant-table-header-column';
$class-ant-table-column-sorters: '.ant-table-column-sorters';

$c-table-title: $c-black !default;
$c-table-td: $c-black !default;
$c-table-th: $c-gray-dark-1 !default;

$bg-table-body-row-hover: $c-primary-light-5 !default;
$bg-table-th: $c-gray-light-4 !default;

$c-table-actions-icons: $c-primary !default;
$w-table-action-icon: 16px !default;
$h-table-action-icon: 16px !default;

$fz-table-title: $fz-xl !default;
$fz-table-thead-cell: $fz-s !default;
$fz-table-tbody-cell: $fz-m !default;



.sui-MoleculeTable {
  display: block;

  table {
    table-layout: fixed;
    width: 100%;
  }

  #{$class-ant-table-column-title} {
    text-transform: uppercase;
  }

  #{$class-ant-table-tbody} > tr:hover > td,
  #{$class-ant-table-tbody} > tr#{$class-ant-table-row-selected} > td {
    background: $bg-table-body-row-hover;
  }

  #{$class-ant-table-thead} > tr > th #{$class-ant-table-header-column} #{$class-ant-table-column-sorters}:hover::before {
    background: $bg-table-th;
  }

  #{$class-ant-table-thead} > tr > th,
  #{$class-ant-table-thead}:hover > tr > th,
  #{$class-ant-table-thead} > tr:hover > th,
  #{$class-ant-table-thead} > tr > th:hover {
    background: $bg-table-th;
  }

  #{$class-ant-table-tbody} > tr:hover > td &-actions {
    visibility: visible;
  }

  #{$class-ant-table-title} {
    color: $c-table-title;
    font-size: $fz-table-title;
  }

  thead tr th {
    color: $c-table-th;
    font-size: $fz-table-thead-cell;
    font-weight: normal;
  }

  thead tr td {
    color: $c-table-td;
    font-size: $fz-table-tbody-cell;
    font-weight: normal;
  }

  &-actions {
    visibility: hidden;

    svg {
      height: $h-table-action-icon;
      margin: 0 $m-s;
      width: $w-table-action-icon;
    }

    svg,
    use {
      fill: $c-table-actions-icons;
    }
  }

  &-mobile {
    background: $c-gray-lightest;
    border: $bdw-s solid $c-gray-light;
    padding: $p-l;

    &-row {
      background: $c-white;
      border: $bdw-s solid $c-gray-light;
      margin: $m-m 0;

      &-cell {
        padding: $p-m;

        &-title {
          color: $c-gray-dark;
          margin-bottom: $m-m;
          text-transform: uppercase;
        }
      }
    }
  }
}
