@import '~@schibstedspain/sui-theme/lib/index';
@import '~antd/lib/table/style/index';

$c-table-title: $c-black !default;
$c-table-td: $c-black !default;
$c-table-th: $c-gray-dark-1 !default;

.sui-MoleculeTable {
  display: block;

  .ant-table-title {
    color: $c-table-title;
    font-size: 20px;
  }

  thead tr th {
    color: $c-table-th;
    font-size: 14px;
    font-weight: normal;
  }

  thead tr td {
    color: $c-table-td;
    font-size: 16px;
    font-weight: normal;
  }
}
