$c-dropdown-option-disabled: color-variation($c-gray, 3) !default;
$mih-dropdown-option: 40px !default;
$h-dropdown-option: $mih-dropdown-option !default; // deprecated
$bgc-dropdown-option-hover: $c-gray-light-4 !default;
