@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-atom-input/lib/index';
@import './settings';

.sui-MoleculeDropdownOption {
  align-items: center;
  display: flex;
  height: $h-dropdown-option;
  padding: 0 $p-l;

  &-checkbox {
    padding-left: $p-s;
  }

  &-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--selected:not(&-checkbox) &-text {
    font-weight: $fw-bold;
  }

  &--disabled {
    color: $c-dropdown-option-disabled;
  }

  &:hover {
    background-color: $c-gray-lightest;
  }
}
