@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-checkbox/lib/index';
@import './settings';

$c-molecule-dropdown-option--highlight-mark: initial !default;
$bdr-molecule-dropdown-option: 0 !default;
$bdrs-molecule-dropdown-option: $bdr-molecule-dropdown-option !default;
$bg-molecule-dropdown-option--highlight-mark: $c-highlight !default;
$bg-molecule-dropdown-option-selected: none !default;
$fw-molecule-dropdown-option-selected-text: $fw-bold !default;
$fz-molecule-dropdown-option-text: inherit !default;
$fw-molecule-dropdown-option--highlight-mark: normal !default;
$lh-molecule-dropdown-option-line-wrap-text: $lh-m !default;
$ln-molecule-dropdown-option-two-lines-text: $lh-molecule-dropdown-option-line-wrap-text !default; // deprecated
$ml-molecule-dropdown-option-text: $m-s !default;
$p-molecule-dropdown-option: $p-l !default;
$pl-molecule-dropdown-option: $p-molecule-dropdown-option !default;
$pr-molecule-dropdown-option: $p-molecule-dropdown-option !default;
$pt-molecule-dropdown-option: 0 !default;
$pb-molecule-dropdown-option: 0 !default;
$mt-molecule-dropdown-option: 0 !default;
$mr-molecule-dropdown-option: 0 !default;
$mb-molecule-dropdown-option: 0 !default;
$ml-molecule-dropdown-option: 0 !default;

.sui-MoleculeDropdownOption {
  align-items: center;
  border-radius: $bdrs-molecule-dropdown-option;
  display: flex;
  min-height: $mih-dropdown-option;
  padding: $pt-molecule-dropdown-option $pr-molecule-dropdown-option
    $pb-molecule-dropdown-option $pl-molecule-dropdown-option;
  margin: $mt-molecule-dropdown-option $mr-molecule-dropdown-option
    $mb-molecule-dropdown-option $ml-molecule-dropdown-option;

  &-mark {
    color: $c-molecule-dropdown-option--highlight-mark;
    &.is-highlighted {
      background-color: $bg-molecule-dropdown-option--highlight-mark;
      font-weight: $fw-molecule-dropdown-option--highlight-mark;
    }
  }

  &-checkbox {
    padding-left: $p-s;
  }

  &-text {
    font-size: $fz-molecule-dropdown-option-text;
    flex-basis: 100%;
    overflow: hidden;
    margin-left: $ml-molecule-dropdown-option-text;
    text-overflow: ellipsis;

    &--noWrap {
      white-space: nowrap;
    }

    &--lineWrap,
    &--twoLines,
    &--threeLines {
      line-height: $lh-molecule-dropdown-option-line-wrap-text;
    }

    &--twoLines,
    &--threeLines {
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    &--twoLines {
      -webkit-line-clamp: 2;
    }
    &--threeLines {
      -webkit-line-clamp: 3;
    }
  }

  &.is-selected:not(&-checkbox) {
    background: $bg-molecule-dropdown-option-selected;
  }

  &.is-selected:not(&-checkbox) &-text {
    font-weight: $fw-molecule-dropdown-option-selected-text;
  }

  &--disabled {
    color: $c-dropdown-option-disabled;
  }

  &:hover,
  &:focus {
    background-color: $bgc-dropdown-option-hover;
    cursor: pointer;
    outline: none;
  }
}
