$bd-collapsible-btn-focus: 0 0 0 1px  $c-gray inset !default;
$bd-collapsible-container: 1px $c-gray-lightest groove !default;
$bd-collapsible-container-none: 0 $c-gray-lightest groove !default;
$bgc-collapsible-container: $c-white !default;
$bgc-collapsible-container-transparent: rgba($bgc-collapsible-container, 0);
$bg-collapsible-container-gradient: linear-gradient(
  to top,
  $bgc-collapsible-container 20%,
  $bgc-collapsible-container-transparent 80%
);
$c-collapsible-btn: $c-primary !default;
$c-collapsible-icon: $c-collapsible-btn !default;
$c-collapsible-text: $c-text-base !default;
$h-collapsible-btn: 40px !default;
$h-collapsible-container-gradient: 48px !default;
$mh-collapsible-btn: 24px !default;
$mt-collapsible-btn: $m-l !default;
$p-collapsible-btn: $p-s !default;
$p-collapsible-content: $p-m $p-l !default;
$trs-collapsible-content: all .25s ease-in-out !default;
