$bgc-collapsible-container: $c-white !default;
$bgc-collapsible-container-transparent: rgba($bgc-collapsible-container, 0);
$bg-collapsible-container-gradient: linear-gradient(
  to top,
  $bgc-collapsible-container 0%,
  $bgc-collapsible-container-transparent 100%
);
$c-collapsible-btn: $c-primary !default;
$c-collapsible-icon: $c-collapsible-btn !default;
$h-collapsible-container-gradient: 48px !default;
$mh-collapsible-btn: 24px !default;
$mt-collapsible-btn: 16px !default;
$p-collapsible-btn: 4px !default;

