# project
public/

# environment
.env

# OS
.DS_Store

# server
.tern-port

# IDEs
.vscode/
.idea

# framework
.vercel

# language
node_modules/
lib/
*/**/lib/
npm-debug.log
components/**/**/themes
.npmrc
package-lock.json
*/**/package-lock.json

# coverage
coverage/
.coverage/