@import '~@s-ui/react-atom-textarea/lib/index';

.FormDemoMoleculeField-FormWithState {
  margin: 50px;
}

.FormDemoMoleculeField-title {
  margin-left: 10px;
}

.FormDemoMoleculeField-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.FormDemoMoleculeField-listItem {
  margin: 20px;
}