$w-atom-radiobutton: $sz-icon-s !default;
$h-atom-radiobutton: $sz-icon-s !default;
$bc-atom-radiobutton: $c-gray !default;
$bc-atom-radiobutton-disabled: $c-gray-light-3 !default;
$bw-atom-radiobutton: $bdw-s !default;
$bc-atom-radiobutton-checked: $c-primary !default;
$bw-atom-radiobutton-checked: 6px !default;
$bg-atom-radiobutton-checked: transparent !default;

$m-atom-radiobutton-type-left: $m-m !default;
$m-atom-radiobutton-type-right: $m-m !default;
