@import '~@schibstedspain/sui-theme/lib/settings';
@import '~@schibstedspain/sui-theme/lib/index';

$r-atom-input-password-toggle-button: $gutter;
$pr-atom-input-password-input: 60px;

.sui-AtomInput {
  &-password {
    position: relative;
    width: 100%;

    &-input {
      border: 1px solid $c-gray-light;
      font-size: $fz-base;
      padding-left: $p-l;
      padding-right: $p-l;
      width: 100%;
      padding-right: $pr-atom-input-password-input;
    }

    &-toggle-button {
      color: $c-primary;
      cursor: pointer;
      position: absolute;
      right: $r-atom-input-password-toggle-button;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
