@import '~@s-ui/theme/lib/index';

$c-progress-steps-bar: $c-gray-light !default;
$c-progress-steps-label: $c-gray-dark-2 !default;
$c-progress-steps-icon: $c-gray-light !default;
$c-progress-steps-icon-use: $c-white !default;
$sz-progress-steps-icon: $sz-icon-m;

$c-progress-steps-active: $c-primary !default;

$bdw-progress-steps-bar: 2px !default;
$h-progress-steps-bar: $bdw-progress-steps-bar * 2 !default;

$fz-progress-steps-number: $fz-xxl !default;
$fw-progress-steps-number: $fw-regular !default;

$base-class: '.sui-MoleculeProgressSteps';
.sui-MoleculeProgressSteps {
  &-path {
    align-items: center;
    display: flex;
    justify-content: space-between;
    &-fullStep {
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        flex-grow: 1;
      }
      &--vertical {
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
      }
      &--horizontal {
        flex-direction: row;
        width: 100%;
      }
    }
    &-labelBar {
      display: flex;
      flex-grow: 1;
    }
    &-bar {
      background: $c-progress-steps-bar;
      border-color: $c-progress-steps-bar;
      border-radius: 10px;
      border-style: solid;
      border-width: $bdw-progress-steps-bar;
      height: $h-progress-steps-bar;
      width: 100%;
      margin-block-start: 0;
      margin-block-end: 0;

      &--visited {
        background: $c-progress-steps-active;
        border-color: $c-progress-steps-active;
      }
    }

    &-step {
      align-items: center;
      color: $c-progress-steps-label;
      display: flex;
      flex-direction: column;
      justify-content: center;

      svg {
        width: $sz-progress-steps-icon;
        height: $sz-progress-steps-icon;
        fill: $c-progress-steps-icon;
        use {
          fill: $c-progress-steps-icon-use;
        }
      }

      &--active,
      &--visited {
        color: $c-progress-steps-active;

        svg,
        use {
          fill: $c-progress-steps-active;
        }
      }

      &-number,
      &-icon {
        align-items: center;
        display: flex;
        margin: 5px;
        padding: 0;
        width: 40px;

        svg {
          width: 100%;
        }
      }

      &-number {
        align-items: center;
        display: flex;
        font-size: $fz-progress-steps-number;
        font-weight: $fw-progress-steps-number;
        justify-content: center;
      }

      &-description {
        color: $c-progress-steps-label;
        hyphens: auto;
        margin-top: 55px;
        overflow-wrap: break-word;
        position: absolute;
        text-align: center;
        width: 100px;
        word-wrap: break-word;
      }
    }
  }

  &--compressed {
    #{$base-class}-compressedInfo {
      margin: 0;
    }

    #{$base-class}-path {
      &-bar {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      &-step {
        &-description {
          left: 0;
          margin: 0;
          text-align: left;
        }
      }
    }
  }

  &--vertical {
    display: flex;
    height: 100%;

    #{$base-class}-path {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 100px;

      &-labelBar {
        min-height: 30px;
      }

      &-step {
        flex-direction: row;
        position: relative;

        &-description {
          margin: 0;
          position: unset;
          width: 100px;
          text-align: left;
        }
      }
      &-bar {
        margin: 0 21px;
        height: 100%;
        transform: translateY(0);
        width: 1px;
      }
    }

    #{$base-class}-path-step-icon + #{$base-class}-path-step-description {
      left: 55px;
    }
  }

  &-path-fullStep--isInline {
    #{$base-class}-path-step {
      &-description {
        width: auto;
      }
    }
  }
}
