@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';

$bgc-header-actions: $c-primary !default;
$h-header-actions: 40px !default;
$c-header-actions: $c-white !default;
$h-header-actions-icon: 36px !default;
$w-header-actions-icon: 36px !default;

.sui-HeaderActions {
  align-items: center;
  background-color: $bgc-header-actions;
  color: $c-header-actions;
  display: flex;
  justify-content: space-between;

  &-title {
    width: 100%;
  }

  &-icon {
    fill: $c-header-actions;
    height: $h-header-actions-icon;
    width: $w-header-actions-icon;
  }

  &-button {
    margin-right: 8px;
  }
}

@media print {

}
