$bd-atom-tag: none !default;
$bgc-atom-tag: color-variation($c-gray, 3) !default;
$mw-label: 240px !default;

// sizes
$h-atom-tag-xl: calc($h-atom-input--xl - $sz-base) !default;
$h-atom-tag-l: calc($h-atom-input--l - $sz-base) !default;
$h-atom-tag-m: calc($h-atom-input--m - $sz-base) !default;
$h-atom-tag-s: calc($h-atom-input--s - $sz-base) !default;
$h-atom-tag-xs: calc($h-atom-input--xs - $sz-base) !default;

$m-atom-tag: $m-m !default;

$p-atom-tag-xl: 0 $p-xxl !default;
$p-atom-tag-l: 0 $p-xl !default;
$p-atom-tag-m: 0 $p-l !default;
$p-atom-tag-s: 0 $p-m !default;
$p-atom-tag-xs: 0 $p-s !default;

$p-atom-tag-hasIcon-hasClose: (
  xs: 0 $p-s 0 0,
  s: 0 $p-m 0 0,
  m: 0 $p-l 0 0,
  l: 0 $p-xl 0 0,
  xl: 0 $p-xxl 0 0
) !default;

$sz-atom-tag: (
  'xs' $h-atom-tag-xs $p-atom-tag-xs,
  's' $h-atom-tag-s $p-atom-tag-s,
  'm' $h-atom-tag-m $p-atom-tag-m,
  'l' $h-atom-tag-l $p-atom-tag-l,
  'xl' $h-atom-tag-xl $p-atom-tag-xl
) !default;

$c-atom-tag: (
  primary: (
    color: $c-primary,
    onColor: $c-white
  ),
  accent: (
    color: $c-accent,
    onColor: $c-white
  ),
  success: (
    color: $c-success,
    onColor: $c-white
  ),
  alert: (
    color: $c-alert,
    onColor: $c-white
  ),
  error: (
    color: $c-error,
    onColor: $c-white
  ),
  neutral: (
    color: $c-gray,
    onColor: $c-white
  ),
  surface: (
    color: $c-white,
    onColor: $c-black
  )
) !default;

// types
$atom-tag-types: () !default;

// closable
$bgc-atom-tag-closable-icon: transparent !default;
$c-atom-tag-closable-icon: inherit !default;
$bgc-atom-tag-closable-icon--hover: color-variation($c-atom-tag-closable-icon, 2) !default;
$c-atom-tag-closable-icon--hover: $c-gray-light-3 !default;
