$bd-atom-tag: none !default;
$bgc-atom-tag: color-variation($c-gray, 3) !default;
$mw-label: 240px !default;

// sizes
$h-atom-tag-xl: calc($h-atom-input--xl - $sz-base) !default;
$h-atom-tag-l: calc($h-atom-input--l - $sz-base) !default;
$h-atom-tag-m: calc($h-atom-input--m - $sz-base) !default;
$h-atom-tag-s: calc($h-atom-input--s - $sz-base) !default;
$h-atom-tag-xs: calc($h-atom-input--xs - $sz-base) !default;

$m-atom-tag: $m-m !default;

$p-atom-tag-xl: 0 $p-xxl !default;
$p-atom-tag-l: 0 $p-xl !default;
$p-atom-tag-m: 0 $p-l !default;
$p-atom-tag-s: 0 $p-m !default;
$p-atom-tag-xs: 0 $p-s !default;

$p-atom-tag-hasIcon-hasClose: (
  s: $p-atom-tag-s,
  m: $p-atom-tag-m,
  l: $p-atom-tag-l
) !default;

$sz-atom-tag: (
  'xs' $h-atom-tag-xs $p-atom-tag-xs,
  's' $h-atom-tag-s $p-atom-tag-s,
  'm' $h-atom-tag-m $p-atom-tag-m,
  'l' $h-atom-tag-l $p-atom-tag-l,
  'xl' $h-atom-tag-xl $p-atom-tag-xl
) !default;

// outline
$bc-atom-tag-outline: color-variation($c-gray, 3) !default;
$bdw-atom-tag-outline: $bdw-s !default;
$bgc-atom-tag-outline: $c-white !default;

// actionable
$bgc-atom-tag-actionable: $c-primary !default;
$bgc-atom-tag-actionable--hover: $c-primary-dark !default;
$c-atom-tag-actionable: $c-white !default;
$bd-atom-tag-actionable: none !default;
$thc-atom-tag-actionable: inherit !default;
$bgc-atom-tag-actionable-invert: $c-white !default;
$bgc-atom-tag-actionable-invert--hover: $c-primary !default;
$c-atom-tag-actionable-invert: $c-primary !default;
$c-atom-tag-actionable-invert--hover: $c-white !default;

// clickable
$w-atom-tag-clickable: 32px !default;

// closable
$bgc-atom-tag-closable-icon: transparent !default;
$c-atom-tag-closable-icon: $c-black !default;
$bgc-atom-tag-closable-icon--hover: $c-gray !default;
$c-atom-tag-closable-icon--hover: $c-gray-light-3 !default;

// types
$atom-tag-types: () !default;

@mixin icon-atom-tag($type) {
  align-items: center;
  @include sui-icon--small;
  display: flex;
  justify-content: center;
  line-height: initial;
  vertical-align: middle;
}

@mixin icon-secondary-clickable-area($size) {
  &::before {
    content: '';
    height: $size;
    position: absolute;
    right: 0;
    top: 0;
    width: $w-atom-tag-clickable;
  }
}
