@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';

$bd-atom-tag: none !default;
$bgc-atom-tag: color-variation($c-gray, 3) !default;
$bgc-atom-tag-actionable: $c-primary !default;
$bgc-atom-tag-actionable--hover: $c-primary-dark !default;
$c-atom-tag-actionable: $c-white !default;
$bd-atom-tag-actionable: none !default;
$h-atom-tag-l: 40px !default;
$h-atom-tag-m: 32px !default;
$h-atom-tag-s: 24px !default;
$m-atom-tag: $m-m !default;
$mw-label: 240px !default;
$p-atom-tag-l: 0 $p-l !default;
$p-atom-tag-m: 0 $p-l !default;
$p-atom-tag-s: 0 $p-m !default;
$w-atom-tag-clickable: 32px !default;
$atom-tag-types: () !default;
$bgc-atom-tag-closable-icon--hover: $c-system !default;
$c-atom-tag-closable-icon--hover: $c-gray !default;

@mixin icon-atom-tag($type) {
  @include sui-icon--small;
  display: inline-block;
  line-height: initial;
  vertical-align: middle;

  @if $type == 'icon' {
    margin: 0 $m-s 0 (-$m-m);
  } @else if $type == 'icon-secondary' {
    margin: 0 (-$m-m) 0 $m-m;
  }
}

@mixin icon-secondary-clickable-area($size) {
  &::before {
    content: '';
    height: $size;
    position: absolute;
    right: 0;
    top: 0;
    width: $w-atom-tag-clickable;
  }
}

.sui-AtomTag {
  background-color: $bgc-atom-tag;
  border: $bd-atom-tag;
  border-radius: ceil($h-atom-tag-m / 2);
  box-sizing: border-box;
  display: inline-block;
  font-size: $fz-s;
  height: $h-atom-tag-m;
  margin: 0 $m-atom-tag $m-atom-tag 0;
  padding: $p-atom-tag-m;
  position: relative;
  white-space: nowrap;

  &-label {
    // max width - 2 icon size
    $w-label-base: $mw-label - ($p-l * 2);
    display: inline-block;
    line-height: $h-atom-tag-m;
    max-width: $w-label-base;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    // if only one icon is set
    .sui-AtomTag-hasIcon &,
    .sui-AtomTag-hasClose & {
      max-width: $w-label-base - ($p-l + $m-s);
    }

    // if both icons are set
    .sui-AtomTag-hasIcon.sui-AtomTag-hasClose & {
      max-width: $w-label-base - ($p-l + $m-s) * 2;
    }
  }

  &-closeable {
    @include icon-secondary-clickable-area($h-atom-tag-m);

    &Icon {
      cursor: pointer;
      line-height: initial;
      position: relative;

      &:hover {
        background-color: $bgc-atom-tag-closable-icon--hover;
        border-radius: 50%;
        fill: color-variation($c-atom-tag-closable-icon--hover, 3);
      }
    }
  }

  &-icon {
    @include icon-atom-tag(icon);
  }

  &-secondary-icon {
    @include icon-atom-tag(icon-secondary);
  }

  &-actionable {
    background-color: $bgc-atom-tag-actionable;
    border: $bd-atom-tag-actionable;
    color: $c-atom-tag-actionable;
    cursor: pointer;
    fill: $c-atom-tag-actionable;

    &:hover,
    &:active {
      background-color: $bgc-atom-tag-actionable--hover;
      color: $c-atom-tag-actionable;
      cursor: pointer;
      fill: $c-atom-tag-actionable;
    }
  }

  &-small {
    height: $h-atom-tag-s;
    padding: $p-atom-tag-s;

    & .sui-AtomTag-label {
      line-height: $h-atom-tag-s;
    }

    .sui-AtomTag-closeable {
      @include icon-secondary-clickable-area($h-atom-tag-s);
    }

    .sui-AtomTag-icon {
      margin-left: 0;
    }

    .sui-AtomTag-secondary-icon {
      margin-right: 0;
    }
  }

  &-large {
    border-radius: ceil($h-atom-tag-l / 2);
    height: $h-atom-tag-l;
    padding: $p-atom-tag-l;

    & .sui-AtomTag-label {
      line-height: $h-atom-tag-l;
    }

    .sui-AtomTag-closeable {
      @include icon-secondary-clickable-area($h-atom-tag-l);
    }
  }

  &--responsive {
    @include media-breakpoint-down(s) {
      border-radius: ceil($h-atom-tag-l / 2);
      height: $h-atom-tag-l;
      padding: $p-atom-tag-l;

      & .sui-AtomTag-label {
        line-height: $h-atom-tag-l;
      }

      .sui-AtomTag-closeable {
        @include icon-secondary-clickable-area($h-atom-tag-l);
      }
    }
  }

  @each $name, $type in $atom-tag-types {
    $bgc: map-get($type, bgc);
    $c: map-get($type, c);

    &--#{$name} {
      background-color: $bgc;
      color: $c;

      &:hover {
        background-color: color-variation($bgc, 2);
        color: color-variation($c, 2);
      }
    }
  }
}
