@import '~@schibstedspain/sui-theme/lib/index';

.sui-FormTextarea {
  &-label {
    color: $c-gray;
    font-size: $fz-s;
    font-weight: $fw-regular;
  }

  &-element {
    background-color: $bgc-form-textarea;
    border: 0;
    border-radius: 2px;
    color: $c-form-textarea-inner-text;
    font-size: $fz-form-textarea-inner-text;
    font-weight: $fw-light;
    margin-top: $m-v-small;
    max-width: 100%;
    padding: $p-v;
    width: 100%;

    &:focus {
      outline-width: 0;
    }
  }
}
