/* sass-lint:disable no-important, class-name-format*/
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-BreadcrumbBasic {
  @include media-breakpoint-up(l) {
    padding: $p-breadcrumb-desktop;
  }
  background-color: $bgc-breadcrumb;
  box-shadow: $bxsh-breadcrumb;
  color: $c-breadcrumb;
  display: flex;
  padding: $p-breadcrumb-mobile;

  &-btn {
    @include reset-button;
    @include media-breakpoint-up(l) {
      display: none;
    }
    color: $c-breadcrumb-link;
    margin-right: $m-breadcrumb-items;

    .is-expanded & {
      display: none;
    }
  }

  &-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;

    &Item {
      @include media-breakpoint-down(m) {
        &:not(:last-child) {
          display: none;
        }
      }

      align-items: center;
      display: inline-flex;
      margin-right: $m-breadcrumb-items;

      .is-expanded & {
        display: inline-flex;
      }
    }
  }

  &-icon {
    fill: $c-breadcrumb-icon !important;
    height: $size-breadcrumb-icon;
    margin-right: $m-breadcrumb-items;
    width: $size-breadcrumb-icon;
  }

  &-link {
    @include reset-link;
    color: $c-breadcrumb-link;

    &:hover {
      color: $c-breadcrumb-link-hover;
    }
  }
}
