/* sass-lint:disable no-important, class-name-format*/
@import '~@s-ui/theme/lib/index';
@import './settings';

.sui-BreadcrumbBasic {
  @include media-breakpoint-up(m) {
    padding: $p-breadcrumb-desktop;
  }
  background-color: $bgc-breadcrumb;
  box-shadow: $bxsh-breadcrumb;
  color: $c-breadcrumb;
  display: flex;
  padding: $p-breadcrumb-mobile;

  &-btn {
    @include reset-button;
    @include media-breakpoint-up(m) {
      display: none;
    }
    color: $c-breadcrumb-link;
    margin-right: $m-breadcrumb-items;

    .is-expanded &,
    .is-scrollable & {
      display: none;
    }
  }

  &-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;

    .is-scrollable & {
      flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;
    }

    &Item {
      align-items: center;
      display: flex;
      font-size: $fz-breadcrumb-item;
      margin-right: $m-breadcrumb-items-mobile;

      &:not(:last-child) {
        display: none;
      }

      @include media-breakpoint-up(m) {
        &:not(:last-child) {
          display: inline-flex;
          margin-right: $m-breadcrumb-items;
        }
      }

      .is-expanded &,
      .is-scrollable & {
        display: inline-flex;
      }
    }
  }

  &-icon {
    fill: $c-breadcrumb-icon !important;
    height: $size-breadcrumb-icon;
    margin-right: $m-breadcrumb-items;
    width: $size-breadcrumb-icon;
  }

  &-link {
    @include reset-link;
    color: $c-breadcrumb-link;
    text-decoration: $td-breadcrumb-link;

    &:hover {
      color: $c-breadcrumb-link-hover;
      text-decoration: $td-breadcrumb-link-hover;
    }
  }
}
