$bgc-breadcrumb: transparent !default;
$bxsh-breadcrumb: none !default;
$p-breadcrumb-desktop: $p-m $p-l !default;
$p-breadcrumb-mobile: $p-m $p-l !default;
$c-breadcrumb-icon: $c-gray !default;
$c-breadcrumb-link-hover: $c-primary-dark-1 !default;
$c-breadcrumb-link: $c-primary !default;
$c-breadcrumb: $c-text-base !default;
$m-breadcrumb-items: $m-s !default;
$m-breadcrumb-items-mobile: 0 !default;
$size-breadcrumb-icon: 18px !default;
$td-breadcrumb-link: none !default;
$td-breadcrumb-link-hover: none !default;
$fz-breadcrumb-item: $fz-m !default;
