@import '~@schibstedspain/sui-theme/lib/index';

$r-form-input-password-toggle-button: $gutter !default;

.sui-FormInput-password {
  position: relative;
  width: 100%;

  &--toggleButton {
    color: $c-primary;
    cursor: pointer;
    position: absolute;
    right: $r-form-input-password-toggle-button;
    top: 50%;
    transform: translateY(-50%);
  }
}
