@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

@mixin section-title-text-alignments {
  width: 100%;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.sui-SectionBasic {
  margin-bottom: $mb-section-basic;

  &-header {
    margin-bottom: $mb-section-basic-header;
  }

  &-title {
    @include section-title-text-alignments;

    color: $c-section-basic-main-title;
    font-size: $fz-section-basic-title;
    font-weight: $fw-regular;
    margin: 0 0 $m-v;
  }

  &-subtitle {
    @include section-title-text-alignments;

    color: $c-section-basic-subtitle;
    font-size: $fz-section-basic-subtitle;
    font-weight: $fw-regular;
    margin: 0 0 $m-v-small;
  }

  &-content {
    &OnlyText,
    p {
      color: $c-section-basic-content-text-paragraph;
      font-size: $fz-section-basic-content-text-paragraph;
      font-weight: $fw-regular;
      line-height: $lh-section-basic-paragraph;
      margin: $m-v-section-basic-content-text-paragraph 0;
    }
  }

  &-lineSeparator {
    border: $bd-section-basic-line-separator;
    height: 0;
    width: 100%;
  }
}
