@import '~@schibstedspain/sui-theme/lib/index';
@import './settings';

.sui-SectionBasic {
  &-title {
    color: $c-section-basic-title;
    font-size: $fz-section-basic-title;
    font-weight: $fw-section-basic-title;
    line-height: $lh-section-basic-title;
    margin: 0;
    text-align: $ta-section-basic-title;
  }

  &-textContent {
    color: $c-section-basic-text-content;
    font-size: $fz-section-basic-text-content;
    font-weight: $fw-section-basic-text-content;
    line-height: $lh-section-basic-text-content;
    margin: 0;
    text-align: $ta-section-basic-text-content;
  }

  &-separator {
    border: $bd-section-basic-hr-separator;
    height: 0;
    margin: 0;
    width: 100%;
  }

  &-bottomSpacing {
    @each $name, $value in $bottom-spacings-section-basic {
      &--#{$name} {
        margin-bottom: $value;
      }
    }
  }
}
