@import '~@schibstedspain/sui-theme/lib/index';

$fz-atom-tooltip: $fz-m !default;
$lh-atom-tooltip: $lh-m !default;
$wlc-atom-tooltip: 4 !default; // -webkit-line-clamp → lines to show

$maw-atom-tooltip: 256px !default;
$mah-atom-tooltip: 88px !default;
$c-atom-tooltip: $c-white !default;
$bgc-atom-tooltip: $c-black !default;
$bdrs-atom-tooltip: 4px !default;
$op-atom-tooltip: 1 !default;
$pt-atom-tooltip: $p-s !default;
$pb-atom-tooltip: $p-s !default;
$pl-atom-tooltip: $p-m !default;
$pr-atom-tooltip: $p-m !default;
$m-atom-tooltip: 0 !default;
$z-atom-tooltip: 1070 !default;

$w-atom-tooltip-arrow: .8rem !default;
$h-atom-tooltip-arrow: .4rem !default;
$c-atom-tooltip-arrow: $bgc-atom-tooltip !default;

// Base class
.sui-AtomTooltip {
  display: block;
  font-size: $fz-atom-tooltip;
  margin: $m-atom-tooltip;
  opacity: 0;
  position: absolute;
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  z-index: $z-atom-tooltip;

  &.show {
    opacity: $op-atom-tooltip;
  }

  .arrow {
    display: block;
    height: $h-atom-tooltip-arrow;
    position: absolute;
    width: $w-atom-tooltip-arrow;

    &::before {
      border-color: transparent;
      border-style: solid;
      content: "";
      position: absolute;
    }
  }
}

.sui-AtomTooltip--top {
  padding: $h-atom-tooltip-arrow 0;

  .arrow {
    bottom: 0;

    &::before {
      border-top-color: $c-atom-tooltip-arrow;
      border-width: $h-atom-tooltip-arrow ($w-atom-tooltip-arrow / 2) 0;
      top: 0;
    }
  }
}

.sui-AtomTooltip--right {
  padding: 0 $h-atom-tooltip-arrow;

  .arrow {
    height: $w-atom-tooltip-arrow;
    left: 0;
    width: $h-atom-tooltip-arrow;

    &::before {
      border-right-color: $c-atom-tooltip-arrow;
      border-width: ($w-atom-tooltip-arrow / 2) $h-atom-tooltip-arrow
        ($w-atom-tooltip-arrow / 2) 0;
      right: 0;
    }
  }
}

.sui-AtomTooltip--bottom {
  padding: $h-atom-tooltip-arrow 0;

  .arrow {
    top: 0;

    &::before {
      border-bottom-color: $c-atom-tooltip-arrow;
      border-width: 0 ($w-atom-tooltip-arrow / 2) $h-atom-tooltip-arrow;
      bottom: 0;
    }
  }
}

.sui-AtomTooltip--left {
  padding: 0 $h-atom-tooltip-arrow;

  .arrow {
    height: $w-atom-tooltip-arrow;
    right: 0;
    width: $h-atom-tooltip-arrow;

    &::before {
      border-left-color: $c-atom-tooltip-arrow;
      border-width: ($w-atom-tooltip-arrow / 2) 0 ($w-atom-tooltip-arrow / 2)
        $h-atom-tooltip-arrow;
      left: 0;
    }
  }
}

.sui-AtomTooltip--auto {
  &[x-placement^='top'] {
    @extend .sui-AtomTooltip--top;
  }
  &[x-placement^='right'] {
    @extend .sui-AtomTooltip--right;
  }
  &[x-placement^='bottom'] {
    @extend .sui-AtomTooltip--bottom;
  }
  &[x-placement^='left'] {
    @extend .sui-AtomTooltip--left;
  }
}

// Wrapper for the tooltip content
.sui-AtomTooltip-inner {
  background-color: $bgc-atom-tooltip;
  border-radius: $bdrs-atom-tooltip;
  color: $c-atom-tooltip;
  max-width: $maw-atom-tooltip;
  max-height: $mah-atom-tooltip;
  padding: $pt-atom-tooltip $pr-atom-tooltip;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $wlc-atom-tooltip;
  -webkit-box-orient: vertical;
  line-height: $lh-atom-tooltip;
}

