$base-class-line: '#{$base-class}Line';

#{$base-class} {
  &-indicator {
    display: inline-block;
    font-size: $fz-s;
    line-height: $lh-s;

    &--top {
      margin-bottom: $m-base;
    }

    &--bottom {
      margin-top: $m-base;
    }
  }
  &-container {
    &--error {
      background: $bg-progress-bar--error;
      border: $bd-line-progress-container--error;
    }
    &--loading {
      background: $bg-progress-bar--loading;
      border: $bd-line-progress-container--loading;
    }
    &--success {
      background: $bg-progress-bar--success;
      border: $bd-line-progress-container--success;
    }

    &--borderless {
      border: none;
    }

    background: $bg-progress-bar;
    border: $bd-line-progress-container;
    border-radius: $bdrs-progress-container;
    height: $h-progress-bar; /* Can be anything */
    position: relative;
    box-sizing: border-box;
    @each $size-key, $size-value in $size-atom-line-progress-bar {
      &--size-#{$size-key} {
        height: $size-value;
      }
    }
  }

  &Line {
    background-color: $c-progress-bar-fill;
    border-radius: $bdrs-progress-bar;
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;

    &#{$base-class}Line--color {
      @each $colorName, $colorValue in $c-progress-bar-fill-array {
        &-#{$colorName} {
          background-color: $colorValue;
        }
      }
    }

    &--animated {
      transition: width $trsdu-progress-bar $trstf-progress-bar;
    }
    &#{$base-class}LineDouble--color {
      @each $colorName, $colorValue in $c-progress-bar-fill-array {
        &-#{$colorName} {
          background-color: $colorValue;
        }
      }
    }
  }
  &ExtraLine {
    background-color: $c-progress-extra-bar-fill;
    border-radius: $br-progress-bar;
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;

    &--animated {
      transition: width calc(#{$trsdu-progress-bar} + #{$trsdu-progress-exrta-bar}) $trstf-progress-bar;
    }

    &#{$base-class}Line--color {
      @each $colorName, $colorValue in $c-progress-extra-bar-fill-array {
        &-#{$colorName} {
          background-color: $colorValue;
        }
      }
    }
  }
  &Line,
  &ExtraLine {
    &--status {
      &-error {
        background-color: $c-atom-line-progress-bar-status--error;
      }
      &-loading {
        background-color: $c-atom-line-progress-bar-status--loading;
      }
      &-success {
        background-color: $c-atom-line-progress-bar-status--success;
      }
    }
  }
}
