$bg-progress-bar: $c-gray-lightest !default;
$bg-progress-bar--success: $bg-progress-bar !default;
$bg-progress-bar--loading: $bg-progress-bar !default;
$bg-progress-bar--error: $bg-progress-bar !default;
$bc-progress-bar: $c-gray-light !default;
$c-progress-bar-fill: $c-primary !default;
$c-progress-bar-fill-array: (
  primary: $c-progress-bar-fill,
  secondary: $c-secondary,
  neutral: $c-gray-light-2,
  success: $c-success,
  error: $c-error,
  alert: $c-alert
) !default;

$trsdu-progress-bar: 500ms !default;
$trstf-progress-bar: linear !default;

$bd-line-progress-container: $bdw-s solid $bc-progress-bar !default;
$bd-line-progress-container--success: $bd-line-progress-container !default;
$bd-line-progress-container--loading: $bd-line-progress-container !default;
$bd-line-progress-container--error: $bd-line-progress-container !default;
$bd-line-double-progress-container: $bdw-s solid $bc-progress-bar !default;

$br-progress-container: $bdrs-l !default;
//$br-progress-container: $bdrs-base !default;
$bdrs-progress-container: $br-progress-container !default;

$br-progress-bar: $bdrs-l !default;
//$br-progress-bar: $bdrs-base !default;
$bdrs-progress-bar: $br-progress-bar !default;
$h-progress-bar: $m-base !default;
$h-progress-bar: $m-base !default;
$c-progress-extra-bar-fill: $c-primary-dark-3 !default;
$c-progress-extra-bar-fill-array: (
  primary: $c-progress-extra-bar-fill,
  secondary: $c-secondary-dark-3,
  neutral: $c-gray,
  success: $c-success-dark-3,
  error: $c-error-dark-3,
  alert: $c-alert-dark-3
) !default;

$trsdu-progress-exrta-bar: 500ms !default;
// this component uses $bdrs for border radius

$c-atom-line-progress-bar-status--progress: $c-primary !default;
$c-atom-line-progress-bar-status--error: $c-alert !default;
$c-atom-line-progress-bar-status--loading: $c-gray-lightest !default;
$c-atom-line-progress-bar-status--success: $c-success !default;

$size-atom-line-progress-bar: (
  small: $sz-base * 0.5,
  medium: $sz-base,
  large: $sz-base * 2,
  extraLarge: $sz-base * 4
);
