@import '~@s-ui/theme/lib/index';

$z-back-to-top: $z-navigation !default;
$op-back-to-top: 0.8 !default;
$bdrs-back-to-top: $bdrs-m !default;
$sz-back-to-top-icon: $sz-icon-s !default;
$trsdu-back-to-top--show: 0.25s !default;
$trsdu-back-to-top--hide: 0.25s !default;

$bg-back-to-top--dark: $c-gray-dark !default;
$c-back-to-top--dark: $c-white !default;
$bg-back-to-top--light: $c-white !default;
$c-back-to-top--light: $c-primary !default;

$b-back-to-top: $p-xl !default;
$r-back-to-top: $p-xl !default;

.sui-AtomBackToTop {
  align-items: center;
  border: 0;
  border-radius: $bdrs-back-to-top;
  bottom: $b-back-to-top;
  cursor: pointer;
  display: flex;
  font-size: $fz-m;
  justify-content: center;
  padding: $p-m;
  position: fixed;
  right: $r-back-to-top;
  visibility: hidden;
  z-index: $z-back-to-top;

  &:focus {
    outline: 0;
  }

  &--ready {
    visibility: visible;
  }

  &-icon {
    height: $sz-back-to-top-icon;
    width: $sz-back-to-top-icon;

    & > * {
      width: 100%;
    }
  }

  &-text {
    align-items: center;
    display: flex;
    height: $sz-back-to-top-icon;
  }

  &-icon + &-text {
    margin-left: $m-s;
  }

  &--dark {
    background: $bg-back-to-top--dark;
    color: $c-back-to-top--dark;

    path {
      fill: $c-back-to-top--dark;
    }
  }

  &--light {
    background: $bg-back-to-top--light;
    color: $c-back-to-top--light;

    path {
      fill: $c-back-to-top--light;
    }
  }

  &--show {
    opacity: $op-back-to-top;
    transition: opacity $trsdu-back-to-top--show ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &--hide {
    opacity: 0;
    transition: opacity $trsdu-back-to-top--hide ease-out;
  }
}
