@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sui-AtomButtonSpinnerIcon {
  display: inline-block;
  border-width: $bdw-m;
  border-color: currentcolor currentcolor transparent transparent;
  border-style: solid;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}
