$bdc-sui-molecule-tabs: $c-gray-light-3 !default;
$bb-sui-molecule-tabs-fullwidth: 1px solid $bdc-sui-molecule-tabs !default;
$bc-sui-molecule-tabs-highlighted: transparent !default;
$bdc-sui-molecule-tabs-highlighted-vertical-right: $bdc-sui-molecule-tabs !default;
$bdc-sui-molecule-tabs-highlighted: transparent !default;
$bdc-sui-molecule-tabs-highlighted-active: $c-primary !default;
$bdrs-sui-molecule-tabs: 0 !default;
$bdw-sui-molecule-tabs: $p-s !default;
$bdw-sui-molecule-tabs-highlighted-active: $bdw-sui-molecule-tabs !default;
$bdw-sui-molecule-tabs-highlighted: 0 !default;
$bg-sui-molecule-tab-item: transparent !default;
$bg-sui-molecule-tabs-content: transparent !default;
$bgc-sui-molecule-tabs-active: transparent !default;
$bgc-sui-molecule-tabs: transparent !default;
$bt-sui-molecule-tabs-content: $bdw-sui-molecule-tabs-highlighted solid $bdc-sui-molecule-tabs-highlighted !default;
$c-sui-molecule-tabs-active: $c-primary !default;
$c-sui-molecule-tabs-disabled: $c-gray-lightest !default;
$c-sui-molecule-tabs-highlighted-active: $c-primary !default;
$c-sui-molecule-tabs-icon-active: $c-primary !default;
$c-sui-molecule-tabs: $c-gray-dark-3 !default;
$fw-sui-molecule-tabs-active: $fw-regular !default;
$fw-sui-molecule-tabs: inherit !default;
$fz-sui-molecule-tabs-counter: $fz-m !default;
$fz-sui-molecule-tabs: $fz-m !default;
$m-sui-molecule-tabs-item: 0 !default;
$m-sui-molecule-tabs-first-item: $m-sui-molecule-tabs-item !default;
$mt-sui-molecule-tabs-active: 1px !default;
$p-sui-molecule-tabs-item: $p-m $p-l !default;
$p-sui-molecule-tabs-vertical-item: $p-sui-molecule-tabs-item !default;
$ssa-sui-molecule-tabs: start !default;
$sst-sui-molecule-tabs: x mandatory !default;
$sz-sui-molecule-tabs-icon: $sz-icon-l !default;
$ta-sui-molecule-tabs-vertical-item: center !default;
$w-sui-molecule-tabs-vertical-item: 100% !default;
$ws-sui-molecule-tabs-vertical-item: nowrap !default;
$outline-sui-molecule-tabs-focus-visible: $c-primary auto 1px !default;
