@import '~@s-ui/theme/lib/settings';
@import '~@s-ui/theme/lib/index';

$fz-atom-validation-text: $fz-xs !default;
$validation: success $c-success, error $c-error, alert $c-alert;

.sui-AtomValidationText {
  @each $type, $color in $validation {
    &--#{$type} {
      color: $color;
      display: block;
      font-size: $fz-atom-validation-text;
      margin: $m-s 0 0;
    }
  }
}
