$fw-molecule-checkbox-field-label: $fw-atom-label !default;
$c-molecule-checkbox-field-label: $c-atom-label !default;
$w-molecule-checkbox-field-input: $p-base * 2 !default;
$h-molecule-checkbox-field-input: $p-base * 2 !default;

$c-molecule-checkbox-field: (
  success: $c-success,
  error: $c-error,
  alert: $c-alert
) !default;
