$c-atom-label: inherit !default;
$c-atom-label-optional: $c-gray-light !default;
$c-atom-label-contrast: $c-white !default;
$c-atom-label-disabled: inherit !default;
$fw-atom-label: inherit !default;
$c-atom-label-type: success $c-success, error $c-error, alert $c-alert,
  contrast $c-atom-label-contrast, disabled $c-atom-label-disabled !default;
$fz-atom-label: $fz-base !default;
