$c-atom-label: inherit !default;
$c-atom-label-optional: $c-gray-dark !default;
$c-atom-label-contrast: var(--c-base-inverse, $c-white) !default;
$c-atom-label-disabled: $c-gray-dark-2 !default;
$o-atom-label-disabled: 0.7 !default;
$fw-atom-label: inherit !default;
$c-atom-label-type: (
  success $c-success,
  error $c-error,
  alert $c-alert,
  contrast $c-atom-label-contrast,
  disabled $c-atom-label-disabled
) !default;
$fz-atom-label: $fz-base !default;
$lh-atom-label: inherit !default;
