@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-atom-input/lib/index';
@import '~@s-ui/react-molecule-input-tags/lib/index';
@import '~@s-ui/react-molecule-dropdown-option/lib/index';
@import '~@s-ui/react-molecule-dropdown-list/lib/index';

$base-class: '.sui-MoleculeAutosuggest';
$class-input: '#{$base-class}-input';

$z-autosuggest-list: $z-navigation !default;
$mr-autosuggest-icon-clear: -34px !default;
$w-autosuggest-icon-clear: 20px !default;

#{$base-class} {
  position: relative;

  .sui-MoleculeDropdownList {
    position: absolute;
    z-index: $z-autosuggest-list;
  }

  &--focus {
    outline: none;

    #{$class-input} {
      &-container {
        @extend %sui-atom-input-input-focus;
      }

    }
  }

  #{$class-input} {
    &-container {
      align-items: center;
      border: 1px solid transparent;
      cursor: pointer;
      display: flex;
    }

    &-icon {
      margin-left: $mr-autosuggest-icon-clear;
      width: $w-autosuggest-icon-clear;
    }  
  }

}
