@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-input/lib/index';
// @import '~@s-ui/react-molecule-input-tags/lib/index';
@import '~@s-ui/react-molecule-dropdown-list/lib/index';

$base-class: '.sui-MoleculeAutosuggest';
$base-class-atom-input: '.sui-AtomInput';
$class-input: '#{$base-class}-input';
$base-class-atom-input-input: '#{$base-class-atom-input}-input';

$z-autosuggest-list: $z-navigation !default;
$mr-autosuggest-icon-clear: -34px !default;
$w-autosuggest-icon-clear: 20px !default;

$bdw-autosuggest-container: $bdw-s !default;

#{$base-class} {
  position: relative;
  outline: none;

  .sui-MoleculeDropdownList {
    position: absolute;
    z-index: $z-autosuggest-list;
  }

  input::-ms-clear {
    display: none;
  }

  &--focus {
    #{$class-input} {
      &-container {
        @extend %sui-molecule-autosuggest-focus;
      }
    }
  }

  &--disabled {
    #{$class-input}-container {
      #{$base-class-atom-input}--withTags {
        background: $c-gray-lightest;
      }
    }
  }

  #{$class-input} {
    &-container {
      align-items: center;
      border: $bdw-autosuggest-container solid transparent;
      cursor: pointer;
      display: flex;
      min-height: $h-atom-input--m;
    }

    &-icon {
      display: flex;
      flex-direction: column;
      height: $h-atom-input--m;
      justify-content: center;
      margin-left: $mr-autosuggest-icon-clear;
      width: $w-autosuggest-icon-clear;
    }
  }

  @each $state, $color in $states-atom-input {
    &#{$base-class}--#{$state} #{$base-class-atom-input-input} {
      border-color: $color;
    }
  }
}
