.sui-AtomButton {
  $root: &;

  // Special custom property.
  --color-inverted: #{$c-white};
  // Basic custom properties.
  --background-color: var(--color-main);
  --border: #{$bdw-s} solid;
  --border-color: var(--color-main);
  --border-radius: #{$bdrs-atom-button};
  --color: var(--color-inverted);
  --padding: 0 var(--p-l);
  --text-decoration: none;

  &:focus {
    --box-shadow: none; // ??
  }

  &-group {
    &--middle#{$root} {
      --border-radius: 0;
    }

    &--first#{$root} {
      --border-radius: #{$bdrs-atom-button-first};
    }

    &--last#{$root} {
      --border-radius: #{$bdrs-atom-button-last};
    }

    &--selected#{$root} {
      --border-radius: #{$bdrs-atom-button-group-selected};
    }
  }

  // Links
  &--link {
    --background-color: transparent;
    --color: var(--color-main);
    --text-align: center;

    &#{$root}--negative {
      &#{$root}--focused,
      &:active {
        --background-color: transparent;
      }

      @media (hover: hover) {
        &:hover {
          --background-color: transparent;
        }
      }
    }
  }

  // Colors
  &--primary {
    --color-main: var(--c-primary-500);
    --color-focused: var(--c-primary-600);
    --color-focused-inverted: var(--c-primary-100);
  }
  &--accent {
    --color-main: var(--c-accent-500);
    --color-focused: var(--c-accent-600);
    --color-focused-inverted: var(--c-accent-100);
  }
  &--neutral {
    --color-main: var(--c-neutral-500);
    --color-focused: var(--c-neutral-600);
    --color-focused-inverted: var(--c-neutral-100);
  }
  &--success {
    --color-main: #{$c-success};
    --color-focused: #{color-variation($c-success, -1)};
    --color-focused-inverted: #{color-variation($c-success, 4)};
  }
  &--alert {
    --color-main: #{$c-alert};
    --color-focused: #{color-variation($c-alert, -1)};
    --color-focused-inverted: #{color-variation($c-alert, 4)};
  }
  &--error {
    --color-main: #{$c-error};
    --color-focused: #{color-variation($c-error, -1)};
    --color-focused-inverted: #{color-variation($c-error, 4)};
  }
  &--social-facebook {
    --color-main: #{$c-facebook};
    --color-focused: #{color-variation($c-facebook, -1)};
    --color-focused-inverted: #{color-variation($c-facebook, 4)};
  }
  &--social-twitter {
    --color-main: #{$c-twitter};
    --color-focused: #{color-variation($c-twitter, -1)};
    --color-focused-inverted: #{color-variation($c-twitter, 4)};
  }
  &--social-google {
    --color-main: #{$c-google};
    --color-focused: #{color-variation($c-google, -1)};
    --color-focused-inverted: #{color-variation($c-google, 4)};
  }
  &--social-youtube {
    --color-main: #{$c-youtube};
    --color-focused: #{color-variation($c-youtube, -1)};
    --color-focused-inverted: #{color-variation($c-youtube, 4)};
  }
  &--social-whatsapp {
    --color-main: #{$c-whatsapp};
    --color-focused: #{color-variation($c-whatsapp, -1)};
    --color-focused-inverted: #{color-variation($c-whatsapp, 4)};
  }
  &--social-instagram {
    --color-main: #{$c-instagram};
    --color-focused: #{color-variation($c-instagram, -1)};
    --color-focused-inverted: #{color-variation($c-instagram, 4)};
  }

  // Links
  &--link {
    --text-decoration: #{$td-atom-button-link};

    &#{$root}--focused,
    &:active {
      --text-decoration: underline;
    }
    @media (hover: hover) {
      &:hover {
        --text-decoration: underline;
      }
    }
  }

  // Designs
  &--solid {
    &#{$root}--primary {
      --box-shadow: none; // ??

      &#{$root}--negative {
        --box-shadow: none; // ??
      }
    }

    &#{$root}--focused,
    &:active {
      --background-color: var(--color-focused);
      --border-color: var(--color-focused);
    }

    @media (hover: hover) {
      &:hover {
        --background-color: var(--color-focused);
        --border-color: var(--color-focused);
      }
    }

    &#{$root}--negative {
      --background-color: var(--color-inverted);
      --border-color: var(--color-inverted);
      --color: var(--color-main);
    }
  }

  &--outline,
  &--flat {
    --background-color: unset;
    --color: var(--color-main);

    &#{$root}--focused,
    &:active {
      --background-color: var(--color-focused-inverted);
    }

    @media (hover: hover) {
      &:hover {
        --background-color: var(--color-focused-inverted);
      }
    }

    &#{$root}--negative {
      --border-color: var(--color-inverted);

      &#{$root}--focused,
      &:active {
        --background-color: var(--color-focused);
      }

      @media (hover: hover) {
        &:hover {
          --background-color: var(--color-focused);
        }
      }
    }
  }

  // Shapes
  &--squared {
    --border-radius: 0;
  }

  // Alignment
  &--center {
    --text-align: center;
  }

  &--left {
    --text-align: left;
  }

  &--right {
    --text-align: right;
  }

  // Sizes
  &--small {
    --padding: 0 var(--p-m);
  }

  &--large {
    --border-radius: #{$bdrs-atom-button-large};
  }

  // Modifiers
  &--negative {
    --color: var(--color-inverted);

    &#{$root}--focused,
    &:active {
      --background-color: var(--color-focused-inverted);
      --border-color: var(--color-focused-inverted);
    }

    @media (hover: hover) {
      &:hover {
        --background-color: var(--color-focused-inverted);
        --border-color: var(--color-focused-inverted);
      }
    }
  }

  // Elevations
  &--elevation-medium {
    --box-shadow: var(--bxsh-m);

    // &#{$root}--primary {
    //   --box-shadow: var(--bxsh-m);

    //   &#{$root}--negative {
    //     --box-shadow: var(--bxsh-m);
    //   }
    // }
  }

  &--elevation-large {
    --box-shadow: var(--bxsh-l);

    // &#{$root}--primary {
    //   --box-shadow: var(--bxsh-m);

    //   &#{$root}--negative {
    //     --box-shadow: var(--bxsh-m);
    //   }
    // }
  }
}
