.sui-AtomButton {
  @include button-icon($icon-sz-atom-button, $icon-m-atom-button);

  background-color: var(--background-color); // New (solid)
  border-radius: var(--border-radius);
  border: var(--border);
  border-color: var(--border-color); // New (solid)
  box-shadow: var(--box-shadow); // New
  box-sizing: border-box;
  color: var(--color); // New (solid)
  display: inline-block;
  position: relative;
  font: {
    family: $ff-atom-button;
    size: $fz-atom-button;
    weight: $fw-atom-button;
  }
  height: $sz-atom-button;
  line-height: normal;
  min-width: $sz-atom-button;
  outline: 0;
  padding: var(--padding); // OK
  text-align: var(--text-align);
  text-decoration: var(--text-decoration);
  text-transform: $tt-atom-button;
  white-space: nowrap;

  & + &:not(&--fitted):not(&-group) {
    margin-left: $m-consecutive-atom-button;
  }

  &-group {
    margin-left: -1px;
    margin-right: 0; // ??

    & + & {
      margin-left: -1px;
      margin-right: 0; // ??
    }

    &--focused {
      border: $bd-atom-button-group-focused;
    }
  }

  &-inner {
    align-items: center;
    display: inline-flex;
    height: 100%;
    pointer-events: none;
  }

  &--loading {
    .sui-AtomButton-inner {
      justify-content: center;
    }

    .sui-AtomButton-text {
      opacity: 0;
    }
  }

  // Icons
  &-leftIcon,
  &-rightIcon,
  &-centerIcon {
    display: inline-flex;

    // add compatibility with SuiAtomIcon with correct alignment
    .sui-AtomIcon {
      display: inline-flex;
    }

    svg {
      fill: $icon-fill-color;
      stroke: $icon-stroke-color;
    }
  }

  &-centerIcon {
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  // Links
  // &--link:not(.sui-AtomButton--solid):not(.sui-AtomButton--outline):not(.sui-AtomButton--flat) {
  &--link {
    // Overwritten mixin for testing purposes.
    //@include link();
    font-family: $ff-link;
    font-stretch: normal;
    font-style: normal;
    font-weight: $fw-link;
    letter-spacing: normal;
    line-height: $lh-link;
    text-align: left;
    // Actual properties.
    // background: transparent;
    user-select: text;
    border: none;
    padding: 0;
    justify-content: center;
  }

  // &--outline {
  //   background: none;
  // }

  &--flat {
    border: 0;
  }

  // Shapes
  &--circular {
    @include button-circular($sz-atom-button);
  }

  // Sizes
  &--small {
    @include button-icon($icon-sz-atom-button-small, $icon-m-atom-button-small);
    font-size: $fz-atom-button-small;
    font-weight: $fw-atom-button-small;
    height: $sz-atom-button-small;
    min-width: $sz-atom-button-small;

    &.sui-AtomButton--circular {
      @include button-circular($sz-atom-button-small);
    }
  }

  &--large {
    @include button-icon($icon-sz-atom-button-large, $icon-m-atom-button-large);
    font-size: $fz-atom-button-large;
    font-weight: $fw-atom-button-large;
    height: $sz-atom-button-large;
    min-width: $sz-atom-button-large;

    &.sui-AtomButton--circular {
      @include button-circular($sz-atom-button-large);
    }
  }

  // Modifiers
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }

  &--fullWidth {
    justify-content: center;
    width: 100%;
  }

  // &--negative {
  //   background: none; // ???
  // }

  // Other types
  &--empty {
    padding: 0;
    .sui-AtomButton-leftIcon,
    .sui-AtomButton-rightIcon {
      margin: 0;
    }
  }
}
