$base-class: '.sui-AtomButton';

#{$base-class} {
  @include reset-button;
  @include button-icon($icon-sz-atom-button, $icon-m-atom-button);

  border-radius: $bdrs-atom-button;
  border: $bdw-s solid;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  font: {
    family: $ff-atom-button;
    size: $fz-atom-button;
    weight: $fw-atom-button;
  }
  height: $sz-atom-button;
  line-height: normal;
  min-width: $sz-atom-button;
  outline: 0;
  padding: 0 $p-atom-button;
  text-decoration: none;
  text-transform: $tt-atom-button;
  white-space: nowrap;

  & + &:not(&--fitted):not(&-group) {
    margin-left: $m-consecutive-atom-button;
  }

  &-inner,
  &-content {
    display: inline-flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
    text-decoration: inherit;
  }

  &--loading {
    #{$base-class}-inner {
      justify-content: center;
    }

    #{$base-class}-content {
      opacity: 0;
    }
  }

  // Icons
  &-leftIcon,
  &-rightIcon,
  &-centerIcon {
    display: inline-flex;

    // add compatibility with SuiAtomIcon with correct alignment
    .sui-AtomIcon {
      display: inline-flex;
    }

    svg {
      fill: $icon-fill-color;
      stroke: $icon-stroke-color;
    }
  }

  &-centerIcon {
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  &#{$base-class}--link:not(#{$base-class}--solid):not(#{$base-class}--outline):not(#{$base-class}--flat) {
    background: transparent;
    user-select: text;
    border: none;
    @include link();
    padding: 0;
    justify-content: center;
    text-align: center;
    text-decoration: $td-atom-button-link;
    @include button-focused {
      background: transparent;
    }

    &#{$base-class}--negative {
      background: transparent;
      @include button-focused {
        background: transparent;
      }
    }
  }

  // Types, colors and align text
  @each $name, $pair in $c-atom-button-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    // Alternate color for Outline, Flat and Link variations
    $color-alt: if(length($pair) > 4, nth($pair, 5), $color);

    &--#{$name} {
      &#{$base-class}--solid {
        background: $color;
        border-color: $color;
        color: $color-invert;
        text-decoration-line: none;

        @include button-focused {
          background: if(length($pair) > 2, nth($pair, 3), color-variation($color, -1));
          border-color: if(length($pair) > 2, nth($pair, 3), color-variation($color, -1));
        }

        &#{$base-class}--negative {
          background: var(--c-base, $color-invert);
          border-color: $color-invert;
          color: $color;

          @include button-focused {
            background: color-variation($color, 4);
            border-color: color-variation($color, 4);
          }
        }
      }

      &#{$base-class}--outline,
      &#{$base-class}--flat {
        $bgc-atom-button-focused: color-variation($color, 4) !default;
        $bgc-atom-button-focused-invert: color-variation($color, -1) !default;
        $c-atom-button-focused: $color !default;
        $c-atom-button-focused-invert: $color-invert !default;

        border-color: $color-alt;
        color: $color-alt;
        text-decoration-line: none;

        @include button-focused {
          background: if(length($pair) > 2, nth($pair, 4), $bgc-atom-button-focused);

          @if ($color != $c-atom-button-focused) {
            color: $c-atom-button-focused;
          }
        }

        &#{$base-class}--negative {
          border-color: $color-invert;
          color: $color-invert;

          @include button-focused {
            background: $bgc-atom-button-focused-invert;
            @if ($color-invert != $c-atom-button-focused-invert) {
              color: $c-atom-button-focused-invert;
            }
          }
        }
      }

      &#{$base-class}--link:not(#{$base-class}--solid):not(#{$base-class}--outline):not(#{$base-class}--flat) {
        $c-atom-button-focused: color-variation($color, -1) !default;
        $c-atom-button-link-focused: $c-atom-button-focused !default;
        $c-atom-button-focused-invert: color-variation($color-invert, -1) !default;

        color: $color-alt;
        @include button-focused {
          color: $c-atom-button-link-focused;
        }

        &#{$base-class}--negative {
          color: $color-invert;

          @include button-focused {
            color: $c-atom-button-focused-invert;
          }
        }
      }
    }
  }

  &--outline,
  &--negative {
    background: none;
  }

  &--flat {
    border: 0;
  }

  &--solid {
    &#{$base-class}--primary {
      box-shadow: $bxsh-atom-button-solid-primary;

      &#{$base-class}--negative {
        box-shadow: $bxsh-atom-button-solid-primary-negative;
      }
    }
  }

  @each $key-bxsh, $bxsh in $bxsh-atom-button {
    &--elevation-#{$key-bxsh} {
      box-shadow: $bxsh;

      &#{$base-class}--primary {
        box-shadow: $bxsh;

        &#{$base-class}--negative {
          box-shadow: $bxsh;
        }
      }
    }
  }

  &:focus-visible {
    box-shadow: $bxsh-atom-button-focus;
    outline: 2px solid transparentize($c-primary, 0.2);
    outline-offset: 2px;
  }

  &--squared {
    border-radius: 0;
  }

  &--circular {
    @include button-circular($sz-atom-button);
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Modifiers
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }

  &--small {
    @include button-icon($icon-sz-atom-button-small, $icon-m-atom-button-small);
    font-size: $fz-atom-button-small;
    font-weight: $fw-atom-button-small;
    height: $sz-atom-button-small;
    min-width: $sz-atom-button-small;
    padding: 0 $p-atom-button-small;

    &#{$base-class}--squared {
      border-radius: 0;
    }

    &#{$base-class}--circular {
      @include button-circular($sz-atom-button-small);
    }
  }

  &--large {
    @include button-icon($icon-sz-atom-button-large, $icon-m-atom-button-large);
    border-radius: $bdrs-atom-button-large;
    font-size: $fz-atom-button-large;
    font-weight: $fw-atom-button-large;
    height: $sz-atom-button-large;
    min-width: $sz-atom-button-large;
    padding: 0 $p-atom-button-large;

    &#{$base-class}--squared {
      border-radius: 0;
    }

    &#{$base-class}--circular {
      @include button-circular($sz-atom-button-large);
    }
  }

  &--fullWidth {
    justify-content: center;
    width: 100%;
  }

  &--empty {
    padding: 0;

    #{$base-class}-leftIcon,
    #{$base-class}-rightIcon {
      margin: 0;
    }
  }

  &-group {
    margin-left: -1px;
    margin-right: 0;
    padding: 0 $p-atom-button-group-sides;

    & + & {
      margin-left: -1px;
      margin-right: 0;
    }

    &--middle {
      &#{$base-class} {
        border-radius: 0;
      }
    }

    &--first {
      &#{$base-class} {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &--last {
      &#{$base-class} {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &--selected {
      &#{$base-class} {
        border-radius: $bdrs-atom-button-group-selected;
        box-shadow: $bxsh-atom-button-group-selected;
      }
    }

    &--focused {
      border: $bd-atom-button-group-focused;
    }
  }
}
