// Sets active states when button is not disabled
@mixin button-focused {
  &#{$base-class}--focused,
  &:active {
    @content;
  }
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin button-icon($size, $margin) {
  & #{$base-class}-leftIcon,
  & #{$base-class}-rightIcon,
  & #{$base-class}-centerIcon {
    &,
    & [class*='Icon'] {
      height: $size;
      width: $size;
    }
  }

  & #{$base-class}-leftIcon {
    margin-right: $margin;
  }

  & #{$base-class}-rightIcon {
    margin-left: $margin;
  }
}

@mixin button-circular($size) {
  border-radius: #{$size * 0.5};
}
