$ff-atom-button: $ff-sans-serif !default;

$bdrs-atom-button: $bdrs-m !default;
$bgc-atom-button: $c-primary !default;
$bgc-atom-button-light: color-variation($bgc-atom-button, 4) !default;
$bgc-atom-button-dark: color-variation($bgc-atom-button, -1) !default;
$bgc-atom-button-light-contrast: color-variation($bgc-atom-button, 3) !default;

$sz-atom-button-small: $p-base * 4 !default;
$fz-atom-button-small: $fz-s !default;
$fw-atom-button-small: $fw-semi-bold !default;
$icon-sz-atom-button-small: $sz-icon-s !default;
$icon-m-atom-button-small: $m-s !default;

$sz-atom-button: $p-base * 5 !default;
$fz-atom-button: $fz-m !default;
$fw-atom-button: $fw-semi-bold !default;
$icon-sz-atom-button: $sz-icon-s !default;
$icon-m-atom-button: $m-m !default;

$bdrs-atom-button-large: $bdrs-m !default;
$sz-atom-button-large: $p-base * 6 !default;
$fz-atom-button-large: $fz-m !default;
$fw-atom-button-large: $fw-semi-bold !default;
$icon-sz-atom-button-large: $sz-icon-m !default;
$icon-m-atom-button-large: $m-m !default;
$m-consecutive-atom-button: $m-m !default;

$bdrs-atom-button-group-selected: none !default;
// $bxsh-atom-button-group-selected: none !default;
$bd-atom-button-group-focused: 1px solid !default;
$bdrs-atom-button-first: $bdrs-m 0 0 $bdrs-m !default;
$bdrs-atom-button-last: 0 $bdrs-m $bdrs-m 0 !default;

// $bxsh-atom-button: (
//   large: $bxsh-l,
//   medium: $bxsh-m
// ) !default;

$tt-atom-button: none !default;

$icon-fill-color: currentColor !default;
$icon-stroke-color: currentColor !default;

$td-atom-button-link: none !default;

@mixin button-icon($size, $margin) {
  & .sui-AtomButton-leftIcon,
  & .sui-AtomButton-rightIcon,
  & .sui-AtomButton-centerIcon {
    &:not(& [class*='Icon']) {
      height: $size;
      width: $size;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }

  & .sui-AtomButton-leftIcon {
    margin-right: $margin;
  }

  & .sui-AtomButton-rightIcon {
    margin-left: $margin;
  }
}

@mixin button-circular($size) {
  border-radius: #{$size * 0.5};
}
