$c-accent-hover: color-variation($c-accent, -1) !default;
$c-accent-flat-hover: color-variation($c-accent, 4) !default;
$c-primary-hover: color-variation($c-primary, -1) !default;
$c-primary-flat-hover: color-variation($c-primary, 4) !default;

$c-atom-button-colors: (
  'primary': (
    $c-primary,
    $c-white,
    $c-primary-hover,
    $c-primary-flat-hover
  ),
  'accent': (
    $c-accent,
    $c-white,
    $c-accent-hover,
    $c-accent-flat-hover
  ),
  'neutral': (
    $c-gray,
    $c-white
  ),
  'success': (
    $c-success,
    $c-white
  ),
  'alert': (
    $c-alert,
    $c-white
  ),
  'error': (
    $c-error,
    $c-white
  ),
  'social-facebook': (
    $c-facebook,
    $c-white
  ),
  'social-twitter': (
    $c-twitter,
    $c-white
  ),
  'social-google': (
    $c-google,
    $c-white
  ),
  'social-youtube': (
    $c-youtube,
    $c-white
  ),
  'social-whatsapp': (
    $c-whatsapp,
    $c-white
  ),
  'social-instagram': (
    $c-instagram,
    $c-white
  )
) !default;

$ff-atom-button: $ff-sans-serif !default;

$bdrs-atom-button: $bdrs-m !default;
$bdw-atom-button: $bdw-s solid !default;
$bgc-atom-button: $c-primary !default;
$bgc-atom-button-light: color-variation($bgc-atom-button, 4) !default;
$bgc-atom-button-dark: color-variation($bgc-atom-button, -1) !default;
$bgc-atom-button-light-contrast: color-variation($bgc-atom-button, 3) !default;

$sz-atom-button-small: $p-base * 4 !default;
$fz-atom-button-small: $fz-s !default;
$fw-atom-button-small: $fw-semi-bold !default;
$icon-sz-atom-button-small: $sz-icon-s !default;
$icon-m-atom-button-small: $m-s !default;
$p-atom-button-small: $p-m !default;

$sz-atom-button: $p-base * 5 !default;
$fz-atom-button: $fz-m !default;
$fw-atom-button: $fw-semi-bold !default;
$icon-sz-atom-button: $sz-icon-s !default;
$icon-m-atom-button: $m-m !default;
$p-atom-button: $p-l !default;

$bdrs-atom-button-large: $bdrs-m !default;
$sz-atom-button-large: $p-base * 6 !default;
$fz-atom-button-large: $fz-m !default;
$fw-atom-button-large: $fw-semi-bold !default;
$icon-sz-atom-button-large: $sz-icon-m !default;
$icon-m-atom-button-large: $m-m !default;
$p-atom-button-large: $p-l !default;
$m-consecutive-atom-button: $m-m !default;

$bdrs-atom-button-group-selected: none !default;
$bxsh-atom-button-group-selected: none !default;
$bd-atom-button-group-focused: 1px solid !default;
$bdrs-atom-button-first: $bdrs-m 0 0 $bdrs-m !default;
$bdrs-atom-button-last: 0 $bdrs-m $bdrs-m 0 !default;
$p-atom-button-group-sides: $p-l !default;

$bxsh-atom-button-solid-primary: none !default;
$bxsh-atom-button-solid-primary-negative: none !default;

$bxsh-atom-button: (
  large: $bxsh-l,
  medium: $bxsh-m
) !default;
$bxsh-atom-button-focus: none !default;

$tt-atom-button: none !default;

$icon-fill-color: currentColor !default;
$icon-stroke-color: currentColor !default;

$td-atom-button-link: none !default;

// Sets active states when button is not disabled
@mixin button-focused {
  &#{$base-class}--focused,
  &:active {
    @content;
  }
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin button-icon($size, $margin) {
  & #{$base-class}-leftIcon,
  & #{$base-class}-rightIcon,
  & #{$base-class}-centerIcon {
    &:not(& [class*='Icon']) {
      height: $size;
      width: $size;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }

  & #{$base-class}-leftIcon {
    margin-right: $margin;
  }

  & #{$base-class}-rightIcon {
    margin-left: $margin;
  }
}

@mixin button-circular($size) {
  border-radius: #{$size * 0.5};
}
