@import '~@schibstedspain/sui-theme/lib/index';

$c-atom-card-highlight: #fffed4 !default;

.sui-AtomCard {
  display: flex;

  &-media {
    width: 33%;
  }

  &-info {
    padding: 16px;
  }

  &-link {
    color: inherit;
    text-decoration: none;
  }

  &-highlight {
    background: $c-atom-card-highlight;
  }

  &-vertical {
    flex-direction: column;

    .sui-AtomCard-media {
      width: 100%;
    }

  }

}