@import '~@schibstedspain/sui-theme/lib/index';

$c-atom-card-highlight: $c-highlight !default;
$w-atom-card-media: 33% !default;
$mq-responsive-breakpoint-name: 'm' !default;

$base-class: '.sui-AtomCard';
$class-media: '#{$base-class}-media';

#{$base-class} {
  display: flex;

  &-media {
    width: $w-atom-card-media;
  }

  &-info {
    padding: $p-l;
  }

  &-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &--highlight {
    background: $c-atom-card-highlight;
  }

  &--vertical {
    flex-direction: column;

    #{$class-media} {
      width: 100%;
    }
  }

  &--responsive {
    flex-direction: column;

    #{$class-media} {
      width: 100%;
    }

    @include media-breakpoint-up($mq-responsive-breakpoint-name) {
      flex-direction: row;

      #{$class-media} {
        width: $w-atom-card-media;
      }
    }
  }

}