@import '~@s-ui/theme/lib/index';

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    z-index: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    z-index: $z-navigation;
  }
}

.sui-BehaviorSticky {
  overflow: hidden;
  position: fixed;
  transform-style: flat;
  z-index: $z-navigation;

  &--animate {
    animation: slide-down 0.7s;

    * {
      z-index: 0;
    }
  }
}
