$short-num-lines: 5 !default;
$long-num-lines: 7 !default;
$short-num-lines-atom-textarea: $short-num-lines !default;
$long-num-lines-atom-textarea: $long-num-lines !default;

$p-atom-textarea: $p-m !default;
$ff-atom-textarea: $ff-sans-serif !default;
$fz-atom-textarea: $fz-base !default;
$lh-atom-textarea: $lh-l !default;

$bgc-atom-textarea: initial !default;
$bgc-atom-textarea--disabled: $c-gray-lightest !default;
$bd-atom-textarea: $bdw-s solid $c-gray-light !default;
$bdrs-atom-textarea: $bdrs-m !default;
$bd-atom-textarea--disabled: $bdw-s solid initial !default;
$c-atom-textarea: var(--c-base-inverse, initial) !default;
$c-atom-textarea--disabled: $c-gray-light !default;
$c-atom-textarea-placeholder: color-mix(in srgb, var(--c-base-inverse, initial) 80%, transparent) !default;
$w-atom-textarea: 100% !default;
$rsz-atom-textarea: auto !default;

$resizes-atom-textarea: (auto, both, horizontal, inherit, initial, none, vertical);
