@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-image-placeholder/lib/index';

.sui-ThumbnailBasic {
  @include reset-basic;
  background: $bgc-thumbnail-basic;
  border: $bd-thumbnail-basic;
  display: inline-block;
  padding: $p-thumbnail-basic;
  position: relative;
  width: 100%;

  &-caption {
    @include reset-basic;
    background: $bgc-thumbnail-basic-caption;
    bottom: 0;
    color: $c-thumbnail-basic-caption;
    display: block;
    font-size: $fz-thumbnail-basic-caption;
    left: 0;
    max-height: 0;
    opacity: .9;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: $trs-thumbnail-basic;
    width: 100%;
    word-wrap: break-word;

    &-text {
      display: block;
      padding: $p-thumbnail-basic-caption;
    }
  }

  &:hover {
    .sui-ThumbnailBasic-caption {
      max-height: 100%;
    }
  }
}
