@import '~@schibstedspain/theme-basic/lib/index';

$fill-rating-icons-filled: #f7af33 !default;
$fill-rating-icons-empty: #d7dbdf !default;

.sui-RatingIcons {
  height: 16px;
  margin-top: 7px;

  &-filled,
  &-empty {
    display: flex;
    position: absolute;
  }

  &-iconContainer {
    flex-grow: 1;
    overflow: hidden;
  }

  &-empty {
    fill: $fill-rating-icons-empty;
  }

  &-filled {
    fill: $fill-rating-icons-filled;
    overflow: hidden;
    transition: width 1s;
  }
}