@import '~@schibstedspain/sui-theme/lib/index';

$b-atom-toast: 1px solid $c-gray !default;
$c-atom-toast-icon: $c-gray !default;
$bgc-atpm-toast: $c-white;
$h-atom-toast-s: 48px;
$h-atom-toast-m: 64px;
$h-atom-toast-l: 96px;
$w-atom-toast-s: 264px;
$w-atom-toast-m: 264px;
$w-atom-toast-l: 264px;

.react-AtomToast {
  background-color: $bgc-atpm-toast;
  border: $b-atom-toast;
  position: fixed;
  margin: $m-xl;
  z-index: $z-notifications;

  &-icon {
    cursor: pointer;
    position: absolute;
    margin: $m-s;
    right: 0;

    svg {
      width: $sz-icon-s;
      height: $sz-icon-s;
      fill: $c-atom-toast-icon !important;
    }
  }

  // Position
  &--bottom,
  &--bottom-right,
  &--bottom-left {
    bottom: 0;
  }

  &--top,
  &--top-right,
  &--top-left {
    top: 0;
  }

  &--bottom,
  &--top {
    left: 50%;
    transform: translate(-50%, 0);
    margin: $m-xl auto;
  }

  &--bottom-right,
  &--top-right {
    right: 0;
  }

  &--bottom-left,
  &--top-left {
    left: 0;
  }

  // Size
  &--s {
    height: $h-atom-toast-s;
    width: $w-atom-toast-s;
  }

  &--m {
    height: $h-atom-toast-m;
    width: $w-atom-toast-m;
  }

  &--l {
    height: $h-atom-toast-l;
    width: $w-atom-toast-l;
  }
}
