@import '~@schibstedspain/sui-theme/lib/index';

$b-atom-toast: 1px solid $c-gray !default;
$c-atom-toast-icon: $c-gray !default;
$bgc-atpm-toast: $c-white;

.react-AtomToast {
  background-color: $bgc-atpm-toast;
  border: $b-atom-toast;
  position: fixed;
  margin: $m-xl;
  z-index: $z-notifications;

  &-icon {
    cursor: pointer;
    position: fixed;
    margin: $m-s;
    right: 0;

    svg {
      width: $sz-icon-s;
      height: $sz-icon-s;
      fill: $c-atom-toast-icon !important;
    }
  }

  // Position
  &--bottom,
  &--bottom-right,
  &--bottom-left {
    bottom: 0;
  }

  &--top,
  &--top-right,
  &--top-left {
    top: 0;
  }

  &--bottom,
  &--top {
    left: 50%;
    transform: translate(-50%, 0);
    margin: $m-xl auto;
  }

  &--bottom-right,
  &--top-right {
    right: 0;
  }

  &--bottom-left,
  &--top-left {
    left: 0;
  }
}
