@import '~@schibstedspain/sui-theme/lib/index';

$b-atom-toast: 1px solid $c-gray !default;
$c-atom-toast-icon: $c-gray !default;
$bgc-atpm-toast: $c-white;
$h-atom-toast-s: 48px;
$h-atom-toast-m: 64px;
$h-atom-toast-l: 96px;
$w-atom-toast: 264px;

.react-AtomToast {
  background-color: $bgc-atpm-toast;
  border: $b-atom-toast;
  position: fixed;
  z-index: $z-notifications;

  &-icon {
    cursor: pointer;
    position: absolute;
    margin: $m-s;
    right: 0;

    svg {
      width: $sz-icon-s;
      height: $sz-icon-s;
      fill: $c-atom-toast-icon !important;
    }
  }

  // Margin
  &-margin {
    &--s {
      margin: $m-s;
    }

    &--m {
      margin: $m-m;
    }

    &--l {
      margin: $m-l;
    }
  }

  // Position
  &-position {
    &--bottom,
    &--bottom-right,
    &--bottom-left {
      bottom: 0;
    }

    &--top,
    &--top-right,
    &--top-left {
      top: 0;
    }

    &--bottom,
    &--top {
      left: 50%;
      margin-left: calc(-#{$w-atom-toast} / 2);
    }

    &--bottom-right,
    &--top-right {
      right: 0;
    }

    &--bottom-left,
    &--top-left {
      left: 0;
    }
  }

  // Size
  &-size {
    &--s {
      height: $h-atom-toast-s;
      width: $w-atom-toast;
    }

    &--m {
      height: $h-atom-toast-m;
      width: $w-atom-toast;
    }

    &--l {
      height: $h-atom-toast-l;
      width: $w-atom-toast;
    }
  }
}
