@import '~@schibstedspain/theme-basic/lib/index';

$bgc-atom-image-panel: $c-gray-light !default;
$c-atom-image-panel: $c-black !default;
$horizontal-alignments-atom-image-panel: ('left', 'center', 'right') !default;
$vertical-alignments-atom-image-panel: ('top', 'center', 'bottom') !default;

.sui-AtomImagePanel {
  background-color: $bgc-atom-image-panel;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    background-color: currentColor;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &--resized {
    background-size: cover;
  }

  &-content {
    color: $c-atom-image-panel;
    position: relative;
  }

  @each $alignment in $horizontal-alignments-atom-image-panel {
    &--h-#{$alignment} {
      background-position-x: #{$alignment};
    }
  }

  @each $alignment in $vertical-alignments-atom-image-panel {
    &--v-#{$alignment} {
      background-position-y: #{$alignment};
    }
  }
}
