@import '~@schibstedspain/theme-basic/lib/index';

$bgc-image-panel: $c-gray-light;

$horizontal-alignments: ('left', 'center', 'right');
$vertical-alignments: ('top', 'center', 'bottom');

.sui-AtomImagePanel {
  background-color: $bgc-image-panel;
  background-repeat: no-repeat;

  &-cropped {
    background-size: cover;
  }

  &-resized {
    background-size: contain;
  }

  @each $alignment in $horizontal-alignments {
    &--h-#{$alignment} {
      background-position-x: #{$alignment};
    }
  }

  @each $alignment in $vertical-alignments {
    &--v-#{$alignment} {
      background-position-y: #{$alignment};
    }
  }
}
