@import '~@s-ui/react-atom-image/lib/index';

.sui-AtomCard {
  border: 1px solid #ccc;
}

.DemoAtomCard {

  &-section {
    padding: 10px;
    max-width: 800px;
    border: 1px solid blue;
    margin: 20px 20px 20px 0;

    &--vertical {
      max-width: 300px;
    }

    &--responsive {
      max-width: 1000px;
      border: 2px dashed blue;
      overflow: hidden;
      resize: horizontal;
    }

    &--responsive-vertical {
      max-width: 1000px;
      border: 2px dashed blue;
      overflow: hidden;
      resize: horizontal;
      width: 200px;
    }

    &--big {
      max-width: 1000px;
    }

  }

}
