@import '~@s-ui/react-atom-image/lib/index';

.DemoAtomCard {

  &-section {
    padding: 10px;

    &--responsive {
      border: 2px dashed blue;
      overflow: hidden;
      padding: 10px;
      resize: horizontal;
      margin-right: 20px;
    }

  }

}
