$fz-atom-popover: $fz-m !default;
$lh-atom-popover: $lh-m !default;
$c-atom-popover: $c-black !default;
$bdc-atom-popover: $c-gray-light-3 !default;
$bgc-atom-popover: $c-white !default;
$bdrs-atom-popover: $bdrs-m !default;
$bdw-atom-popover: $bdw-s !default;
$mt-atom-popover: $m-m !default;
$mb-atom-popover: $m-m !default;
$ml-atom-popover: $m-m !default;
$mr-atom-popover: $m-m !default;
$m-atom-popover: 0 !default;
$p-atom-popover: 0 !default;
$z-atom-popover: $z-tooltips !default;
$bxsh-atom-popover: $bxsh-l !default;
$c-atom-popover-close-icon: currentColor !default;
$mr-atom-popover-close-icon: $m-s !default;
$mt-atom-popover-close-icon: $m-s !default;
$sz-atom-popover-close-icon: $sz-icon-s !default;
$z-atom-popover-placement: auto !default;

$w-atom-popover-arrow: $p-m + $p-s !default;
$h-atom-popover-arrow: $p-m !default;
$c-atom-popover-arrow: $bdc-atom-popover !default;

$base-class: '.sui-AtomPopover';
$class-inner: '#{$base-class}-inner';

$class-arrow: '#{$base-class}-arrow';
