$bdw-pin-input-field: $bdw-s;
$bdc-pin-input-field: $c-gray-light-3;
$lh-pin-input-field: $lh-m;
$fw-pin-input-field: $fw-regular;
$bdrs-pin-input-field: $bdrs-base;

$m-pin-input-children: $m-m !default;
