$bdc-pin-input-field: $c-gray-light-3 !default;
$bdrs-pin-input-field: $bdrs-base !default;
$bdw-pin-input-field: $bdw-s !default;
$fw-pin-input-field: $fw-regular !default;
$lh-pin-input-field: $lh-m !default;
$m-pin-input-children: $m-m !default;
