@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-icon/lib/index';

$base-class: '.react-AtomActionButton';

$bdsz-atom-action-button-icon-outline: 1px;

$c-atom-action-button-neutral: color-variation($c-gray, 2);

$c-atom-action-button-accent-active: color-variation($c-accent, -2) !default;
$c-atom-action-button-neutral-active: color-variation(
  $c-atom-action-button-neutral,
  -2
) !default;
$c-atom-action-button-primary-active: color-variation($c-primary, -2) !default;

$c-atom-action-button-accent-disabled: color-variation($c-accent, 4) !default;
$c-atom-action-button-neutral-disabled: color-variation(
  $c-atom-action-button-neutral,
  4
) !default;
$c-atom-action-button-primary-disabled: color-variation($c-primary, 4) !default;

$c-atom-action-button-accent-hover: color-variation($c-accent, 1) !default;
$c-atom-action-button-neutral-hover: color-variation($c-gray, 3) !default;
$c-atom-action-button-primary-hover: color-variation($c-primary, 1) !default;

$c-atom-action-button-accent-hover-2: color-variation($c-accent, 4) !default;
$c-atom-action-button-neutral-hover-2: color-variation($c-gray, 5) !default;
$c-atom-action-button-primary-hover-2: color-variation($c-primary, 4) !default;

$c-atom-action-button-accent-icon-bg: color-variation($c-accent, 3) !default;
$c-atom-action-button-neutral-icon-bg: color-variation(
  $c-atom-action-button-neutral,
  3
) !default;
$c-atom-action-button-primary-icon-bg: color-variation($c-primary, 3) !default;

$c-atom-action-button-colors: (
  'accent': (
    $c-accent,
    $c-white,
    $c-atom-action-button-accent-active,
    $c-atom-action-button-accent-disabled,
    $c-atom-action-button-accent-hover,
    $c-atom-action-button-accent-hover-2,
    $c-atom-action-button-accent-icon-bg
  ),
  'neutral': (
    $c-atom-action-button-neutral,
    $c-white,
    $c-atom-action-button-neutral-active,
    $c-atom-action-button-neutral-disabled,
    $c-atom-action-button-neutral-hover,
    $c-atom-action-button-neutral-hover-2,
    $c-atom-action-button-neutral-icon-bg
  ),
  'primary': (
    $c-primary,
    $c-white,
    $c-atom-action-button-primary-active,
    $c-atom-action-button-primary-disabled,
    $c-atom-action-button-primary-hover,
    $c-atom-action-button-primary-hover-2,
    $c-atom-action-button-primary-icon-bg
  )
) !default;

$bdrs-atom-action-button: $bdrs-m !default;
$bdrs-atom-action-button-icon: $bdrs-rounded !default;

$ff-atom-action-button: $ff-sans-serif !default;
$fz-atom-action-button: $fz-m !default;
$fw-atom-action-button: $fw-semi-bold !default;

$icon-m-atom-action-button: $m-m !default;

$sz-atom-action-button-icon-small: $sz-icon-l !default;
$sz-atom-action-button-icon: $sz-icon-xl !default;
$sz-atom-action-button-icon-large: $sz-icon-xxl !default;

$p-atom-action-button: $p-m !default;
$sz-atom-action-button: $p-base * 5 !default;

$tt-atom-action-button: none !default;

$icon-fill-color: currentColor !default;
$icon-stroke-color: currentColor !default;

@mixin action-button-icon($size) {
  & #{$base-class}-icon {
    height: $size;
    width: $size;
  }
}

#{$base-class} {
  @include reset-button;
  @include action-button-icon($sz-atom-action-button-icon);

  align-items: center;
  background: none;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font: {
    family: $ff-atom-action-button;
    size: $fz-atom-action-button;
    weight: $fw-atom-action-button;
  }
  line-height: normal;
  min-width: $sz-atom-action-button;
  outline: 0;
  padding: $p-atom-action-button;
  text-transform: $tt-atom-action-button;
  white-space: nowrap;

  & + & {
    margin-left: $m-m;
  }

  &-inner {
    align-items: center;
    display: flex;
    height: 100%;
    pointer-events: none;
  }

  // Icon
  &-icon {
    align-items: center;
    border-radius: $bdrs-atom-action-button-icon;
    display: flex;
    justify-content: center;
    margin-bottom: $m-m;

    svg {
      fill: $icon-fill-color;
      stroke: $icon-stroke-color;
    }
  }

  // Types and colors
  @each $name, $pair in $c-atom-action-button-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-active: nth($pair, 3);
    $color-disabled: nth($pair, 4);
    $color-hover: nth($pair, 5);
    $color-hover-2: nth($pair, 6);
    $color-positive-icon-bg: nth($pair, 7);

    &--#{$name}Color {
      color: $color;

      &#{$base-class}--filledNegative {
        & #{$base-class}-icon {
          background: $color;
          color: $color-invert;
        }
        &:hover #{$base-class}-icon {
          background: $color-hover;
          color: $color-invert;
        }
      }

      &#{$base-class}--filledPositive {
        & #{$base-class}-icon {
          background: $color-positive-icon-bg;
        }
        &:hover #{$base-class}-icon {
          background: $color-hover-2;
        }
      }

      &#{$base-class}--outline {
        & #{$base-class}-icon {
          background: none;
          border: $bdsz-atom-action-button-icon-outline solid $color;
        }
        &:hover #{$base-class}-icon {
          background: $color-hover-2;
        }
      }

      &#{$base-class}--flat {
        & #{$base-class}-icon {
          background: none;
        }
        &:hover {
          background: $color-hover-2;
        }
      }
    }
  }

  // Modifiers
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }

  &--small {
    @include action-button-icon($sz-atom-action-button-icon-small);
  }

  &--large {
    @include action-button-icon($sz-atom-action-button-icon-large);
  }

  &--link {
    &,
    &:hover {
      text-decoration: none;
    }
  }
}
