@import '~@s-ui/theme/lib/index';

$bdrs-atom-badge: $bdrs-m !default;
$c-atom-badge: $c-white !default;
$fz-atom-badge-l: $fz-m !default;
$fz-atom-badge-m: $fz-s !default;
$fz-atom-badge-s: $fz-xs !default;
$h-atom-badge-l: 24px !default;
$h-atom-badge-s: 16px !default;
$m-atom-badge-l: $m-m !default;
$m-atom-badge-s: $m-s !default;
$p-atom-badge: 0 $p-m !default;
$ws-atom-badge: nowrap !default;

$badges: (
  success: (
    bgc: $c-success,
    c: $c-white
  ),
  error: (
    bgc: $c-error,
    c: $c-white
  ),
  alert: (
    bgc: $c-alert,
    c: $c-white
  ),
  info: (
    bgc: $c-gray,
    c: $c-white
  ),
  new: (
    bgc: $c-accent,
    c: $c-white
  ),
  neutral: (
    bgc: $c-white,
    c: $c-gray-dark-3
  ),
  primary: (
    bgc: $c-primary,
    c: $c-white
  )
) !default;

$badge-transparent: (
  success: $c-success,
  error: $c-error,
  alert: $c-alert,
  info: $c-gray,
  new: $c-accent,
  neutral: $c-white,
  primary: $c-primary
) !default;

.sui-AtomBadge {
  align-items: center;
  background: transparent;
  border-radius: $bdrs-atom-badge;
  box-sizing: border-box;
  color: $c-atom-badge;
  fill: currentColor;
  display: inline-flex;
  justify-content: center;
  margin-right: $m-atom-badge-l;
  white-space: $ws-atom-badge;

  &:last-child {
    margin-right: 0;
  }

  &-small {
    font-size: $fz-atom-badge-s;
    line-height: $h-atom-badge-s;
    height: $h-atom-badge-s;
    padding: $p-atom-badge;
  }

  &-medium {
    font-size: $fz-atom-badge-m;
    line-height: $h-atom-badge-s;
    height: $h-atom-badge-s;
    padding: $p-atom-badge;
  }

  &-large {
    font-size: $fz-atom-badge-l;
    line-height: $h-atom-badge-l;
    height: $h-atom-badge-l;
    padding: $p-atom-badge;
  }

  &-icon {
    @include sui-icon--small;
    line-height: initial;
    margin-right: $m-atom-badge-s;
    vertical-align: middle;

    &--iconRight {
      margin-left: $m-atom-badge-s;
    }
  }

  &[class$='--transparent'] {
    padding: 0;
  }

  @each $type, $element in $badges {
    $bgc: map-get($element, bgc);
    $c: map-get($element, c);

    &-#{$type} {
      background: $bgc;
      @if ($c != $c-atom-badge) {
        color: $c;
      }
    }
  }

  @each $type, $element in $badge-transparent {
    &-#{$type}--transparent {
      color: $element;
    }
  }
}
