// sass-lint:disable class-name-format, no-important
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';

$mah-cover-basic: map-get($breakpoints, 's') !default;
$h-cover-basic-small: 30% !default;
$fz-cover-basic-button: $fz-base !default;
$ml-cover-basic-buttons: $m-base !default;
$mt-cover-basic-buttons: $m-base !default;
$c-cover-basic-children: $c-white !default;
$op-cover-basic-gradient-after: .35 !default;
$sz-cover-basic-button-icon: $sz-icon-s !default;
$c-cover-basic-button-icon: $c-primary !default;
$bgsz-cover-basic-bgImage: cover !default;
$bgp-cover-basic-bgImage: center !default;
$bgr-cover-basic-bgImage: initial !default;
$bgc-cover-basic-button: rgba(255, 255, 255, .75) !default;
$bdrs-cover-basic-button: $bdrs-base !default;
$z-cover-basic-children: 1 !default;
$z-cover-basic-button-list: 1 !default;

.sui-CoverBasic {
  @include media-breakpoint-down(s) {
    height: $h-cover-basic-small;

    .sui-CoverBasic-buttonList {
      display: none;
    }
  }

  height: $mah-cover-basic;
  position: relative;
  width: 100%;

  &.is-clickable {
    cursor: pointer;
  }

  &--gradient {
    display: block;
    position: relative;
    width: 100%;

    &::after {
      background: $c-black;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: $op-cover-basic-gradient-after;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &--bgImage {
    background-size: $bgsz-cover-basic-bgImage;
    background-position: $bgp-cover-basic-bgImage;
    background-repeat: $bgr-cover-basic-bgImage;
    width: 100%;
  }

  &-buttonList {
    display: flex;
    flex-direction: row;
    margin-left: $ml-cover-basic-buttons;
    margin-top: $mt-cover-basic-buttons;
    position: absolute;
    top: 0;
    z-index: $z-cover-basic-button-list;
  }

  &-button {
    background-color: $bgc-cover-basic-button;
    border-radius: $bdrs-cover-basic-button;
    margin-right: $m-m;

    &:last-child {
      margin-right: 0;
    }

    &Icon {
      height: $sz-cover-basic-button-icon;
      width: $sz-cover-basic-button-icon;
    }
  }

  &-children {
    align-items: center;
    color: $c-cover-basic-children;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-cover-basic-children;
  }
}
