$base-class: '.sui-MoleculeRating';
$class-star: '#{$base-class}-Star';
$class-label: '#{$base-class}-label';
$class-label-link: '#{$class-label}Link';

#{$class-star} {
  align-items: center;
  color: $c-molecule-rating-svg;
  display: flex;
  margin-left: $m-l-molecule-rating-stars;

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }
}

#{$base-class} {
  align-items: center;
  display: flex;

  &-containerStars {
    display: flex;
  }

  #{$class-label} {
    color: $c-molecule-rating;
    display: flex;
    margin: $m-molecule-rating-label;
    padding: $p-molecule-rating-label;
  }

  &--small {
    font-size: $fz-molecule-rating-small;

    #{$class-star} {
      height: $h-molecule-rating-small;
      width: $w-molecule-rating-small;
      margin-left: $m-l-molecule-small-rating-stars;
    }

    #{$class-label} {
      font-size: inherit;
    }
  }

  &--medium {
    font-size: $fz-molecule-rating-medium;

    #{$class-star} {
      height: $h-molecule-rating-medium;
      width: $w-molecule-rating-medium;
      margin-left: $m-l-molecule-small-rating-stars;
    }

    #{$class-label} {
      font-size: inherit;
    }
  }

  &--large {
    font-size: $fz-molecule-rating-large;

    #{$class-star} {
      height: $h-molecule-rating-large;
      width: $w-molecule-rating-large;
    }

    #{$class-label} {
      font-size: inherit;
    }
  }

  &--withLink {
    #{$class-label} {
      &:hover {
        background: $bg-molecule-rating-hover;
        cursor: pointer;
      }
    }

    #{$class-label-link} {
      color: $c-molecule-rating;
      text-decoration: none;

      &:hover {
        color: $c-molecule-rating;
        text-decoration: none;
      }
    }
  }
}
