$h-molecule-rating-small: $sz-icon-s !default;
$w-molecule-rating-small: $sz-icon-s !default;

$h-molecule-rating-medium: $sz-icon-m !default;
$w-molecule-rating-medium: $sz-icon-m !default;

$h-molecule-rating-large: $sz-icon-l !default;
$w-molecule-rating-large: $sz-icon-l !default;

$fz-molecule-rating-small: $fz-s !default;
$fz-molecule-rating-medium: $fz-m !default;
$fz-molecule-rating-large: $fz-l !default;

$c-molecule-rating: $c-gray-dark !default;
$c-molecule-rating-label-hover: $c-primary !default;
$bg-molecule-rating-hover: $c-primary-light-5 !default;

$m-molecule-rating-label: 0 0 0 $m-m !default;
$m-l-molecule-rating-stars: 0 !default;
$m-l-molecule-small-rating-stars: $m-l-molecule-rating-stars !default;
$p-molecule-rating-label: $p-m !default;
$p-molecule-rating-stars: 0 !default;

$c-molecule-rating-svg: $c-black !default;
$c-molecule-rating-svg-hover: $c-primary !default;
