@import '~@s-ui/react-atom-icon/lib/index';

@import '../src/index';

.sui-MoleculeProgressSteps {
  $this: &;
  .DemoMoleculeProgressSteps {
    padding: 20px;
    h3 {
      margin-top: 40px;
    }

    &-section--vertical &-contentStep {
      margin: 0;
    }
    &-contentStep {
      background: #ddd;
      padding: 10px;
      box-sizing: border-box;
      height: 100%;
    }

    &-section {
      border: 1px solid #ccc;
      margin-bottom: 16px;
      padding: 40px;

      &--vertical {
        height: 700px;
      }

      &-responsive {
        background: white;
        border: 2px dashed blue;
        margin-top: 10px;
        overflow: hidden;
        padding: 30px;
        resize: horizontal;
      }
    }

    .sui-MoleculePagination {
      background: white;
      padding: 10px;
    }

    &--fullWidth {
      border: 2px dashed blue;
      margin-right: 20px;
      overflow: hidden;
      padding: 10px;
      resize: horizontal;
    }
  }
}
