@import '~@s-ui/theme/lib/index';

@import '../src/index';

$popover-type: (
  dark: (
    bgc: $c-gray-dark-3,
    bdc: $c-gray-dark-3
  )
);

.DemoAtomPopover-section {
  .blink {
    color: currentColor;
    &.is-blinking {
      transition: color 0.05s ease-out;
      color: #0091c4;
    }
    &.is-unblinking {
      transition: color 5s ease-out;
      color: currentColor;
    }
  }
}
