@import '~@s-ui/theme/lib/index';

$h-dropdown-list--small: 145px !default;
$h-dropdown-list--medium: 220px !default;
$h-dropdown-list--large: 300px !default;

$bc-dropdown-list: $c-white !default;
$bd-dropdown-list: $bdw-s solid color-variation($c-gray, 2) !default;
$p-dropdown-list: $p-s !default;
$bxsh-dropdown-list: $bxsh-l !default;
$bdrs-dropdown-list: 0 !default;
$bxz-dropdown-list: inherit !default;

.sui-MoleculeDropdownList {
  background: $bc-dropdown-list;
  border: $bd-dropdown-list;
  border-radius: $bdrs-dropdown-list;
  box-shadow: $bxsh-dropdown-list;
  box-sizing: $bxz-dropdown-list;
  margin: 0;
  overflow-y: scroll;
  padding: $p-dropdown-list;
  width: 100%;

  &.is-hidden {
    display: none;
  }

  &--small {
    max-height: $h-dropdown-list--small;
  }

  &--medium {
    max-height: $h-dropdown-list--medium;
  }

  &--large {
    max-height: $h-dropdown-list--large;
  }

  &:focus {
    outline: none;
  }
}
