$c-molecule-image-editor-label: $c-gray !default;
$h-molecule-image-editor: 300px !default;
$mb-molecule-image-editor-crop: $m-xxl !default;
$mt-molecule-image-editor-slider: $m-xl !default;
$w-molecule-image-editor-label-text: 50px !default;
