$c-atom-slider: $c-gray !default;
$c-atom-slider-text: $c-gray-light-2 !default;
$c-atom-slider-tooltip: $c-gray-dark !default;

$c-atom-slider-rail: $c-gray-light-4 !default;
$c-atom-slider-track: $c-gray-light !default;

$ff-atom-slider: $ff-sans-serif !default;
$fz-atom-slider: $fz-m !default;

$h-atom-slider-handle: 24px !default;
$ml-atom-slider-handle: 0 !default;
$ml-atom-slider-label: 0 !default;
$mb-atom-slider-label: $m-m !default;
$trf-atom-slider-label: translateX(-50%) !default;
$c-atom-slider-label: $c-system !default;
$w-atom-slider-handle: 24px !default;

$h-atom-slider-track: 8px !default;
$p-atom-slider: $p-l !default;

$mt-atom-slider-mark: 10px !default;
