@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-rating-icons/lib/index';

$bd-profileSidebarcard-avatar-halo: 4px solid $c-accent !default;
$bgc-profileSidebarcard: #eeeeee !default;
$c-profile-info: #737980 !default;
$ff-profile-rating-info-box-name: 'Open Sans', sans-serif !default;

$h-profileSidebarcard: 280px;
$w-profileSidebarcard: 172px;

$w-profileSidebarcard-avatar: 64px;
$h-profileSidebarcard-avatar: 64px;
$p-profileSidebarcard-avatar: $p-l;

.sui-ProfileSidebarcard {
  background-color: $bgc-profileSidebarcard;
  display: flex;
  flex-direction: column;
  height: $w-profileSidebarcard;
  width: $h-profileSidebarcard;

  &-topcontainer {
    display: flex;
    flex-grow: .4;

    &Avatar {
      &Halo {
        border: $bd-profileSidebarcard-avatar-halo;
        border-radius: 50%;
        height: ($h-profileSidebarcard-avatar + $p-profileSidebarcard-avatar);
        margin: $m-l;
        width: ($w-profileSidebarcard-avatar + $p-profileSidebarcard-avatar);
      }

      &RadiusWrapper {
        border-radius: 50%;
        display: block;
        height: $w-profileSidebarcard-avatar;
        margin-left: auto;
        margin-right: auto;
        margin-top: $m-s;
        overflow: hidden;
        width: $w-profileSidebarcard-avatar;

        img {
          width: $w-profileSidebarcard-avatar;
        }
      }
    }

    &RatingInfoBox {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      justify-content: center;
      margin-top: -$m-l;

      &Name {
        color: $c-profile-info;
        font-family: $ff-profile-rating-info-box-name;
        font-size: $fz-l;
        line-height: 1;
        text-align: left;
      }
    }
  }

  &-bottomContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;

    .sui-ProfileSidebarcard-counterBox {
      color: $c-profile-info;
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;

      &Number {
        font-size: $fz-xxl;
      }
    }
  }
}