@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-rating-icons/lib/index';
@import 'settings';


.sui-ProfileSidebarcard {
  background-color: $bgc-profile-sidebarcard;
  display: flex;
  flex-direction: column;
  height: $w-profile-sidebarcard;
  width: $h-profile-sidebarcard;

  &-topcontainer {
    display: flex;
    flex-grow: .4;

    &Avatar {
      &Halo {
        border: $bd-profile-sidebarcard-avatar-halo;
        border-radius: 50%;
        height: ($h-profile-sidebarcard-avatar + $p-profile-sidebarcard-avatar);
        margin: $m-l;
        width: ($w-profile-sidebarcard-avatar + $p-profile-sidebarcard-avatar);
      }

      &RadiusWrapper {
        border-radius: 50%;
        display: block;
        height: $w-profile-sidebarcard-avatar;
        margin-left: auto;
        margin-right: auto;
        margin-top: $m-s;
        overflow: hidden;
        width: $w-profile-sidebarcard-avatar;

        img {
          width: $w-profile-sidebarcard-avatar;
        }
      }
    }

    &RatingInfoBox {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      justify-content: center;
      margin-top: -$m-l;

      &Name {
        color: $c-profile-info;
        font-family: $ff-profile-rating-info-box-name;
        font-size: $fz-l;
        line-height: 1;
        text-align: left;
      }
    }
  }

  &-bottomContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;

    .sui-ProfileSidebarcard-counterBox {
      color: $c-profile-info;
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;

      &Number {
        font-size: $fz-xxl;
      }
    }
  }
}