$base-class-container: '#{$base-class}_Container';

#{$base-class-container} {
  display: flex;
  flex-grow: 1;
  width: 100%;
  border-radius: $bdrs-atom-input;
  $this: &;
  &:not(#{$base-class-container}-noBorder) {
    border-radius: $bdrs-atom-input;
    &#{$this}-shape {
      @each $shapeMapKey, $shapeMapValue in $bdrs-atom-input-shapes {
        &-#{$shapeMapKey} {
          border-radius: $shapeMapValue;
        }
      }
    }
    &#{$this}:focus-within:has(#{$base-class-input}:focus-visible) {
      outline-style: solid;
      outline-color: transparentize($c-primary, 0.2);
      outline-width: 2px;
      outline-offset: 2px;
    }
  }
}
