@import '~@s-ui/theme/lib/index';

$sixteenByNineAspectRatio: calc(100% / 16 * 9);
$fourByThreeAspectRatio: calc(100% / 4 * 3);

@mixin atom-videoplayer-external-player {
  position: relative;

  &Frame {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sui-AtomVideoPlayer {
  &-nativePlayer {
    &Video {
      width: 100%;
    }
  }

  &-hlsPlayer {
    &Video {
      max-width: 100%;
    }
  }

  &-vimeoPlayer {
    @include atom-videoplayer-external-player;
    padding: $fourByThreeAspectRatio 0 0 0;
  }

  &-youtubePlayer {
    @include atom-videoplayer-external-player;
    padding: $sixteenByNineAspectRatio 0 0 0;
  }
}
