@import '~@s-ui/theme/lib/index';

.sui-AtomVideoPlayer {
  &-vimeoPlayer {
    padding: 73.33% 0 0 0; /* This is a magic number coming from vimeo snippet */
    position: relative;

    &Frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
