$c-pagination-basic-link: $c-primary !default;
$fw-pagination-basic-item-link: $fw-regular !default;
$fw-pagination-basic-item-selected: $fw-bold !default;
$fz-pagination-basic-item: $fz-l !default;
$m-pagination-basic-item: 0 $m-s !default;
$p-pagination-basic-item-link: $p-s $p-m !default;
$p-pagination-basic-item-text: $p-s $p-m !default;
$p-pagination-basic: $p-s 0 $p-l !default;
