@import 'components/atom/icon/src/index.scss';

.DemoAtomCheckboxField {
  padding: 20px;

  &-section {
    border: $bdw-s solid #ddd;
    margin: 20px 20px 20px 0;
    max-width: 800px;
    min-width: 300px;
    padding: 10px;
  }
}
