@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

// Spinner animation

@keyframes sui-spinner-animation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Spinner position

@mixin sui-spinner-position {
  left: 0;
  position: absolute;
  top: 0;
}

.sui-SpinnerBasic {
  display: inline-block;
  line-height: 1;
  margin: $m-spinner;
  overflow: hidden;
  position: relative;
  vertical-align: top;

  &-circle {
    &Background {
      @include sui-spinner-position;
      opacity: $op-spinner;
    }

    &Arc {
      @include sui-spinner-position;
      animation: sui-spinner-animation $animdur-spinner $animic-spinner $animtf-spinner;
    }
  }

  // Spinner Large
  &--large {
    height: $size-spinner-l;
    width: $size-spinner-l;
  }

  &--large &-circle {
    border-radius: $size-spinner-l;
    height: $size-spinner-l;
    width: $size-spinner-l;

    &Background {
      border: $bdw-spinner-l solid $c-spinner;
    }

    &Arc {
      border: $bdw-spinner-l solid transparent;
      border-right-color: $c-spinner;
    }
  }

  // Spinner Medium
  &--medium {
    height: $size-spinner-m;
    width: $size-spinner-m;
  }

  &--medium &-circle {
    border-radius: $size-spinner-m;
    height: $size-spinner-m;
    width: $size-spinner-m;

    &Background {
      border: $bdw-spinner-m solid $c-spinner;
    }

    &Arc {
      border: $bdw-spinner-m solid transparent;
      border-right-color: $c-spinner;
    }
  }

  // Spinner Small
  &--small {
    height: $size-spinner-s;
    width: $size-spinner-s;
  }

  &--small &-circle {
    border-radius: $size-spinner-s;
    height: $size-spinner-s;
    width: $size-spinner-s;

    &Background {
      border: $bdw-spinner-s solid $c-spinner;
    }

    &Arc {
      border: $bdw-spinner-s solid transparent;
      border-right-color: $c-spinner;
    }
  }
}
