$base-class: '.sui-AtomInput';
$base-class-tag: '.sui-AtomTag';
$class-tags: '#{$base-class}--withTags';
$class-input: '#{$base-class}-input';

#{$class-tags} {
  @include sui-atom-input-input;
  border-radius: $bdrs-molecule-input-tags;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 $p-m;

  &--focus {
    @include sui-atom-input-input-focus;
  }

  &--disabled {
    background-color: $bg-input-tag-disable;
  }

  & #{$class-input} {
    flex: 1;
    height: 100%;
    padding-left: 0;
  }

  @each $type, $attr in $sizes-atom-input {
    &-#{$type} {
      height: 100%;
      min-height: $attr;

      #{$class-input} {
        min-height: calc(#{$attr} - #{$p-m} * 2 - 2px);
      }
    }
  }

  @each $type, $attr in $sizes-atom-input-paddings {
    &-#{$type} {
      #{$class-tags}-container {
        padding: $attr 0 $attr $attr;
      }

      #{$base-class-tag} {
        margin-bottom: calc(#{$attr} - 2px);
        margin-top: calc(#{$attr} - 2px);
      }
    }
  }

  @each $state, $color in $states-atom-input {
    &--#{$state} {
      border-color: $color;
    }
  }
}
