@import '~@s-ui/theme/lib/index';

$sz-atom-validation-code-input: 40px;

.react-AtomValidationCode {
  &-label {
    font-size: $fz-m;
  }

  &-input {
    border: 1px solid $c-gray;
    border-radius: $bdrs-xl;
    box-sizing: border-box;
    height: $sz-atom-validation-code-input;
    padding: $p-m;
    text-align: center;
    width: $sz-atom-validation-code-input;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
      border: 1px solid $c-primary;
    }

    & + & {
      margin-left: $m-l;
    }
  }
}
