@import '~@s-ui/theme/lib/index';

$sz-atom-validation-code-input: 40px !default;
$bd-atom-validation-code-input: $bdw-s solid $c-gray !default;
$bd-atom-validation-code-input-focus: $bdw-s solid $c-primary !default;

.react-AtomValidationCode {
  &-label {
    font-size: $fz-m;
  }

  &-code {
    display: flex;
    justify-content: space-between;
  }

  &-input {
    border-radius: $bdrs-xl;
    border: $bd-atom-validation-code-input;
    box-sizing: border-box;
    height: $sz-atom-validation-code-input;
    font-size: $fz-m;
    padding: $p-m;
    text-align: center;
    width: $sz-atom-validation-code-input;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
      border: $bd-atom-validation-code-input-focus;
    }

    & + & {
      margin-left: $m-m;
    }
  }
}
