@import '~@s-ui/react-atom-icon/lib/index';

@import '../src/index';

.DemoOrganismNestedCheckboxes {
  padding: 15px;

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-top: 30px;
  }

  small {
    font-weight: normal;
  }
}
