@import '~@schibstedspain/sui-theme/lib/index';

$r-atom-input-password-toggle-button: $gutter !default;

.sui-AtomInput-withIcon {
  position: relative;
  width: 100%;

  .sui-AtomInput-input {
    padding-left: 50px;
  }

  &--icon {
    align-items: center;
    color: $c-primary;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    left: $r-atom-input-password-toggle-button;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;

    & > * {
      height: 100%;
      width: 100%;
    }
  }
}
