$base-class: '.sui-AtomValidationText';

#{$base-class} {
  display: block;
  font-size: $fz-atom-validation-text;
  margin: $mt-atom-validation-text 0 0;

  @each $type, $color in $validation {
    &--#{$type} {
      color: $color;
    }
  }
}
