$h-dropdown-list--small: 145px !default;
$h-dropdown-list--medium: 220px !default;
$h-dropdown-list--large: 300px !default;

$m-dropdown-list--design-flat: 0 !default;

$bc-dropdown-list: $c-white !default;
$bd-dropdown-list: $bdw-s solid color-variation($c-gray, 2) !default;
$p-dropdown-list: $p-s !default;
$bxsh-dropdown-list: $bxsh-l !default;
$bdrs-dropdown-list: 0 !default;
$bxz-dropdown-list: border-box !default;
