.sui-AtomInput--withAddon {
  align-items: center;
  background-color: $bgc-atom-input-addon;
  border-color: $bdc-atom-input-addon;
  border-style: solid;
  color: $c-atom-input-addon;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  line-height: inherit;
  padding-left: $p-atom-input-addon-left;
  padding-right: $p-atom-input-addon-right;

  &--right {
    border-width: $bdw-atom-input-addon-right;
  }

  &--left {
    border-width: $bdw-atom-input-addon-left;
  }

  &Wrapper {
    display: flex;
    @include atom-input-shape-wrapper(
      #{'sui-AtomInput--withAddonWrapper'},
      $bdrs-atom-input-shapes,
      $sizes-atom-input,
      $bdrs-atom-input,
      $h-atom-input--m
    );
  }
}
