$base-class-addon: '#{$base-class}--withAddon';

#{$base-class} {
  #{$base-class-addon} {
    align-items: center;
    background-color: $bgc-atom-input-addon;
    border-color: $bdc-atom-input-addon;
    border-style: solid;
    color: $c-atom-input-addon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: inherit;
    padding-left: $p-atom-input-addon-left;
    padding-right: $p-atom-input-addon-right;
    width: auto;

    &#{$base-class-addon}--right {
      border-left-width: 0;
    }

    &#{$base-class-addon}--left {
      border-right-width: 0;
    }
  }
  @each $state, $color in $states-atom-input {
    &#{$base-class}--status-#{$state} {
      #{$base-class}-item {
        &#{$base-class-addon} {
          border-color: $bdc-atom-input-addon;
          &#{$base-class-addon}--right {
            border-left-color: $color;
          }
          &#{$base-class-addon}--left {
            border-right-color: $color;
          }
        }
      }
    }
  }
  @each $state, $color in $states-atom-input {
    &#{$base-class}--status-#{$state} {
      #{$base-class}-item {
        &#{$base-class-addon} {
          border-color: $bdc-atom-input-addon;
          &#{$base-class-addon}--right {
            border-left-color: $color;
          }
          &#{$base-class-addon}--left {
            border-right-color: $color;
          }
        }
      }
    }
  }
}
