$bdw-atom-input-addon-right: $bdrs-s $bdrs-s $bdrs-s 0 !default;
$bdw-atom-input-addon-left: $bdrs-s 0 $bdrs-s $bdrs-s !default;
$bgc-atom-input-addon: $c-gray-lightest !default;
$bdc-atom-input-addon: $c-gray-light !default;
$c-atom-input-addon: $c-gray-light !default;
$p-atom-input-addon-left: $p-l !default;
$p-atom-input-addon-right: $p-l !default;

.sui-AtomInput--withAddon {
  &Wrapper {
    display: flex;
  }

  align-items: center;
  background-color: $bgc-atom-input-addon;
  border-color: $bdc-atom-input-addon;
  border-style: solid;
  color: $c-atom-input-addon;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  line-height: inherit;
  padding-left: $p-atom-input-addon-left;
  padding-right: $p-atom-input-addon-right;

  &--right {
    border-width: $bdw-atom-input-addon-right;
  }

  &--left {
    border-width: $bdw-atom-input-addon-left;
  }
}
