$bdw-atom-input-addon-right: $bdw-s $bdw-s $bdw-s 0 !default;
$bdw-atom-input-addon-left: $bdw-s 0 $bdw-s $bdw-s !default;
$bgc-atom-input-addon: $c-gray-lightest !default;
$bdc-atom-input-addon: $c-gray-light !default;
$c-atom-input-addon: $c-gray-light !default;
$p-atom-input-addon-left: $p-l !default;
$p-atom-input-addon-right: $p-l !default;
