@import '../src/index';
@import '~@s-ui/react-atom-image/lib/index';

.DemoMoleculeDropdownOption {
  padding: 20px;

  &-option {
    border: 1px dotted gray;
    background: white;
  }

  pre {
    padding: 16px;
    width: 300px;
  }

  &-image {
    display: flex;
    height: $sz-icon-m;
    width: $sz-icon-m;
  }
}
