$bd-select: $bdw-s solid transparent !default;
$bdrs-select: 0 !default;
$z-select-list: $z-navigation !default;
$mr-select-list-arrow: -$p-xxl !default;
$pr-select-atom-input-tags: $p-xxl !default;
$w-select-list-arrow: $sz-icon-m !default;
$h-select-list-arrow: $sz-icon-m !default;
$c-select-list-arrow-fill: initial !default;
$bgc-atom-input-disabled: $c-gray-lightest !default;

$bg-molecule-select-disabled: $bgc-atom-input-disabled !default;
$bd-molecule-select-disabled: $bd-atom-input-base !default;
$bd-molecule-select-focus: $bdw-s solid $c-primary !default;
$c-molecule-select-arrow-disabled: $c-select-list-arrow-fill !default;
$c-molecule-select-disabled: inherit !default;
