$bd-select: $bdw-s solid transparent !default;
$bdrs-select: $bdrs-atom-input !default;
$z-select-list: $z-navigation !default;
$mr-select-list-arrow: -$p-l !default;
$pr-select-atom-input-tags: $pr-atom-input !default;
$w-select-list-arrow: $sz-icon-m !default;
$h-select-list-arrow: $sz-icon-m !default;
$c-select-list-arrow-fill: initial !default;
$bgc-atom-input-disabled: $c-gray-lightest !default;

$bg-molecule-select-disabled: $bgc-atom-input-disabled !default;
$bd-molecule-select-disabled: $bd-atom-input-base !default;
$bd-molecule-select-focus: $bdw-s solid $c-primary !default;
$bdc-molecule-select-input-with-state: transparent !default;
$c-molecule-select-arrow-disabled: $c-select-list-arrow-fill !default;
$c-molecule-select-disabled: inherit !default;
$o-molecule-select-arrow-disabled: inherit !default;

$bd-molecule-select-search: $bd-dropdown-list !default;
$bd-bottom-molecule-select-search: none !default;
$bdrs-molecule-select-search: 0 !default;
$p-molecule-select-search: $p-m $p-l !default;
$bgc-molecule-select-search: $bc-dropdown-list !default;
