@mixin sui-atom-input-input {
  background: $c-white;
  border: 1px solid $c-gray-light;
  box-sizing: border-box;
  font-size: $fz-base;
  height: $h-atom-input--m;
  padding-left: $p-l;
  padding-right: $p-l;
  width: 100%;
}

@mixin sui-atom-input-input-focus {
  border: solid 1px $c-primary;
  box-shadow: 0 0 3px 0 $c-primary;
  outline: 0 none;
}