@import 'settings';

%sui-atom-input-input {
  background: $c-white;
  border: $bdw-s solid $c-gray-light;
  box-sizing: border-box;
  font-size: $fz-base;
  height: $h-atom-input--m;
  padding-left: $p-l;
  padding-right: $p-l;
  width: 100%;
}

%sui-atom-input-input-focus {
  border: $bdw-s solid $c-primary;
  box-shadow: $bxsh-focus;
  outline: 0 none;
}