$h-atom-input--m: 40px !default;
$h-atom-input--s: 32px !default;

$c-atom-input--success: $c-success !default;
$c-atom-input--error: $c-error !default;

$sizes-atom-input: m $h-atom-input--m, s $h-atom-input--s !default;
$states-atom-input: success $c-atom-input--success, error $c-atom-input--error !default;