$base-class: '.sui-AtomInput-input';
$class-read-only: '#{$base-class}--readOnly';

#{$base-class} {
  @extend %sui-atom-input-input;

  &--size {
    width: inherit;
  }

  &--hidden {
    display: none;
  }

  &--noBorder#{$base-class}--noBorder {
    border: 0;

    &:focus {
      border: 0;
      box-shadow: none;
      outline: 0;
    }
  }

  &[type='radio'],
  &[type='checkbox'] {
    height: inherit;
    margin-left: $m-m;
    margin-right: $m-m;
    width: inherit;
  }

  &[placeholder] {
    color: $c-gray-dark;
  }

  &[disabled] {
    &:not(#{$class-read-only}) {
      background: $c-gray-lightest;
    }
  }

  &:focus {
    @extend %sui-atom-input-input-focus;
  }

  &[type='radio']:focus,
  &[type='checkbox']:focus {
    border: 0;
    box-shadow: none;
    outline: 0 none;
  }

  @each $type, $attr in $sizes-atom-input {
    &-#{$type} {
      height: $attr;
    }
  }

  @each $state, $color in $states-atom-input {
    &.sui-AtomInput-input--#{$state} {
      border-color: $color;
    }
  }
}
