@import 'settings';
@import 'mixins';

.sui-AtomInput-input {
  @include sui-atom-input-input;

  &--size {
    width: inherit;
  }

  &--hidden {
    display: none;
  }

  &[type='radio'],
  &[type='checkbox'] {
    height: inherit;
    margin-left: $m-m;
    margin-right: $m-m;
    width: inherit;
  }

  &[placeholder] {
    color: $c-gray-dark;
  }

  &[disabled] {
    background: $c-gray-lightest;

    &[placeholder] {
      color: $c-gray-light;
    }
  }

  &:focus {
    @include sui-atom-input-input-focus;
  }

  @each $type, $attr in $sizes-atom-input {
    &-#{$type} {
      height: $attr;
    }
  }

  @each $state, $color in $states-atom-input {
    &--#{$state} {
      border-color: $color;
    }
  }

}