$h-atom-input--m: 40px !default;
$h-atom-input--s: 32px !default;

$c-atom-input--success: $c-success !default;
$c-atom-input--error: $c-error !default;

$sizes-atom-input: m $h-atom-input--m, s $h-atom-input--s !default;
$states-atom-input: success $c-atom-input--success, error $c-atom-input--error !default;

.sui-AtomInput-input {
  border-color: $c-gray-light;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: $fz-base;
  height: $h-atom-input--m;
  padding-left: $p-l;
  padding-right: $p-l;
  width: 100%;

  &--hidden {
    display: none;
  }

  &[type='radio'],
  &[type='checkbox'] {
    height: inherit;
    margin-left: $m-m;
    margin-right: $m-m;
    width: inherit;
  }

  &[placeholder] {
    color: $c-gray-dark;
  }

  &[disabled] {
    background: $c-gray-lightest;

    &[placeholder] {
      color: $c-gray-light;
    }
  }

  &:focus {
    box-shadow: inset 0 0 3px 0 $c-primary;
  }

  @each $type, $attr in $sizes-atom-input {
    &-#{$type} {
      height: $attr;
    }
  }

  @each $state, $color in $states-atom-input {
    &--#{$state} {
      border-color: $color;
    }
  }
}
