@import '~@s-ui/react-molecule-dropdown-option/lib/index';

.DemoMoleculeDropdownList {
  padding: 20px;

  &-list {
    background: white;
    width: 300px;
  }

  &-section {
    margin: 10px;
  }

  pre {
    padding: 16px;
    width: 300px;
  }
}
