@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-input/lib/index';
@import '~@s-ui/react-molecule-input-tags/lib/index';
@import '~@s-ui/react-molecule-dropdown-list/lib/index';

$base-class: '.sui-MoleculeSelect';
$class-input: '#{$base-class}-inputSelect';
$class-select-atom-input: '.sui-AtomInput';
$class-select-atom-input-input: '#{$class-select-atom-input}-input';
$class-select-atom-input-tags: '#{$class-select-atom-input}--withTags';

$bd-select: $bdw-s solid transparent !default;
$bdrs-select: 0 !default;
$z-select-list: $z-navigation !default;
$mr-select-list-arrow: -$p-xxl !default;
$pr-select-atom-input-tags: $p-xxl !default;
$w-select-list-arrow: $sz-icon-m !default;
$h-select-list-arrow: $sz-icon-m !default;
$c-select-list-arrow-fill: initial !default;
$bgc-atom-input-disabled: $c-gray-lightest !default;

$bd-molecule-select-disabled: $bd-atom-input-disabled !default;
$c-molecule-select-arrow-disabled: $c-select-list-arrow-fill !default;

#{$base-class} {
  outline: none;
  position: relative;

  .sui-MoleculeDropdownList {
    position: absolute;
    z-index: $z-select-list;
  }

  &-inputSelect {
    &-container {
      align-items: center;
      border: $bd-select;
      border-radius: $bdrs-select;
      cursor: pointer;
      display: flex;

      .is-disabled & {
        cursor: default;
        #{$class-select-atom-input-input} {
          background: $bgc-atom-input-disabled;
          border: $bd-molecule-select-disabled;
        }

        #{$class-input}-arrow {
          svg {
            fill: $c-molecule-select-arrow-disabled !important;
          }
        }
      }

      #{$class-select-atom-input-input}:disabled {
        opacity: 1;
        -webkit-appearance: none;
      }

      #{$class-select-atom-input-input}:first-child,
      #{$class-select-atom-input-tags} {
        padding-right: $pr-select-atom-input-tags;
      }
    }

    &-arrow {
      height: $h-select-list-arrow;
      margin-left: $mr-select-list-arrow;
      width: $w-select-list-arrow;

      &--down {
        transform: rotate(0deg);
      }

      &--up {
        transform: rotate(180deg);
      }

      svg {
        fill: $c-select-list-arrow-fill !important;
        height: $h-select-list-arrow;
        width: $w-select-list-arrow;
      }
    }
  }

  &--focus {
    #{$class-input} {
      &-container {
        @extend %sui-atom-input-select-focus;
        border: 1px solid $c-primary;
      }
    }
  }

  @each $state, $color in $states-atom-input {
    &#{$base-class}--#{$state} #{$base-class}-inputSelect-container {
      border-color: $color;
    }
  }
}
