@import '~@s-ui/theme/lib/index';

$atom-icon-sizes: (
  'extraSmall': $sz-icon-xs,
  'small': $sz-icon-s,
  'medium': $sz-icon-m,
  'large': $sz-icon-l,
  'extraLarge': $sz-icon-xl,
  'extraExtraLarge': $sz-icon-xxl
);

$atom-icon-colors: (
  'accent': $c-accent,
  'alert': $c-alert,
  'currentColor': currentColor,
  'error': $c-error,
  'primary': $c-primary,
  'success': $c-success,
  'gray': $c-gray
);

.sui-AtomIcon {
  // Colors
  @each $key, $value in $atom-icon-colors {
    &--#{$key} svg {
      fill: $value;
    }
  }

  // Sizes
  @each $key, $value in $atom-icon-sizes {
    &--#{$key} svg {
      height: $value;
      width: $value;
    }
  }

  > span {
    display: inherit;
  }

  svg {
    vertical-align: middle;

    path {
      stroke: none !important; // !important usage for AtomButton compatibility
    }
  }
}
