@import '~@schibstedspain/theme-basic/lib/index';

.sui-CookieBanner {
  background-color: $bgc-cookie-banner;
  bottom: 0;
  color: $c-cookie-banner;
  font-size: $fz-cookie-banner;
  left: 0;
  position: fixed; // var
  right: 0;
  z-index: $z-cookie-banner;

  &-content {
    display: flex;
    margin: 0 auto;
    max-width: $maw-cookie-banner-content;
    padding: $p-cookie-banner-content;
    text-align: $ta-cookie-banner-context;
  }

  &-message {
    margin-right: 8px;
  }

  &-link {
    color: $c-cookie-banner-link;
    margin-left: 4px;
    text-decoration: none;
  }

  &-closeButton {
    margin-left: auto;
  }
}
