@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-TitleBasic {

  &-title {
    @include h1;
    color: $c-title-basic-main-title;
    font-weight: $fw-semi-bold;
  }

  &-subtitle {
    @include h2;
    color: $c-title-basic-subtitle;
    font-weight: $fw-regular;
  }

  &--alignLeft {
    text-align: left;
  }

  &--alignCenter {
    text-align: center;
  }

  &--alignRight {
    text-align: right;
  }
}
