@import '~@schibstedspain/theme-basic/lib/index';

$c-title-basic-main-title: $c-white !default;
$c-title-basic-subtitle: $c-white !default;

.sui-TitleBasic {

  &-title {
    color: $c-title-basic-main-title;
    font-weight: $fw-semi-bold;
  }

  &-subtitle {
    color: $c-title-basic-subtitle;
    font-weight: $fw-regular;
  }

  &--alignLeft {
    text-align: left;
  }

  &--alignCenter {
    text-align: center;
  }

  &--alignRight {
    text-align: right;
  }
}
