@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-image-lazy-load/lib/index';
@import './settings';

.sui-ListImage {
  @include sui-list('custom');
  @include media-breakpoint-up(l) {
    justify-content: flex-start;
    margin-left: -($ml-list-image-item-desktop);
  }

  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
    @include media-breakpoint-up(l) {
      flex-basis: $fxb-list-image-item-desktop;
      margin-bottom: $mb-list-image-item-desktop;
      margin-left: $ml-list-image-item-desktop;
    }

    background-color: $bgc-list-image-item;
    cursor: pointer;
    flex-basis: $fxb-list-image-item;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: $mb-list-image-item;
    overflow: hidden;
  }

  &-lastItemContainer {
    position: relative;

    &::after {
      background-color: $bgc-list-image-more-items-box-gradient;
      content: '';
      height: 100%;
      left: 0;
      opacity: $op-list-image-more-items-box-gradient;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &-moreItemsBox {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &Label {
      color: $c-list-image-more-items-box-label;
      font-size: $fz-list-image-more-items-box-label;
      font-weight: $fw-list-image-more-items-box-label;
      line-height: $lh-list-image-more-items-box-label;
      padding: $p-m;
      text-align: center;
    }
  }
}
