@import '../../../../components/atom/button/src/index';

.DemoAtomIcon {
  &-colorExample {
    margin-bottom: 16px;
    padding: 4px;
    text-align: center;

    code {
      display: block;
    }
  }

  &-select {
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.65);
    border-bottom: 1px dashed #eee;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 16px;
    position: sticky;
    top: 0;
  }

  &-option {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px;
    transition: opacity 0.3s ease;

    &.is-selected {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }

    &:hover {
      opacity: 0.75;
    }

    strong {
      font-size: 10px;
      padding-top: 8px;
      text-align: center;
    }
  }

  &-title {
    font-weight: 300;
    text-align: center;
    padding-top: 32px;
  }

  &-grid {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: repeat(auto-fill, 150px);

    &--small {
      grid-template-columns: repeat(auto-fill, 50px);
    }
  }

  &-table {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0 16px 16px;

    td {
      text-align: center;
    }
  }

  &-tableLabel {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
  }

  p,
  section {
    line-height: 150%;
    margin: 16px;
  }

  .sui-AtomButton + .sui-AtomButton {
    margin: 0;
  }
}
