@import '~@schibstedspain/sui-theme/lib/index';

$bg-progress-bar: $c-gray-lightest;
$bc-progress-bar: $c-gray-light;
$c-progress-bar-fill: $c-primary;

$h-progress-bar: $m-base;

.sui-AtomProgressBar {
  &-indicator {
    font-size: $fz-s;
    line-height: $lh-s;
    &--top {
      margin-bottom: $m-base;
    }
    &--bottom {
      margin-top: $m-base;
    }
  }

  &-container {
    background: $bg-progress-bar;
    border: 1px solid $bc-progress-bar;
    border-radius: 25px;
    height: $h-progress-bar;  /* Can be anything */
    position: relative;
  }

  &-bar {
    display: block;
    height: 100%;
    border-radius: 25px;
    background-color: $c-progress-bar-fill;
    position: relative;
    overflow: hidden;
  }

}