$s-avatar-badge: (
  xxlarge: 20px,
  xlarge: 16px,
  large: 14px,
  medium: 12px,
  small: 8px,
  xsmall: 8px
) !default;

$bw-avatar-badge: (
  xxlarge: 3px,
  xlarge: 2px,
  large: 2px,
  medium: 2px,
  small: 1px,
  xsmall: 1px
) !default;

$bdc-avatar-badge: white !default;
$bdc-avatar-badge-muted: #d7dcdf !default;

.sui-MoleculeAvatarBadge {
  border-radius: $bdrs-rounded;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  z-index: 1;

  &--error {
    background-color: $c-error;
  }

  &--success {
    background-color: $c-success;
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  @each $key-size, $size in $s-avatar-badge {
    &--#{$key-size} {
      width: $size;
      min-width: $size;
      height: $size;
    }
  }

  @each $key-size, $bw in $bw-avatar-badge {
    &--#{$key-size} {
      border: $bw solid $bdc-avatar-badge;
    }
    &--#{$key-size}#{&}--muted {
      background: $bdc-avatar-badge-muted;
      &::before {
        background-color: $bdc-avatar-badge;
        border-radius: $bdrs-rounded;
        content: '';
        display: block;
        height: map-get($s-avatar-badge, $key-size) / 4;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: map-get($s-avatar-badge, $key-size) / 4;
      }
    }
  }
}
