.DemoMoleculeDropdownOption {
  padding: 20px;

  &-option {
    border: 1px dotted gray;
    background: white;
    width: 300px;
  }

  &-section {
    margin: 10px;
  }

  pre {
    padding: 16px;
    width: 300px;
  }
}
