@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-image/lib/index';

$bgc-molecule-thumbnail: transparent !default;
$bgc-molecule-thumbnail-hover: color-variation($c-primary, 4) !default;
$bd-molecule-thumbnail: 1px solid transparent !default;
$bd-molecule-thumbnail-link: $bd-molecule-thumbnail !default;
$bdc-molecule-thumbnail-hover: $c-primary !default;
$bdrs-molecule-thumbnail: initial !default;
$bs-molecule-thumbnail: none !default;
$p-molecule-thumbnail-image: 0 !default;
$bgc-molecule-thumbnail-caption: color-variation($c-gray-light, 3) !default;
$c-molecule-thumbnail-caption: $c-primary !default;
$fz-molecule-thumbnail-caption: $fz-s !default;
$ta-molecule-thumbnail-caption: center !default;
$o-molecule-thumbnail: visible !default;

$sizes-molecule-thumbnail: (
  large: 144px,
  medium: 72px,
  small: 48px,
  xsmall: 40px
) !default;

$sizes-mobile-molecule-thumbnail: (
  large: 96px,
  medium: 72px,
  small: 40px,
  xsmall: 32px
) !default;

$ratios-molecule-thumbnail: (
  1: 1,
  4: 3,
  16: 9
) !default;

.sui-MoleculeThumbnail {
  background-color: $bgc-molecule-thumbnail;
  border: $bd-molecule-thumbnail;
  border-radius: $bdrs-molecule-thumbnail;
  box-shadow: $bs-molecule-thumbnail;
  display: inline-block;
  margin: 0;
  overflow: $o-molecule-thumbnail;
  position: relative;
  width: 100%;

  &-link {
    display: inline-block;
    border: $bd-molecule-thumbnail-link;
    border-radius: inherit;
    text-decoration: none;

    &:hover {
      border-color: $bdc-molecule-thumbnail-hover;
      background-color: $bgc-molecule-thumbnail-hover;
    }
  }

  &--circled > * {
    border-radius: 50%;
    overflow: hidden;

    .sui-MoleculeThumbnail-caption {
      display: none;
    }
  }

  &-caption {
    background: $bgc-molecule-thumbnail-caption;
    border: $bd-molecule-thumbnail;
    color: $c-molecule-thumbnail-caption;
    display: block;
    font-size: $fz-molecule-thumbnail-caption;
    overflow: hidden;
    padding: $p-m;
    text-align: $ta-molecule-thumbnail-caption;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &--small,
  &--xsmall {
    .sui-MoleculeThumbnail-caption {
      display: none;
    }
  }

  @each $key-size, $size in $sizes-mobile-molecule-thumbnail {
    &--#{$key-size} {
      width: $size;
    }

    @each $key-ratio, $ratio in $ratios-molecule-thumbnail {
      &--#{$key-size} {
        .sui-MoleculeThumbnail-containerImage--#{$key-ratio}-#{$ratio} {
          height: ($size / $key-ratio) * $ratio;
        }
      }
    }
  }

  @include media-breakpoint-up(m) {
    @each $key-size, $size in $sizes-molecule-thumbnail {
      &--#{$key-size} {
        width: $size;
      }

      @each $key-ratio, $ratio in $ratios-molecule-thumbnail {
        &--#{$key-size} {
          .sui-MoleculeThumbnail-containerImage--#{$key-ratio}-#{$ratio} {
            height: ($size / $key-ratio) * $ratio;
          }
        }
      }
    }
  }
}
