@import '~@schibstedspain/sui-theme/lib/index';

$bgc-molecule-thumbnail: color-variation($c-gray-light, 3) !default;
$bgc-molecule-thumbnail-hover: color-variation($c-primary, 4) !default;
$bd-molecule-thumbnail: 1px solid transparent!default;
$bdc-molecule-thumbnail-hover: $c-primary !default;
$bs-molecule-thumbnail: none !default;
$p-molecule-thumbnail-image: 0 !default;

$sizes-molecule-thumbnail: (
  large: 144px,
  medium: 72px,
  small: 48px,
  xsmall:  40px
) !default;

$sizes-mobile-molecule-thumbnail: (
  large: 96px,
  medium: 72px,
  small: 40px,
  xsmall:  32px
) !default;

$ratios-molecule-thumbnail: (
  1: 1,
  4: 3,
  16: 9
) !default;


.sui-MoleculeThumbnail {
  background-color: $bgc-molecule-thumbnail;
  border: $bd-molecule-thumbnail;
  box-shadow: $bs-molecule-thumbnail;  
  display: inline-block;
  margin: 0;  
  position: relative;
  width: 100%;

  .sui-MoleculeThumbnail-link & {
    &:hover {
      border-color: $bdc-molecule-thumbnail-hover;
      background-color: $bgc-molecule-thumbnail-hover;
    }
  }

  .sui-ImagePlaceholder-image {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    width: 100%;    
  }

  .sui-ImagePlaceholder {
    border: 0;
    height: 100%;
    overflow: hidden;
    padding: $p-molecule-thumbnail-image;
    position: relative;
    width: 100%;
  }

  &--circled {
    &, .sui-ImagePlaceholder {
      border-radius: 50%;
    }

    .sui-MoleculeThumbnail-caption {
      display: none;
    }
  }

  &-caption {
    border: $bd-molecule-thumbnail;
    color: $c-primary;
    display: block;
    font-size: $fz-s;    
    overflow: hidden;
    padding: $p-m;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &--small, &--xsmall{
    .sui-MoleculeThumbnail-caption{
      display: none;
    }
  }

  @each $key-size, $size in $sizes-mobile-molecule-thumbnail {
    &--#{$key-size} {
      width: $size;
    }

    @each $key-ratio, $ratio in $ratios-molecule-thumbnail {
      &--#{$key-size}.sui-MoleculeThumbnail--#{$key-ratio}-#{$ratio} {
        .sui-ImagePlaceholder {
          height: ($size/$key-ratio)*$ratio;
        }   
      }
    }
  }

  @include media-breakpoint-up(m) {
    @each $key-size, $size in $sizes-molecule-thumbnail {
      &--#{$key-size} {
        width: $size;
      }

      @each $key-ratio, $ratio in $ratios-molecule-thumbnail {
        &--#{$key-size}.sui-MoleculeThumbnail--#{$key-ratio}-#{$ratio} {
          .sui-ImagePlaceholder {
            height: ($size/$key-ratio)*$ratio;
          }   
        }
      }
    }
  }
}