@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';

$sizes-mobile-molecule-thumbnail: (
  large: 96px,
  medium: 72px,
  small: 40px,
  xsmall:  32px
);

.sui-MoleculeThumbnail {
  @include media-breakpoint-down(m) {
    @each $key-size, $size in $sizes-mobile-molecule-thumbnail {
      &--#{$key-size} {
        width: $size;
      }
  
      @each $key-ratio, $ratio in $ratios-molecule-thumbnail {
        &--#{$key-size}.sui-MoleculeThumbnail--#{$key-ratio}-#{$ratio} {
          .sui-ImagePlaceholder {
            height: ($size/$key-ratio)*$ratio;
          }   
        }
      }
    }
  }
}
