@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-atom-validation-text/lib/index';
@import '~@s-ui/react-atom-label/lib/index';
@import '~@s-ui/react-atom-help-text/lib/index';

$l-molecule-field: 20px !default;
$t-molecule-field: -4px !default;

.sui-MoleculeField {
  &--inline {
    display: flex;
    width: 100%;

    &-reverse {
      position: relative;
      display: flex;
      flex-direction: column;

      .sui-AtomLabel {
        position: absolute;
        align-items: center;
        left: $l-molecule-field;
        top: $t-molecule-field;
      }
    }
  }

  &-inputContainer {
    width: 100%;
  }
}
