@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-molecule-select/lib/index';
@import '~@s-ui/react-molecule-dropdown-option/lib/index';

.DemoAtomPopover-section {
  .blink {
    color: currentColor;
    &.is-blinking {
      transition: color 0.05s ease-out;
      color: #0091c4;
    }
    &.is-unblinking {
      transition: color 5s ease-out;
      color: currentColor;
    }
  }
}
