@import '~@s-ui/react-atom-spinner/lib/index';

.DemoAtomImage {
  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-containerImage {
    border: $bdw-m solid #cccccc;
    height: 200px;
  }

  &-listItem {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
  }

  &-section {
    border: $bdw-s solid blue;
    margin: 20px 20px 20px 0;
    max-width: 800px;
    min-width: 300px;
    padding: 10px;
  }
}
