@import '~@s-ui/react-atom-spinner/lib/index';
@import '~@s-ui/react-atom-icon/lib/index';

.DemoAtomImage {
  &-section {
    .placeholder-demo,
    .skeleton-demo {
      .sui-AtomImage .sui-AtomImage-image {
        opacity: 1;
        &:hover {
          opacity: 0;
          transition: opacity 0.8s ease-in-out;
        }
      }
    }

  }
}
