.sui-MoleculeAutosuggest-List-AtomItem {
  &-row {
    height: 40px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    color: #000000;

    &-item--highlighted {
      color: red
    }
  }

  &-row-featured {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;

    > span.text {
      flex-grow: 1;
      padding: 0 8px;
    }
  }

  &-row-focus {
    background-color: #c9e3ef;
  }
}