@import '~@s-ui/theme/lib/index';

$bdw-atom-loading: $bdw-m !default;
$w-atom-loading: 1em !default;
$h-atom-loading: 1em !default;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sui-AtomLoading {
  display: inline-block;
  border-width: $bdw-atom-loading;
  border-color: currentcolor currentcolor transparent transparent;
  border-style: solid;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  width: $w-atom-loading;
  height: $h-atom-loading;
  box-sizing: border-box;
  position: absolute;
}
