@import '~@schibstedspain/sui-theme/lib/index';

$h-atom-switch--m: $sz-icon-l !default;
$w-atom-switch--m: 35px !default;
$m-atom-switch-circle--m: 12px !default;
$h-atom-switch-container--m: 22px !default;

$h-atom-switch--l: $sz-icon-xl !default;
$w-atom-switch--l: 51px !default;
$m-atom-switch-circle--l: 18px !default;
$h-atom-switch-container--l: 32px !default;

$c-atom-switch--active: color-variation($c-primary, 1) !default;
$c-atom-switch--default: color-variation($c-gray, 3) !default;

.sui-AtomSwitch {
  cursor: pointer;
  display: inline-block;

  &-toggleType {
    .sui-AtomSwitch-container {
      margin-top: $p-l;
    }
  }

  &-singleType {
    .sui-AtomSwitch-container .sui-AtomSwitch-inputContainer {
      margin-left: $m-l;
    }
  }

  &-container {
    border: 1px solid transparent;
    display: flex;
    height: $h-atom-switch--m;
    justify-content: center;
    padding-bottom: $p-s;
    padding-top: $p-s;
  }

  &-text {
    display: flex;
    flex-direction: column;
    font-size: $fz-m;
    justify-content: center;

    &.sui-AtomSwitch-right {
      padding-left: $p-m;
    }

    &.sui-AtomSwitch-left {
      padding-right: $p-m;
    }
  }

  .sui-AtomSwitch-inputContainer {
    background-color: $c-atom-switch--default;
    border-radius: $w-atom-switch--m / 2;
    border: solid 1px color-variation($c-atom-switch--default, $c-dark-step);
    cursor: pointer;
    height: $h-atom-switch-container--m;
    transition: background-color, border 0.4s ease-in-out;
    width: $w-atom-switch--m;

    .sui-AtomSwitch-circle {
      background-color: $c-white;
      border-radius: ($h-atom-switch-container--m - 2) / 2;
      border: solid 1px $c-white;
      box-shadow: 2px 0 2px 0 $c-gray-light;
      height: $h-atom-switch-container--m - 2;
      transition: margin 0.4s ease-in-out;
      width: $h-atom-switch-container--m - 2;

      &.sui-AtomSwitch--toggle {
        margin-left: $m-atom-switch-circle--m;
      }
    }
  }

  &.sui-AtomSwitch--disabled {
    color: $c-gray;
    pointer-events: none;
  }

  &.sui-AtomSwitch--active {
    & .sui-AtomSwitch-container {
      .sui-AtomSwitch-inputContainer {
        background-color: $c-atom-switch--active;
        border-radius: 11px;
        border: solid 1px $c-atom-switch--active;
        cursor: pointer;
      }
    }
  }

  &.sui-AtomSwitch-large, &.sui-AtomSwitch--active.sui-AtomSwitch-large {
    .sui-AtomSwitch-container {
      height: $h-atom-switch--l;
      padding-bottom: $p-s;
      padding-top: $p-s;
      .sui-AtomSwitch-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .sui-AtomSwitch-inputContainer {
        border-radius: $w-atom-switch--l / 2;
        height: $h-atom-switch-container--l;
        width: $w-atom-switch--l;
        .sui-AtomSwitch-circle {
          border-radius: ($h-atom-switch-container--l - 2) / 2;
          height: $h-atom-switch-container--l - 2;
          width: $h-atom-switch-container--l - 2;
          &.sui-AtomSwitch--toggle {
            margin-left: $m-atom-switch-circle--l;
          }
        }
      }
    }
  }


  &--focus &-container {
    border: solid 1px color-variation($c-primary, 1);
    box-shadow: 0 0 4px 0 color-variation($c-primary, 1);
  }

}