@import '~@schibstedspain/sui-theme/lib/index';

$sz-AtomSwitch-input-height: $sz-icon-l !default;
$sz-AtomSwitch-width_comp_container: 34px !default;
$sz-AtomSwitch-height_comp_container: 22px !default;

$sz-AtomSwitch-input-height--large: $sz-icon-xl !default;
$sz-AtomSwitch-width_comp_container--large: 49px !default;
$sz-AtomSwitch-height_comp_container--large: 32px !default;

$c-AtomSwitch-active: #60acd0 !default;
$c-AtomSwitch-default: #dcdcdc !default;

.sui-AtomSwitch {
  display: inline-block;
  cursor: pointer;

  &.toggle-type {
    & .container {
      margin-top: $p-l;
    }
  }

  &.single-type {
    & .container > .input-container {
      margin-left: $m-l;
    }
  }

  & .container {
    display: flex;
    justify-content: center;
    height: $sz-AtomSwitch-input-height;
    padding-top: ($sz-AtomSwitch-input-height - $fz-m) / 4;

    & .text {
      font-size: $fz-m;
      line-height: 1.25;

      &.right {
        padding-left: $p-m;
      }

      &.left {
        padding-right: $p-m;
      }
    }

    & .input-container {
      width: $sz-AtomSwitch-width_comp_container;
      height: $sz-AtomSwitch-height_comp_container;
      border-radius: $sz-AtomSwitch-width_comp_container / 2;
      background-color: $c-AtomSwitch-default;
      border: solid 1px color-variation($c-AtomSwitch-default, $c-dark-step);
      cursor: pointer;
      transition: background-color, border 0.4s ease-in-out;

      & .circle {
        width: $sz-AtomSwitch-height_comp_container - 2;
        height: $sz-AtomSwitch-height_comp_container - 2;
        border-radius: ($sz-AtomSwitch-height_comp_container - 2) / 2;
        box-shadow: 2px 0 2px 0 $c-gray-light;
        background-color: $c-white;
        border: solid 1px $c-white;

        transition: margin 0.4s ease-in-out;

        &.toggle {
          margin-left: 12px;
        }
      }
    }

  }
  &.disabled {
    color: $c-gray;
  }

  &.active {
    & .container {
      .input-container {
        width: 34px;
        height: 22px;
        border-radius: 11px;
        background-color: $c-AtomSwitch-active;
        border: solid 1px $c-AtomSwitch-active;
        cursor: pointer;
      }
    }
  }

  &.large, &.active.large {
    & .container {
      height: $sz-AtomSwitch-input-height--large;
      padding-top: 5px;
      & .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & .input-container {
        width: $sz-AtomSwitch-width_comp_container--large;
        height: $sz-AtomSwitch-height_comp_container--large;
        border-radius: $sz-AtomSwitch-width_comp_container--large / 2;
        & .circle {
          width: $sz-AtomSwitch-height_comp_container--large - 2;
          height: $sz-AtomSwitch-height_comp_container--large - 2;
          border-radius: ($sz-AtomSwitch-height_comp_container--large - 2) / 2;
          &.toggle {
            margin-left: 18px;
          }
        }
      }
    }
  }

}