$bdrs-atom-upload: 0 !default;
$bw-atom-upload: $bdw-m !default;
$bg-atom-upload: $c-gray-lightest !default;
$c-atom-upload: $c-gray !default;
$bd-atom-upload: $bw-atom-upload dashed $c-atom-upload !default;
$ff-atom-upload: $ff-sans-serif !default;
$fd-atom-upload: column !default;
$p-atom-upload: $p-l * 3 $p-l * 2 $p-l !default;
$ai-atom-upload: center !default;
$jc-atom-upload: center !default;
$ai-atom-upload-block-text: center !default;
$fz-atom-upload-text: $fz-xl !default;
$fz-atom-upload-text-secondary: $fz-l !default;
$h-atom-upload-icon: $sz-icon-xl * 2 !default;
$w-atom-upload-icon: $sz-icon-xl * 2 !default;
$m-atom-upload-text-secondary: 0px 0px $m-l 0px !default;
$fw-atom-upload-text-main: $fw-semi-bold !default;
$fw-atom-upload-text-secondary: $fw-light !default;
$c-atom-upload-text-main: $c-atom-upload !default;
$c-atom-upload-text-secondary: $c-atom-upload !default;
$jc-atom-upload-content: inherit !default;
$m-atom-upload-main-text: $m-l 0 !default;
