@import '~@schibstedspain/theme-basic/lib/index';

.sui-BadgesBasic {
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-flex;
  float: left;
  margin: 0 8px 8px 0;

  &-small {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 8px;
  }

  &-large {
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
  }

  & [class$='icon'] {
    @include sui-icon--small;
    margin-right: 4px;
  }

  &-success {
    background-color: #8bc34a;
    color: white;
    fill: white;
  }

  &-error {
    background-color: #f44c23;
    color: white;
    fill: white;
  }

  &-warning {
    background-color: #f5a623;
    color: black;
    fill: black;
  }

  &-info {
    background-color: #dcdcdc;
    color: black;
    fill: black;
  }

  &-success--transparent {
    background-color: transparent;
    color: #8bc34a;
    fill: #8bc34a;
  }

  &-error--transparent {
    background-color: transparent;
    color: #f44c23;
    fill: #f44c23;
  }

  &-warning--transparent {
    background-color: transparent;
    color: #f5a623;
    fill: #f5a623;
  }

  &-info--transparent {
    background-color: transparent;
    color: #777777;
    fill: #777777;
  }
}
