@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

$c-title-multisize-primary: $c-primary !default;
$c-title-multisize-secondary: $c-gray !default;

@mixin sui-title-multisize-sizes ($fw: $fw-regular) {
  &--xs {
    @include h5;
    font-weight: $fw;
  }

  &--s {
    @include h4;
    font-weight: $fw;
  }

  &--m {
    @include h3;
    font-weight: $fw;
  }

  &--l {
    @include h2;
    font-weight: $fw;
  }

  &--xl {
    @include h1;
    font-weight: $fw;
  }
}

@mixin sui-title-multisize-element ($c: $c-title-multisize-primary) {
  @include sui-title-multisize-sizes;
  color: $c;
}


.sui-TitleMultisize {
  display: flex;

  &--horizontal {
    @include media-breakpoint-down(s) {
      flex-direction: column;
    }

    align-items: baseline;
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &-preTitle {
    @include sui-title-multisize-element($c-title-multisize-secondary);
  }

  &-title {
    @include sui-title-multisize-element;
  }

  &-postTitle {
    @include sui-title-multisize-element($c-title-multisize-secondary);
  }
}
