@import '~@schibstedspain/theme-basic/lib/index';

@mixin sui-title-multisize-sizes ($fw: $fw-semi-bold, $mb: $m-v) {
  &--xs {
    @include h5;
    font-weight: $fw;
    margin: 0 0 $mb;
  }

  &--s {
    @include h4;
    font-weight: $fw;
    margin: 0 0 $mb;
  }

  &--m {
    @include h3;
    font-weight: $fw;
    margin: 0 0 $mb;
  }

  &--l {
    @include h2;
    font-weight: $fw;
    margin: 0 0 $mb;
  }

  &--xl {
    @include h1;
    font-weight: $fw;
    margin: 0 0 $mb;
  }
}

@mixin sui-title-multisize-element ($c: $c-title-multisize-primary, $fw: $fw-bold) {
  @include sui-title-multisize-sizes($fw);
  align-self: baseline;
  color: $c;
}


.sui-TitleMultisize {
  display: flex;

  &--horizontal {
    @include media-breakpoint-down(s) {
      flex-direction: column;
    }

    @include media-breakpoint-up(m) {
      .sui-TitleMultisize-title {
        padding: 0 $p-h-small;
      }
    }

    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &-preTitle {
    @include sui-title-multisize-element($c-title-multisize-secondary, $fw-semi-bold);
  }

  &-title {
    @include sui-title-multisize-element;
  }

  &-postTitle {
    @include sui-title-multisize-element($c-title-multisize-secondary, $fw-regular);
  }
}
