/* sass-lint:disable class-name-format, no-important */

@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-DropdownUser {
  @include media-breakpoint-down(s) {
    background-color: $bgc-dropdown-user;
  }

  @include media-breakpoint-up(m) {
    display: inline-block;
  }

  &-button {
    @include media-breakpoint-down(s) {
      padding: $p-v-large $p-h;
    }

    @include media-breakpoint-up(m) {
      background: none;
      padding: $p-v-small $p-h;
      width: auto;

      .is-expanded & {
        background-color: $bgc-dropdown-button-hover;
      }
    }

    align-items: center;
    background: $bg-dropdown-user-button;
    display: flex;
    position: relative;
    text-align: left;
    width: 100%;

    &Avatar {
      border-radius: 100%;
      margin-right: $m-h-small;
      width: $w-dropdown-user-avatar;

      .has-notifications &Wrap {
        @include sui-badge-notification(true, 2px, 2px);
      }
    }

    &Text {
      @include media-breakpoint-down(s) {
        color: $c-white;
      }

      @include media-breakpoint-up(m) {
        color: $c-dropdown-user-text-large;
        max-width: $w-dropdown-user-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      font-weight: $fw-bold;
    }
  }

  &Menu {
    @include media-breakpoint-up(m) {
      background-color: $bgc-dropdown-menu;

      &-wrap {
        display: none;
        padding-top: 0;
      }

      .is-expanded > &-wrap {
        display: inline-block;
        padding-top: $size-dropdown-arrow-up;
        position: absolute;
        z-index: $z-dropdown-menu;

        &::after {
          @include arrow-up($size-dropdown-arrow-up, $c-dropdown-arrow);
          content: '';
          left: ($w-dropdown-user-avatar / 2) + ($size-dropdown-arrow-up);
          position: absolute;
          top: 0;
        }
      }

      .is-expanded > &-wrap > & {
        background-color: $bgc-dropdown-menu-hover;
        border-top: $bdt-dropdown-menu;
        box-shadow: $bxsh-dropdown-menu;
      }
    }

    background-color: $c-white;

    &-list {
      @include reset-list;
      @include media-breakpoint-up(m) {
        margin-top: $m-v-small;
      }

      &Item {
        &:last-child {
          border-top: $bd-dropdown-user-last-item;
        }
      }

      &Link {
        @include reset-link;
        @include media-breakpoint-down(s) {
          display: flex;
          font-size: $fz-h3;
          font-weight: normal;
          padding: $p-v-large $p-h-large $p-v-large $p-h;
        }

        @include media-breakpoint-up(m) {
          padding: $p-v $p-h-large $p-v $p-h;
        }

        align-items: center;
        display: flex;
        position: relative;

        &:hover {
          color: $c-accent;
        }
      }

      &Icon {
        fill: $c-text-base !important;
        height: $size-dropdown-icon;
        margin-right: $m-h-small;
        width: $size-dropdown-icon;

        :hover > & {
          fill: $c-accent !important;
        }
      }

      &Notification {
        @include sui-badge-notification;
        margin-top: - $size-badge-notification / 2;
        position: absolute;
        right: $p-h-small;
        top: 50%;
      }

    }
  }
}
