/* sass-lint:disable class-name-format, no-important */
@import '~@schibstedspain/theme-basic/lib/index';

.sui-DropdownUser {
  @include media-breakpoint-down(s) {
    background-color: $bgc-dropdown-user;
  }
  @include media-breakpoint-up(m) {
    display: inline-block;
  }

  &-button {
    @include media-breakpoint-down(s) {
      padding: $p-v-large $p-h;
    }
    @include media-breakpoint-up(m) {
      background: none;
      padding: $p-v-small $p-h;
      width: auto;

      .is-expanded & {
        background-color: $bgc-dropdown-button-hover;
      }
    }

    align-items: center;
    background: $bg-dropdown-user-button;
    display: flex;
    position: relative;
    text-align: left;
    width: 100%;

    &Wrap {
      @include media-breakpoint-up(m) {
        padding-bottom: $size-dropdown-arrow-up;
        padding-top: $size-dropdown-arrow-up;
        position: relative;

        .is-expanded > &::after {
          @include arrow-up($size-dropdown-arrow-up, $c-dropdown-arrow);
          bottom: 0;
          content: '';
          left: ($w-dropdown-user-avatar / 2) + ($size-dropdown-arrow-up);
          position: absolute;
        }
      }
    }

    &Avatar {
      border-radius: 100%;
      margin-right: $m-h-small;
      width: $w-dropdown-user-avatar;
    }

    &Text {
      @include media-breakpoint-down(s) {
        color: $c-white;
      }
      @include media-breakpoint-up(m) {
        max-width: $w-dropdown-user-text;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      font-weight: $fw-bold;
    }
  }

  &Menu {
    @include media-breakpoint-up(m) {
      background-color: $bgc-dropdown-menu;
      display: none;
      padding-top: 0;

      .is-expanded > & {
        background-color: $bgc-dropdown-menu-hover;
        border-top: $bdt-dropdown-menu;
        box-shadow: $bxsh-dropdown-menu;
        display: inline-block;
        position: absolute;
        z-index: 1;
      }
    }

    background-color: $c-white;
    padding-top: $p-v;

    &-list {
      @include reset-list;
      @include media-breakpoint-up(m) {
        margin-top: $m-v-small;
      }

      &Item {
        &:last-child {
          border-top: $bd-dropdown-user-last-item;
        }
      }

      &Link {
        @include reset-link;
        @include media-breakpoint-down(s) {
          font-size: $fz-h3;
          font-weight: normal;
          padding: $p-v-large $p-h;
        }
        @include media-breakpoint-up(m) {
          padding: $p-v $p-h;
        }
        align-items: center;
        display: flex;

        &:hover {
          color: $c-accent;
        }
      }

      &Icon {
        fill: $c-text-base !important;
        height: $size-dropdown-icon;
        margin-right: $m-h-small;
        width: $size-dropdown-icon;

        :hover > & {
          fill: $c-accent !important;
        }
      }
    }
  }
}
