@import '~@s-ui/theme/lib/index';

$bdrs-atom-checkbox: $bdrs-m !default;
$c-atom-checkbox: $c-white !default;
$h-atom-checkbox: $sz-icon-m !default;
$w-atom-checkbox: $sz-icon-m !default;
$h-atom-checkbox-icon: $sz-icon-s !default;
$w-atom-checkbox-icon: $sz-icon-s !default;

$fs-atom-checkbox-label: 14px !default;
$lh-atom-checkbox-label: 130% !default;
$maw-atom-checkbox: 32px !default;
$mt-atom-checkbox-input: 3px !default;

$m-atom-checkbox-type-left: $m-m !default;
$m-atom-checkbox-type-right: $m-m !default;

$bgc-atom-checkbox: $c-white !default;
$bgc-checked-atom-checkbox: $c-primary !default;
$bd-atom-checkbox: $bdw-s solid $c-gray !default;
$bd-atom-checkbox--checked: $bdw-s solid $c-primary !default;
$bd-atom-checkbox-is-intermediate: $bd-atom-checkbox--checked !default;

$bdc-atom-checkbox-is-disabled: color-variation($c-gray, 1) !default;
$bgc-checked-atom-checkbox-is-disabled: color-variation($c-gray, 3) !default;
$bgc-checked-atom-checkbox-is-intermediate: $bgc-checked-atom-checkbox !default;
$c-atom-checkbox-is-disabled: color-variation($c-gray, -2) !default;
$c-atom-checkbox-custom-is-disabled: $c-atom-checkbox-is-disabled;
$c-atom-checkbox-is-intermediate: $c-atom-checkbox !default;

$c-atom-checkbox--success: $c-success !default;
$c-atom-checkbox--error: $c-error !default;
$c-atom-checkbox--alert: $c-alert !default;

$status-atom-checkbox: success $c-atom-checkbox--success,
  error $c-atom-checkbox--error, alert $c-atom-checkbox--alert !default;

.sui-AtomCheckbox {
  $self: &;

  &:not(&--native) {
    align-items: center;
    background-color: $bgc-atom-checkbox;
    border-radius: $bdrs-atom-checkbox;
    border: $bd-atom-checkbox;
    cursor: pointer;
    display: inline-flex;
    height: $h-atom-checkbox;
    justify-content: center;
    text-align: center;
    vertical-align: top;
    width: $w-atom-checkbox;
    min-width: $w-atom-checkbox;

    span {
      /* Center custom icons */
      align-items: center;
      display: flex;
      justify-content: center;
    }

    svg {
      width: $w-atom-checkbox-icon;
      height: $h-atom-checkbox-icon;
    }

    &.is-checked {
      background-color: $bgc-checked-atom-checkbox;
      border: $bd-atom-checkbox--checked;
      color: $c-atom-checkbox;
      svg {
        fill: $c-atom-checkbox;
      }
    }

    &.is-intermediate {
      background-color: $bgc-checked-atom-checkbox-is-intermediate;
      border: $bd-atom-checkbox-is-intermediate;
      color: $c-atom-checkbox-is-intermediate;
    }

    &.is-disabled {
      background-color: $bgc-checked-atom-checkbox-is-disabled;
      border-color: $bdc-atom-checkbox-is-disabled;

      svg {
        fill: $c-atom-checkbox-custom-is-disabled;
      }
    }

    &#{$self}--status {
      @each $status, $color in $status-atom-checkbox {
        &-#{$status} {
          border-color: $color;

          &.is-checked,
          &.is-intermediate {
            background-color: $color;
          }
        }
      }
    }
  }

  &.is-checked {
    color: $c-atom-checkbox;
  }

  input[type='checkbox'] {
    display: none;
  }

  &--native {
    input[type='checkbox'] {
      display: inline;
    }
  }

  &.is-disabled {
    color: $c-atom-checkbox-is-disabled;
  }
}
