@import '~@schibstedspain/sui-theme/lib/index';

$fs-checkbox-label: 14px !default;
$lh-checkbox-label: 130% !default;
$maw-checkbox: 32px !default;
$mt-checkbox-input: 3px !default;

.sui-AtomCheckbox {
  &-input {
    border: $bdrs-none;
    cursor: pointer;
    display: inline-block;
    margin: $mt-checkbox-input $m-m 0 0;
    padding: 0;
    vertical-align: top;

    &:disabled {
      + .sui-AtomCheckbox-label {
        color: $c-gray-light-1;
      }
    }
  }

  &-label {
    border: $bdrs-none;
    cursor: pointer;
    display: inline-block;
    font-size: $fs-checkbox-label;
    line-height: $lh-checkbox-label;
    margin: 0;
    max-width: calc(100% - #{$maw-checkbox});
    padding: 0;
    width: auto;
  }
}
