@import '~@s-ui/theme/lib/index';

$fs-atom-checkbox-label: 14px !default;
$lh-atom-checkbox-label: 130% !default;
$maw-atom-checkbox: 32px !default;
$mt-atom-checkbox-input: 3px !default;

$m-atom-checkbox-type-left: $m-m !default;
$m-atom-checkbox-type-right: $m-m !default;

$bgc-atom-checkbox: $c-white !default;
$bgc-checked-atom-checkbox: $c-primary !default;
$bd-atom-checkbox: 1px solid $c-primary !default;
$bd-atom-checkbox--checked: 1px solid $c-primary !default;

$c-atom-checkbox-is-disabled: color-variation($c-gray, -2) !default;
$bgc-checked-atom-checkbox-is-disabled: color-variation($c-gray, 3) !default;
$bdc-atom-checkbox-is-disabled: color-variation($c-gray, 1) !default;

$bdrs-atom-checkbox: $bdrs-m !default;
$c-atom-checkbox: $c-white !default;
$h-atom-checkbox: 24px !default;
$w-atom-checkbox: 24px !default;

.sui-AtomCheckbox {
  &:not(&--native) {
    align-items: center;
    background-color: $bgc-atom-checkbox;
    border-radius: $bdrs-atom-checkbox;
    border: $bd-atom-checkbox;
    cursor: pointer;
    display: inline-flex;
    height: $h-atom-checkbox;
    justify-content: center;
    text-align: center;
    vertical-align: top;
    width: $w-atom-checkbox;

    span {
      /* Center custom icons */
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &.is-checked {
      background-color: $bgc-checked-atom-checkbox;
      border: $bd-atom-checkbox--checked;
    }

    &.is-disabled {
      background-color: $bgc-checked-atom-checkbox-is-disabled;
      border-color: $bdc-atom-checkbox-is-disabled;
    }
  }

  &.is-checked {
    color: $c-atom-checkbox;
  }

  input[type='checkbox'] {
    display: none;
  }

  &--native {
    input[type='checkbox'] {
      display: inline;
    }
  }

  &.is-disabled {
    color: $c-atom-checkbox-is-disabled;
  }
}
