$c-atom-circle-progress-bar-trail: $c-gray-lightest !default;
$c-atom-circle-progress-bar-trail--error: $c-alert !default;
$c-atom-circle-progress-bar-trail--loading: $c-gray-lightest !default;
$c-atom-circle-progress-bar-path: $c-primary !default;
$fz-atom-circle-progress-bar-text--inner: $fz-s !default;
$fz-atom-circle-progress-bar-text--outer: $fz-xs !default;