@import '~@schibstedspain/sui-theme/lib/index';
@import './settings';

.sui-AtomCircleProgressBar {
  &-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: transparent;
  }

  &-text {
    &--inner {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      width: 100%;
      margin: 0;
      padding: 0;
      transform: translate(-50%, -50%);
    }
    &--outer {
      margin-left: 5px;
    }
  }

  &-trail {
    stroke: $c-atom-circle-progress-bar-trail;
    &--error {
      stroke: $c-atom-circle-progress-bar-trail--error;
    }
    &--loading {
      stroke: $c-atom-circle-progress-bar-trail--loading;
    }
  }

  &-path {
    stroke: $c-atom-circle-progress-bar-path;
  }

}
