@import '~@s-ui/theme/lib/index';
@import './settings';

.sui-AtomCircleProgressBarV2 {
  background-color: transparent;
  font-size: $fz-atom-circle-progress-bar-text--outer;
  position: relative;

  &--small {
    height: $h-atom-circle-progress-bar-circle-small;
    width: $w-atom-circle-progress-bar-circle-small;
  }

  &--medium {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: $fz-atom-circle-progress-bar-text--inner;
    height: $h-atom-circle-progress-bar-circle-medium;
    width: $w-atom-circle-progress-bar-circle-medium;
  }

  &--large {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: $fz-atom-circle-progress-bar-text--inner;
    height: $h-atom-circle-progress-bar-circle-large;
    width: $w-atom-circle-progress-bar-circle-large;
  }

  &--error {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
  }

  &-indicator {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    &--small:not(&--error) {
      margin-left: $ml-atom-circle-progress-bar-text--outer;
    }

    &--medium {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $h-atom-circle-progress-bar-circle-medium;
      width: $w-atom-circle-progress-bar-circle-medium;
    }

    &--large {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $h-atom-circle-progress-bar-circle-large;
      width: $w-atom-circle-progress-bar-circle-large;
    }

    &--error {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: $c-atom-circle-progress-bar-trail--error;
      }
    }
  }

  &-circle {
    &--small {
      height: $h-atom-circle-progress-bar-circle-small;
      width: $w-atom-circle-progress-bar-circle-small;
    }

    &--medium {
      height: $h-atom-circle-progress-bar-circle-medium;
      width: $w-atom-circle-progress-bar-circle-medium;
    }

    &--large {
      height: $h-atom-circle-progress-bar-circle-large;
      width: $w-atom-circle-progress-bar-circle-large;
    }
  }

  &-trail {
    stroke: $c-atom-circle-progress-bar-trail;

    &--error {
      stroke: $c-atom-circle-progress-bar-trail--error;
    }

    &--loading {
      stroke: $c-atom-circle-progress-bar-trail--loading;
    }
  }

  &-path {
    stroke: $c-atom-circle-progress-bar-path;
  }
}
