@import '~@schibstedspain/sui-theme/lib/index';
@import './settings';

.sui-AtomCircleProgressBar {
  &-inner {
    background-color: transparent;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;    
  }

  &-text {
    &--inner {
      left: 50%;
      margin: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &--outer {
      margin-left: 5px;
    }
  }

  &-trail {
    stroke: $c-atom-circle-progress-bar-trail;

    &--error {
      stroke: $c-atom-circle-progress-bar-trail--error;
    }

    &--loading {
      stroke: $c-atom-circle-progress-bar-trail--loading;
    }
  }

  &-path {
    stroke: $c-atom-circle-progress-bar-path;
  }
}
