@import '~@schibstedspain/sui-theme/lib/index';
@import './settings';

.sui-AtomCircleProgressBar {
  background-color: transparent;
  display: inline-block;
  position: relative;

  &--small {
    display: flex;
  }

  &-indicator {
    
    &--inner {
      font-size: $fz-atom-circle-progress-bar-text--inner;
      left: 50%;
      margin: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      top: calc(#{$h-atom-circle-progress-bar-circle-large} / 2);
      transform: translate(-50%, -50%); 
    }

    &--small {
      font-size: $fz-atom-circle-progress-bar-text--outer;
      top: calc(#{$h-atom-circle-progress-bar-circle-small} / 2);

      &.sui-AtomCircleProgressBar-indicator--error {
        svg {
          height: $h-atom-circle-progress-bar-circle-small--error;
          width: $w-atom-circle-progress-bar-circle-small--error;
        }
      }
    }

    &--outer {
      font-size: $fz-atom-circle-progress-bar-text--outer;
      margin-left: $ml-atom-circle-progress-bar-text--outer;
    }

    &--error {
      top: 50%;

      svg {
        fill: $c-atom-circle-progress-bar-trail--error;
        height: $h-atom-circle-progress-bar-circle-large--error;
        width: $w-atom-circle-progress-bar-circle-large--error;
      }
    }
  }

  &-circle {
    &--small {
      height: $h-atom-circle-progress-bar-circle-small;
      width: $w-atom-circle-progress-bar-circle-small;
    }

    &--large {
      height: $h-atom-circle-progress-bar-circle-large;
      width: $w-atom-circle-progress-bar-circle-large;
    }
  }

  &-trail {
    stroke: $c-atom-circle-progress-bar-trail;

    &--error {
      stroke: $c-atom-circle-progress-bar-trail--error;
    }

    &--loading {
      stroke: $c-atom-circle-progress-bar-trail--loading;
    }
  }

  &-path {
    stroke: $c-atom-circle-progress-bar-path;
  }
}
