@import '~@s-ui/theme/lib/settings';
@import '~@s-ui/theme/lib/index';

$c-atom-label: inherit !default;
$c-atom-label-optional: $c-gray-light !default;
$c-atom-label-contrast: $c-white !default;
$c-atom-label-disabled: inherit !default;
$fw-atom-label: inherit !default;
$c-atom-label-type: success $c-success, error $c-error, alert $c-alert,
  contrast $c-atom-label-contrast, disabled $c-atom-label-disabled !default;
$fz-atom-label: $fz-base !default;

.sui-AtomLabel {
  display: block;
  color: $c-atom-label;
  font-size: $fz-atom-label;
  font-weight: $fw-atom-label;

  &-optionalText {
    color: $c-atom-label-optional;
    margin-left: $m-s;
  }

  &--xsmall {
    font-size: $fz-xs;
  }

  &--small {
    font-size: $fz-s;
  }

  &--medium {
    font-size: $fz-m;
  }

  &--large {
    font-size: $fz-l;
  }

  &--inlineLeft {
    display: inline;
    margin-right: $m-m;
  }

  &--inlineRight {
    display: inline;
    margin-left: $m-m;
  }

  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }

  @each $type, $color in $c-atom-label-type {
    &--#{$type} {
      color: $color;
    }
  }
}
