@import '~@schibstedspain/sui-theme/lib/settings';
@import '~@schibstedspain/sui-theme/lib/index';

$c-atom-label-optional: $c-gray-light !default;
$c-atom-label-type: success $c-success, error $c-error;

.sui-AtomLabel {
  display: block;
  font-size: $fz-base;
  margin-bottom: $m-s;
  margin-right: $m-m;

  &-optionalText {
    color: $c-atom-label-optional;
    margin-left: $m-s;
  }

  @each $type, $color in $c-atom-label-type {
    &--#{$type} {
      color: $color;
    }
  }
}
