// Settings
//

// Inherit from original theme
@import '~@s-ui/theme/lib/settings-compat-v7/index';
@import '~@s-ui/theme/lib/index';
@import '~@adv-ui/cf-theme/lib/index';

// Common css for sui-studio
@import './common';

// Reset styles
@import './destyle';

// Load font
//
