// Settings
$ff-sans-serif: 'Proximanova', Helvetica, Arial, sans-serif;
$fz-base: 16px;

// Inherit from original theme
@import '~@schibstedspain/sui-theme/lib/settings';
@import '~@schibstedspain/ij-theme/lib/index';

// Common css for sui-studio
@import 'common';

// Load font
$ff-path: 'https://proximanova-dtcthsajie.now.sh/';
@font-face {
  font-family: 'Proximanova';
  font-weight: $fw-regular;
  src: url("#{$ff-path}proximanova-regular.eot?") format("eot"), url("#{$ff-path}proximanova-regular.woff") format("woff"), url("#{$ff-path}proximanova-regular.otf") format("opentype"), url("#{$ff-path}proximanova-regular.ttf") format("truetype"); }
