// Settings
$ff-sans-serif: 'Open Sans', Helvetica, sans-serif !default;
$fz-base: 14px !default;

// Inherit from original theme
@import '~@s-ui/theme/lib/index';

// Common css for sui-studio
@import 'common';

// Load font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:#{$fw-light},#{$fw-regular},#{$fw-regular}i,#{$fw-semi-bold},#{$fw-bold},#{$fw-bold}i');
