@use 'sass:math';

$base-class-step: #{$base-class}Step;

#{$base-class-step} {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  #{$base-class-step}Label {
    color: $c-gray-dark-2;
  }

  &--design {
    &-default {
      #{$base-class-step}Label {
        width: 100px;
        display: flex;
        align-items: center;
      }
      #{$base-class-step}Icon {
        width: 5 * $sz-base;
        height: 5 * $sz-base;
        padding: $sz-base;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      + #{$base-class-step}Connector {
        flex-shrink: 0;
        flex-basis: 24px;
        #{$base-class-step}ConnectorLine {
          border-radius: math.div($sz-base, 2);
          background-color: $c-gray-light-2;
        }
        &:last-of-type {
          display: none;
        }
      }
      &#{$base-class-step}--justifyContent {
        @each $jc-key, $jc-value in $jc-molecule-stepper {
          &-#{$jc-key} {
            @if #{$jc-key} == 'legacy' {
              flex-grow: 0;
              + #{$base-class-step}Connector {
                flex-grow: 1;
              }
            }
          }
        }
      }
      &#{$base-class-step}--alignment {
        &-vertical {
          max-height: 6 * $sz-base;
          #{$base-class-step}Label {
            text-align: start;
            justify-content: flex-start;
          }
        }
        &-horizontal {
          max-width: 6 * $sz-base;
          #{$base-class-step}Label {
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
    &-compressed {
      flex-basis: 24px;
      flex-shrink: 0;
      #{$base-class-step}Icon {
        background-color: $c-gray-light;
        border-radius: math.div($sz-base, 2);
      }
      + #{$base-class-step}Connector {
        display: none;
      }
      &#{$base-class-step}--current {
        #{$base-class-step}Icon {
          background-color: $c-primary-light-1;
        }
      }
      &#{$base-class-step}--visited {
        #{$base-class-step}Icon {
          background-color: $c-primary;
        }
      }
      &#{$base-class-step}--alignment {
        &-vertical {
          flex-direction: row-reverse;
          align-items: center;
          #{$base-class-step}Icon {
            width: $sz-base;
            margin-left: $sz-base;
            height: 100%;
          }
          #{$base-class-step}Label {
            //transform: rotate(-90deg);
            max-width: 100px;
          }
        }
        &-horizontal {
          flex-direction: column-reverse;
          align-items: flex-start;
          #{$base-class-step}Label {
            min-height: 1rem;
          }
          #{$base-class-step}Icon {
            width: 100%;
            height: $sz-base;
          }
        }
      }
      &#{$base-class-step}--justifyContent {
        @each $jc-key, $jc-value in $jc-molecule-stepper {
          &-#{$jc-key} {
            @if #{$jc-key} == 'legacy' {
              flex-grow: 1;
            }
          }
        }
      }
    }
  }

  &--alignment {
    &-vertical {
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      + #{$base-class-step}Connector {
        width: 100%;
        #{$base-class-step}ConnectorLine {
          width: $sz-base;
          height: 100%;
          margin-left: 3 * $sz-base;
        }
      }
    }
    &-horizontal {
      flex-direction: column;
      height: 100%;
      + #{$base-class-step}Connector {
        height: 100%;
        #{$base-class-step}ConnectorLine {
          width: 100%;
          height: $sz-base;
          margin-top: 3 * $sz-base;
        }
      }
    }
  }

  &--current {
    color: $c-primary-light-1;
  }
  &--visited {
    color: $c-primary;
    + #{$base-class-step}Connector #{$base-class-step}ConnectorLine {
      background-color: $c-primary;
    }
  }
}
