/* sass-lint:disable no-important */
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-AlertBasic {
  box-shadow: $bxsh-alert-basic;
  position: relative;

  &-message {
    align-items: center;
    display: flex;
    padding: $p-v-large $p-h;
  }

  &-actions {
    border-top: 1px solid $c-gray-lightest;
    display: flex;
    justify-content: flex-end;
    padding: $p-v $p-h;
  }

  &-button {
    @include sui-button('ghost', 'small');
    margin-left: $m-h-small;

    &Close {
      @include reset-button;
      position: absolute;
      right: 10px;
      top: 10px;

      &Icon {
        fill: $c-text-base !important;
        height: 10px;
        width: 10px;
      }
    }
  }

  &--info {
    background-color: $bgc-alert-basic-info;
    border: $bd-alert-basic-info;
    border-left: $bdl-alert-basic-info;
    border-radius: $bdrs-alert-basic;

    .sui-AlertBasic-icon {
      fill: $c-alert-basic-info !important;
    }
  }

  &--error {
    background-color: $bgc-alert-basic-error;
    border: $bd-alert-basic-error;
    border-left: $bdl-alert-basic-error;
    border-radius: $bdrs-alert-basic;

    .sui-AlertBasic-icon {
      fill: $c-alert-basic-error !important;
    }
  }

  &--success {
    background-color: $bgc-alert-basic-success;
    border: $bd-alert-basic-success;
    border-left: $bdl-alert-basic-success;
    border-radius: $bdrs-alert-basic;

    .sui-AlertBasic-icon {
      fill: $c-alert-basic-success !important;
    }
  }

  &-icon {
    margin-right: $m-h-small;
  }

  a {
    @include reset-link;
    color: $c-alert-basic-link;
  }
}
