
@import '~@schibstedspain/theme-basic/lib/index';

.sui-AlertBasic {


  $bdrs-alert-basic: $bdrs-base;

  $c-alert-basic-info: $c-primary;
  $c-alert-basic-info-link: $c-alert-basic-info;
  $bd-alert-basic-info: 1px solid $c-alert-basic-info;
  $bgc-alert-basic-info: $c-white;

  align-items: center;
  display: flex;

  &--info {
    background-color: $bgc-alert-basic-info;
    border: $bd-alert-basic-info;
    border-radius: $bdrs-alert-basic;
    padding: $p-v-large $p-h;

    .sui-AlertBasic-icon {
      fill: $c-alert-basic-info !important;
    }
  }

  &-icon {
    margin-right: $m-h-small;
  }

  a {
    @include reset-link;
    color: $c-alert-basic-info-link;
  }
}
