$c-primary-flat-hover: rgba(0, 0, 0, 0.24);

@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-molecule-modal/lib/index';
@import '~@s-ui/react-molecule-select/lib/index';
@import '~@s-ui/react-molecule-dropdown-option/lib/index';
@import 'components/molecule/checkboxField/src/index';
@import 'components/organism/nestedCheckboxes/src/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-atom-icon/lib/index';

@import '../src/index';

.demo {
  &-container {
    padding: $p-l;
  }

  &-content {
    padding: $p-l;

    &-options {
      & * + * {
        padding-top: $p-s;
      }
    }
  }

  &-overlay {
    &-content {
      position: relative;
    }
  }
}
