@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-molecule-modal/lib/index';
@import '~@s-ui/react-molecule-select/lib/index';
@import '~@s-ui/react-molecule-dropdown-option/lib/index';
@import 'components/molecule/checkboxField/src/index';
@import 'components/organism/nestedCheckboxes/src/index';
@import 'components/molecule/selectPopover/src/index';
@import 'components/atom/icon/src/index';

.demo {
  &-container {
    padding: $p-l;
  }

  &-content {
    padding: $p-l;

    &-options {
      & * + * {
        padding-top: $p-s;
      }
    }
  }
}
