@import '~@s-ui/theme/lib/index';
@import './settings';

@keyframes bg-overlay {
  0% {
    background-color: $bgc-molecule-drawer-overlay-start;
  }
  100% {
    background-color: $bgc-molecule-drawer-overlay-finish;
  }
}

.react-MoleculeDrawer {
  &-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $z-molecule-drawer-overlay;
    animation: bg-overlay 1s both;
  }

  &-content {
    $this: &;
    z-index: $z-molecule-drawer;
    position: absolute;
    background-color: $bgc-molecule-drawer;
    display: flex;

    &--animationDuration {
      transition-property: transform;
      transition-timing-function: linear;
      @each $transition-duration-name,
        $transition-duration-value in $trsdu-molecule-drawer-map
      {
        &-#{$transition-duration-name} {
          transition-duration: $transition-duration-value;
        }
      }
    }
    &--placement {
      position: fixed;
      &-left {
        left: 0px;
        top: 0px;
        transform: translateX(-100%);
      }
      &-right {
        right: 0;
        top: 0;
        transform: translateX(100%);
      }
      &-top {
        top: 0;
        left: 0;
        transform: translateY(-100%);
      }
      &-bottom {
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }
    }

    @each $size-name, $size-value in $z-molecule-drawer-map {
      &--size-#{$size-name} {
        &#{$this}--placement-left {
          height: 100%;
          width: $size-value;
          max-width: 100%;
          overflow-x: scroll;
        }
        &#{$this}--placement-right {
          height: 100%;
          width: $size-value;
          max-width: 100%;
          overflow-x: scroll;
        }
        &#{$this}--placement-top {
          width: 100%;
          height: $size-value;
          max-height: 100%;
          overflow-y: scroll;
        }
        &#{$this}--placement-bottom {
          width: 100%;
          height: $size-value;
          max-height: 100%;
          overflow-y: scroll;
        }
      }
    }
    &--state-opened {
      box-shadow: $bxsh-molecule-drawer;
      transform: translate3d(0, 0, 0);
    }
  }
}
