@import '~@s-ui/theme/lib/index';

$w-molecule-drawer: 260px !default;
$h-molecule-drawer: $w-molecule-drawer !default;
$z-molecule-drawer: $z-modal !default;
$z-molecule-drawer-overlay: $z-modal !default;
$bxsh-molecule-drawer: 0 0 6px rgba(0, 0, 0, 0.4) !default;
$bgc-molecule-drawer: $c-white !default;
$bgc-molecule-drawer-overlay-start: rgba(0, 0, 0, 0.4) !default;
$bgc-molecule-drawer-overlay-finish: rgba(0, 0, 0, 0.6) !default;
$trsdu-molecule-drawer-fast: 0.3s !default;
$trsdu-molecule-drawer-slow: 1s !default;

@keyframes bg-overlay {
  0% {
    background-color: $bgc-molecule-drawer-overlay-start;
  }
  100% {
    background-color: $bgc-molecule-drawer-overlay-finish;
  }
}

.react-MoleculeDrawer {
  &-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $z-molecule-drawer-overlay;
    animation: bg-overlay 1s both;
  }

  &-content {
    z-index: $z-molecule-drawer;
    position: fixed;
    background-color: $bgc-molecule-drawer;
    &Transition {
      transition: transform $trsdu-molecule-drawer-fast linear;
      &--slow {
        transition: transform $trsdu-molecule-drawer-slow linear;
      }
    }
    &--left {
      height: 100%;
      width: $w-molecule-drawer;
      left: 0px;
      top: 0px;
      transform: translateX(-100%);
    }
    &--right {
      height: 100%;
      width: $w-molecule-drawer;
      right: 0;
      top: 0;
      transform: translateX(100%);
    }
    &--top {
      width: 100%;
      height: $h-molecule-drawer;
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }
    &--bottom {
      width: 100%;
      height: $h-molecule-drawer;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
    }

    &--fullscreen {
      width: 100%;
      height: 100%;
    }
  }

  &-open {
    box-shadow: $bxsh-molecule-drawer;
    transform: translate3d(0, 0, 0);
  }

  &-body {
    overflow: auto;
    height: 100%;
    width: 100%;
  }
}
