@import '~@s-ui/theme/lib/index';

$w-molecule-drawer: 260px !default;
$h-molecule-drawer: $w-molecule-drawer !default;
$z-molecule-drawer: $z-modal !default;
$z-molecule-drawer-overlay: $z-modal !default;
$bxsh-molecule-drawer: 0 0 6px rgba(0, 0, 0, 0.4) !default;
$bgc-molecule-drawer: $c-white !default;
$bgc-molecule-drawer-overlay-start: rgba(0, 0, 0, 0.4) !default;
$bgc-molecule-drawer-overlay-finish: rgba(0, 0, 0, 0.6) !default;

$z-molecule-drawer-map: (
  auto: auto,
  m: $w-molecule-drawer,
  fullscreen: 100%
);

$trsdu-molecule-drawer-map: (
  none: $dur-none,
  fast: $dur-fast,
  normal: $dur-normal,
  slow: $dur-slow
);

@keyframes bg-overlay {
  0% {
    background-color: $bgc-molecule-drawer-overlay-start;
  }
  100% {
    background-color: $bgc-molecule-drawer-overlay-finish;
  }
}

.react-MoleculeDrawer {
  &-overlay {
    display: none;
    &-open {
      display: block;
    }
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $z-molecule-drawer-overlay;
    animation-name: bg-overlay;
    animation-fill-mode: both;
    @each $transition-duration-name,
      $transition-duration-value in $trsdu-molecule-drawer-map
    {
      &--duration-#{$transition-duration-name} {
        animation-duration: $transition-duration-value;
      }
    }
  }

  &-content {
    $this: &;
    position: absolute;
    z-index: $z-molecule-drawer;
    background-color: $bgc-molecule-drawer;
    transition-timing-function: linear;
    @each $transition-duration-name,
      $transition-duration-value in $trsdu-molecule-drawer-map
    {
      &--duration-#{$transition-duration-name} {
        transition-duration: $transition-duration-value;
      }
    }
    @each $size-name, $size-value in $z-molecule-drawer-map {
      &--#{$size-name}--left {
        transition-property: translateX;
        height: 100%;
        width: $size-value;
        top: 0px;
        left: 0px;
        transform: translateX(-100%);
        &#{$this}-open {
          transform: translateX(0);
          transition-property: transform;
          box-shadow: $bxsh-molecule-drawer;
        }
      }
      &--#{$size-name}--right {
        transition-property: translateX;
        height: 100%;
        width: $size-value;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        &#{$this}-open {
          transform: translateX(0);
          transition-property: transform;
          box-shadow: $bxsh-molecule-drawer;
        }
      }
      &--#{$size-name}--top {
        transition-property: translateY;
        width: 100%;
        height: $size-value;
        top: 0px;
        left: 0;
        transform: translateY(-100%);
        &#{$this}-open {
          transform: translateY(0);
          transition-property: transform;
          box-shadow: $bxsh-molecule-drawer;
        }
      }
      &--#{$size-name}--bottom {
        transition-property: translateY;
        width: 100%;
        height: $size-value;
        bottom: 0px;
        left: 0;
        transform: translateY(100%);
        &#{$this}-open {
          transform: translateY(0);
          transition-property: transform;
          box-shadow: $bxsh-molecule-drawer;
        }
      }
    }
  }
}
