$bgc-molecule-carousel: transparent !default;
$bxsh-molecule-carousel-arrow: 0 1px 4px 0 rgba(0, 0, 0, 0.24) !default;
$wthc-molecule-carousel: rgba(0, 0, 0, 0) !default;
$c-nav-background: rgba(255, 255, 255, 0.8) !default;
$c-nav-color: #aaaaaa !default;
$h-image: auto !default;
$mh: 50px !default;

@mixin arrow($direction) {
  @if $direction == 'right' {
    margin-right: 6px;
    transform: rotate(45deg);
  } @else if $direction == 'left' {
    margin-left: 6px;
    transform: rotate(-135deg);
  }

  border-right: 3px solid $c-nav-color;
  border-top: 3px solid $c-nav-color;
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
}
