@import '~@schibstedspain/sui-atom-tag/lib/index';

.DemoMoleculeTable {
  margin-bottom: 500px;
  padding: 60px;

  &-list {
    background: white;
    width: 100%;
  }

  &-section {
    margin: 10px 10px 100px;

    &-responsive {
      background: white;
      border: 2px dashed blue;
      margin-top: 10px;
      overflow-y: scroll;
      padding: 30px;
      resize: horizontal;
      max-height: 600px;

    }
  }

  pre {
    padding: 16px;
    width: 300px;
  }

  &-complexCell {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-right: 20px;
    }
    p {
      margin: 0;
    }
  }
}
