$c-sui-section-info-border: $c-gray-light !default;
$bdb-section-info: 1px solid $c-sui-section-info-border;
$mw-section-info: 670px !default;
$fb-left-section-content: 30% !default;
$fb-right-section-content: 70% !default;