/* sass-lint:disable no-css-comments, class-name-format, no-important */
@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-form-checkbox/lib/index';

.sui-CardSubscription {
  @include sui-card;

  padding-top: $pt-card-subscription;
  position: relative;

  &::before {
    background: $bg-card-subscription-image;
    content: '';
    height: $h-card-subscription-image;
    position: absolute;
    top: $t-card-subscription-image;
    width: 100%;
  }

  &-title {
    @include h4;
    color: $c-card-subscription-title;
    margin-bottom: $m-v-small;
  }

  &:hover &-title {
    color: $c-card-subscription-title;
  }

  &-content {
    background-color: $bgc-card-subscription-content;
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    &Field {
      display: flex;
    }

    &Check {
      margin-top: $m-v-large;
    }
  }

  &-input {
    @include sui-input;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: $fz-card-subscription-input;

    &,
    &:hover,
    &:active,
    &:focus {
      border-right: 0;

      &.has-error {
        border-right: 0;
      }
    }
  }

  &-button {
    @include sui-button($type-card-subscription-button);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &Icon {
      fill: $c-card-subscription-icon !important;
    }
  }
}
