$bd-card-profile-avatar-halo: 4px solid $c-accent !default;
$bgc-card-profile: $c-gray-lightest !default;
$c-card-profile-info: $c-gray !default;


$w-card-profile-avatar: 64px;
$h-card-profile-avatar: 64px;
$p-card-profile-avatar: $p-l;