@import '~@schibstedspain/theme-basic/lib/index';

.sui-TagSelectable {
  @include reset-button;
  @include sui-tag;

  &.is-selected {
    background: $bgc-tag-selected;
    border: $bd-tag-selected;
    color: $c-tag-selected;
  }

  &-icon {
    fill: $c-primary !important;
    height: $size-tag-icon;
    margin-right: $m-h-small;
    width: $size-tag-icon;
  }
}
