@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-TagSelectable {
  @include reset-button;
  @include sui-tag;

  &.is-selected {
    border-color: $c-primary;
  }

  &-icon {
    fill: $c-primary !important;
    height: $size-tag-icon;
    margin-right: $m-h-small;
    width: $size-tag-icon;
  }
}
