$base-class-circle: '#{$base-class}Circle';

#{$base-class-circle} {
  background-color: transparent;
  font-size: $fz-atom-circle-progress-bar-text--outer;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &--extraSmall {
    height: $w-atom-circle-progress-bar-circle-extraSmall;
    width: $w-atom-circle-progress-bar-circle-extraSmall;
  }

  &--small {
    height: $h-atom-circle-progress-bar-circle-small;
    width: $w-atom-circle-progress-bar-circle-small;
  }

  &--medium {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: $fz-atom-circle-progress-bar-text--inner;
    height: $h-atom-circle-progress-bar-circle-medium;
    width: $w-atom-circle-progress-bar-circle-medium;
  }

  &--large {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: $fz-atom-circle-progress-bar-text--inner;
    height: $h-atom-circle-progress-bar-circle-large;
    width: $w-atom-circle-progress-bar-circle-large;
  }
  &--extraLarge {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: $fz-atom-circle-progress-bar-text--extraLarge;
    height: $h-atom-circle-progress-bar-circle-extraLarge;
    width: $w-atom-circle-progress-bar-circle-extraLarge;
  }

  &--error {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
  }

  &-indicator {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    &--small,
    &--extraSmall {
      top: 0;
      bottom: 0;
      left: 100%;
      display: flex;
      align-items: center;
      &:not(&--error) {
        margin-left: $ml-atom-circle-progress-bar-text--outer;
      }
    }

    &--medium {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $h-atom-circle-progress-bar-circle-medium;
      width: $w-atom-circle-progress-bar-circle-medium;
    }

    &--large {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $h-atom-circle-progress-bar-circle-large;
      width: $w-atom-circle-progress-bar-circle-large;
    }
    &--extraLarge {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $h-atom-circle-progress-bar-circle-extraLarge;
      width: $w-atom-circle-progress-bar-circle-extraLarge;
    }

    &--error {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: $c-atom-circle-progress-bar-trail--error;
      }
    }
    &--color {
      @each $colorName, $colorValue in $c-progress-bar-fill-array {
        &-#{$colorName} {
          color: $colorValue;
        }
      }
    }
  }

  &-circle {
    &--small {
      height: $h-atom-circle-progress-bar-circle-small;
      width: $w-atom-circle-progress-bar-circle-small;
    }

    &--medium {
      height: $h-atom-circle-progress-bar-circle-medium;
      width: $w-atom-circle-progress-bar-circle-medium;
    }

    &--large {
      height: $h-atom-circle-progress-bar-circle-large;
      width: $w-atom-circle-progress-bar-circle-large;
    }
    &--extraLarge {
      height: $h-atom-circle-progress-bar-circle-extraLarge;
      width: $w-atom-circle-progress-bar-circle-extraLarge;
    }
  }

  &-trail {
    stroke: $c-atom-circle-progress-bar-trail;

    &--error {
      stroke: $c-atom-circle-progress-bar-trail--error;
    }

    &--loading {
      stroke: $c-atom-circle-progress-bar-trail--loading;
    }

    &--success {
      stroke: $c-atom-circle-progress-bar-trail--success;
    }
    &#{$base-class-circle}-trail--color {
      @each $colorName, $colorValue in $c-progress-bar-fill-array {
        &-#{$colorName} {
          stroke: color-mix(in srgb, $c-white, $colorValue 16%);
        }
      }
    }
  }

  &-path {
    &#{$base-class-circle}-path--color {
      @each $colorName, $colorValue in $c-progress-bar-fill-array {
        &-#{$colorName} {
          stroke: $colorValue;
        }
      }
    }
    stroke: $c-atom-circle-progress-bar-path;
  }
}
