$bd-accordion-tab-container: $bdw-s $c-gray-lightest groove !default;
$bd-accordion-tab-container-none: 0 $c-gray-lightest groove !default;
$bdrs-accordion-tab: 0 !default;
$bdrs-accordion-tab-scrollbar-thumb: $bdrs-l !default;
$bdw-accordion-tab-scrollbar: $bdw-base !default;
$bgc-accordion-tab-container: $c-white !default;
$c-accordion-tab-icon: $c-gray-dark-3 !default;
$sz-accordion-tab-icon: $sz-icon-xs !default;
$c-accordion-tab-text: $c-text-base !default;
$c-accordion-tab-scrollbar-thumb: $c-gray !default;
$h-accordion-tab-btn: $sz-base * 5 !default;
$p-accordion-tab-btn: $p-m !default;
$p-accordion-tab-content: $p-m !default;
$p-accordion-title: $p-m !default;
$ff-molecule-accordion-title: $ff-sans-serif !default;
$fw-molecule-accordion-title: $fw-regular !default;
$bxsh-accordion-tab-scrollbar-thumb: 0 0 1px $c-gray-lightest !default;
$trs-accordion-tab-content: max-height 0.25s ease-in-out !default;
$m-accordion-tab-btn: $m-m !default;
