$bd-accordion-tab-container: 1px $c-gray-lightest groove !default;
$bd-accordion-tab-container-none: 0 $c-gray-lightest groove !default;
$bgc-accordion-tab-container: $c-white !default;
$c-accordion-tab-icon: $c-primary !default;
$c-accordion-tab-text: $c-text-base !default;
$h-accordion-tab-btn: 40px !default;
$mh-accordion-tab-btn: 24px !default;
$p-accordion-tab-btn: $p-m !default;
$p-accordion-tab-content: $p-m $p-l !default;
$trs-accordion-tab-content: all .25s ease-in-out !default;