$bd-accordion-tab-container: $bdw-s $c-gray-lightest groove !default;
$bd-accordion-tab-container-none: 0 $c-gray-lightest groove !default;
$bdrs-accordion-tab-scrollbar-thumb: $bdrs-l !default;
$bdw-accordion-tab-scrollbar: $bdw-xl !default;
$bgc-accordion-tab-container: $c-white !default;
$c-accordion-tab-icon: $c-primary !default;
$c-accordion-tab-text: $c-text-base !default;
$c-accordion-tab-scrollbar-thumb: $c-gray !default;
$h-accordion-tab-btn: 40px !default;
$p-accordion-tab-btn: $p-m !default;
$p-accordion-tab-content: $p-l !default;
$p-accordion-title: $p-m $p-l !default;
$bxsh-accordion-tab-scrollbar-thumb: 0 0 1px $c-gray-lightest !default;
$trs-accordion-tab-content: all .25s ease-in-out !default;