@import '~@schibstedspain/sui-theme/lib/settings';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-button-basic/lib/index';

$z-range-datepicker-icon: 2 !default;
$c-range-datepicker-icon-fill: $c-text-base !default;
$c-range-datepicker-icon-fill-hover: $c-primary !default;
$c-range-datepicker-icon-fill-focus: $c-primary !default;
$jc-range-datepicker-inputs: normal !default;
$bgc-range-datepicker-selected: $c-primary !default;
$w-range-datepicker-input: 130px !default;

/* Overwrite react-datepicker variables */
$datepicker__selected-color: $bgc-range-datepicker-selected;
/* Load react-datepicker styles */
@import '~react-datepicker/src/stylesheets/datepicker.scss';

.sui-FormRangeDatepicker {
  display: flex;
  justify-content: $jc-range-datepicker-inputs;

  &-item {
    align-items: center;
    display: flex;
    padding-right: $p-m;
    width: $w-range-datepicker-input;

    &-icon {
      @include sui-icon--small;
      fill: $c-range-datepicker-icon-fill !important;
    }

    &:hover &-icon {
      fill: $c-range-datepicker-icon-fill-hover !important;
    }

    &:focus &-icon {
      fill: $c-range-datepicker-icon-fill-focus !important;
    }
  }

  &-box {
    margin-left: -$m-xxl;
    padding: $p-m;
    pointer-events: none;
    z-index: $z-range-datepicker-icon;
  }


  &-input {
    @include sui-input;
    cursor: pointer;
  }
}

