$base-class: '.sui-AtomIcon';

#{$base-class} {
  display: inherit;
  border: none;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    box-shadow: $bxsh-atom-icon-focus;
    outline: 2px solid transparentize($c-primary, 0.2);
    outline-offset: 2px;
  }

  // Colors
  @each $key, $value in $atom-icon-colors {
    &#{$base-class}--color-#{$key} svg {
      fill: $value;
    }
  }

  // Sizes
  @each $size-key, $size-value in $atom-icon-sizes {
    &#{$base-class}--size-#{$size-key} {
      svg {
        height: $size-value;
        width: $size-value;
      }

      &#{$base-class}--shape-squared {
        @include icon-squared();
      }

      &#{$base-class}--shape-rounded {
        @include icon-rounded();
      }

      &#{$base-class}--shape-circular {
        @include icon-circle($size-value);
      }
    }
  }

  > span {
    display: inherit;
  }

  svg {
    vertical-align: middle;

    path {
      stroke: none !important; // !important usage for AtomButton compatibility
    }
  }
}
