@import '~@s-ui/react-primitive-visually-hidden/lib/index';
@import '~@s-ui/react-atom-icon/lib/index';
@import '~@s-ui/react-molecule-input-tags/lib/index';
@import '~@s-ui/react-atom-kbd/lib/index';

$atom-tag-types: (
  alert: (
    color: #830000,
    onColor: $c-white
  ),
  warning: (
    color: #62621b,
    onColor: $c-white
  ),
  special: (
    color: #330066,
    onColor: $c-white
  ),
  date: (
    color: #033b00,
    onColor: $c-white
  )
);

@import '../src/index.scss';
