@import '~@s-ui/react-atom-icon/lib/index';

$atom-tag-types: (
  'alert': (
    bds: double,
    bdw: 4px,
    bgc: red,
    c: white,
    bgc-hover: color-variation(red, 2),
    c-hover: white
  ),
  'warning': (
    bgc: orange,
    c: white,
    c-hover: white,
    c-icon-close: blue,
    c-icon-close-hover: blue,
    bgc-icon-close-hover: color-variation(blue, 2)
  ),
  'special': (
    bgc: blue,
    c: white,
    bgc-hover: color-variation(blue, 2),
    c-hover: white
  ),
  'date': (
    bgc: gray,
    c: white,
    bgc-hover: color-variation(gray, 2),
    c-hover: white
  )
);

@import '../src/index';
