$w-notification: 100% !default;
$z-notification: 1000 !default;

// Colors

$notification-type-colors: (
  info: $c-primary,
  success: $c-success,
  warning: $c-alert,
  error: $c-error,
  system: $c-black,
)