@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';

$p-user-communications-message: $p-l;
$p-user-communications-message-sides: 56px;

.sui-MoleculeNotification {
  color: $c-white;
  padding: $p-l;
  position: relative;

  &--info {
    background-color: $c-primary;
  }

  &--success {
    background-color: $c-success;
  }

  &--warning {
    background-color: $c-alert;
  }

  &--error {
    background-color: $c-error;
  }

  &--system {
    background-color: $c-black;
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    flex: 1 1 100%;
    margin: 0 $m-l 0 $m-m;
  }

  &-button {
    &Container {
      margin-top: $m-l;
      text-align: right;
    }
  }

  &-close {
    cursor: pointer;
    justify-self: end;
  }

  &-icon {
    fill: $c-white !important;
    height: $h-modal-basic-icon;
    width: $w-modal-basic-icon;

    &Left {
      @include media-breakpoint-down(xxs) {
        display: none;
      }
    }
  }
}