@import '~@schibstedspain/sui-theme/lib/settings-compat-v7/index';
@import '~@schibstedspain/sui-theme/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';
@import './settings';

.sui-MoleculeNotification {
  color: $c-white;
  padding: $p-l;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    flex: 1 1 auto;
    margin: 0 $m-l 0 $m-m;
  }

  &-buttonsContainer {
    margin-top: $m-l;
    text-align: right;
  }

  &-close {
    cursor: pointer;
  }

  &-icon {
    fill: $c-white !important;
    height: $h-modal-basic-icon;
    width: $w-modal-basic-icon;

    &Left {
      @include media-breakpoint-down(xxs) {
        display: none;
      }
    }
  }

  // Type

  @each $key, $value in $notification-type-colors {
    &-type {
      &--#{$key} {
        background-color: #{$value};
      }
    }
  }

  // Position
  &-position {
    &--relative {
      position: relative;
    }

    &--top {
      left: 0;
      position: absolute;
      top: 0;
      width: $w-notification;
      z-index: $z-notification;
    }

    &--bottom {
      bottom: 0;
      left: 0;
      position: absolute;
      width: $w-notification;
      z-index: $z-notification;
    }
  }
}