@import '~@schibstedspain/theme-basic/lib/index';

$bd-status-spot: none !default;
$c-status-spot-default: $c-primary !default;
$c-status-spot-high: $c-success !default;
$c-status-spot-medium: $c-alert !default;
$c-status-spot-low: $c-error !default;
$size-status-spot-large: 20px !default;
$size-status-spot-medium: 15px !default;
$size-status-spot-small: 10px !default;

.sui-AtomStatusSpot {
  position: relative;

  &-status {
    border: $bd-status-spot;
    border-radius: 100%;
    left: 0;
    position: absolute;
    top: 0;

    &-default {
      background: $c-status-spot-default;
    }

    &-low {
      background: $c-status-spot-low;
    }

    &-medium {
      background: $c-status-spot-medium;
    }

    &-high {
      background: $c-status-spot-high;
    }
  }

  &-size {
    &-small {
      height: $size-status-spot-small;
      width: $size-status-spot-small;
    }

    &-medium {
      height: $size-status-spot-medium;
      width: $size-status-spot-medium;
    }

    &-large {
      height: $size-status-spot-large;
      width: $size-status-spot-large;
    }
  }
}
