$bdrs-select-popover: 20px !default;
$bxsh-select-popover: 0 1px 4px 0 rgba(0, 0, 0, 0.24) !default;
$mw-select-popover: 250px !default;
$w-select-popover: 344px !default;
$sizes-molecule-select-popover-heights: (
  m $h-atom-input--m,
  s $h-atom-input--s,
  xs $h-atom-input--xs
) !default;
