@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import './settings';

$bd-select-popover: 1px solid $c-gray-light-2 !default;
$c-select-popover: $c-black !default;
$bgc-select-popover-hover: $c-primary-light-4 !default;
$bdc-select-popover-hover: $c-primary-light-4 !default;
$c-select-popover--is-open: $c-primary !default;

$bgc-select-popover-content: $c-white !default;
$bd-select-popover-content: solid 1px $c-gray-light-3 !default;
$bdt-select-popover-action-bar: solid 1px $c-gray-light-3 !default;

$bdc-select-popover-selected: $c-primary !default;
$c-select-popover-selected: $c-primary !default;

$bxz-select-popover-select: border-box !default;
$cur-select-popover-select: auto !default;

$z-select-popover-select-popover: $z-tooltips !default;

.sui-MoleculeSelectPopover {
  $self: &;
  display: inline-block;
  position: relative;

  &-select {
    $select: &;
    align-items: center;
    border: $bd-select-popover;
    border-radius: $bdrs-select-popover;
    box-sizing: $bxz-select-popover-select;
    color: $c-select-popover;
    cursor: $cur-select-popover-select;
    display: flex;
    justify-content: space-between;
    max-width: $mw-select-popover;
    padding: $p-m $p-l;
    user-select: none;

    &Text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &Icon {
      margin-left: $m-m;
    }

    &:hover,
    &.is-open,
    &.is-selected {
      background-color: $bgc-select-popover-hover;
      border-color: $bdc-select-popover-hover;
    }

    &.is-open {
      color: $c-select-popover--is-open;

      #{$select}Icon {
        transform: rotate(180deg);
      }
    }

    &.is-selected {
      border-color: $bdc-select-popover-selected;
      color: $c-select-popover-selected;
    }

    @each $type, $attr in $sizes-molecule-select-popover-heights {
      &--#{$type} {
        height: $attr;
      }
    }
  }

  &-popover {
    background-color: $bgc-select-popover-content;
    border: $bd-select-popover-content;
    border-radius: $bdrs-select-popover-content;
    box-shadow: $bxsh-select-popover;
    margin-top: $m-m;
    position: absolute;
    min-width: $w-select-popover;
    z-index: $z-select-popover-select-popover;

    &ActionBar {
      border-top: $bdt-select-popover-action-bar;
      padding: $p-l;
      text-align: right;
    }

    // placements
    &--right {
      left: 0;
    }

    &--left {
      right: 0;
    }
  }

  &--fullWidth {
    display: block;

    #{$self}-select {
      max-width: none;
    }
  }
}
