@import '~@schibstedspain/sui-theme/lib/index';
@import './settings';

.sui-MoleculeSelectPopover {
  &-select {
    $select: &;
    border: 1px solid $c-gray-light-2;
    border-radius: $bdrs-select-popover;
    display: flex;
    padding: $p-m $p-l;
    justify-content: space-between;

    &:hover {
      background-color: $c-primary-light-4;
    }

    &.is-open {
      background-color: $c-primary-light-4;
      color: $c-primary;

      #{$select}Icon {
        transform: rotate(180deg);
      }
    }
  }

  &-popover {
    background-color: $c-white;
    border: solid 1px $c-gray-light-5;
    box-shadow: $bxsh-select-popover;
    margin-top: $m-m;
    padding: $p-l;
    position: absolute;
    width: 100%;
    z-index: $z-tooltips;
  }
}
