$base-class: '.sui-MoleculeValidationCode';

#{$base-class} {
  width: 100%;
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-labelTitle {
      color: $c-gray;
      font-size: $fz-m;
      font-weight: $fw-semi-bold;
    }
    &-delete {
      color: $c-primary-dark-4;
      font-size: $fz-m;
      font-weight: $fw-regular;
    }
  }

  &-inputContainer {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    &-pinInput {
      align-items: left;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: $m-xl;
      width: fit-content;

      &.is-marginless {
        margin-bottom: 0;
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    row-gap: $m-s;
  }
}
