/* sass-lint:disable no-important */
@import '~@schibstedspain/theme-basic/lib/index';

$c-article-tag: $c-gray-light !default;
$c-article-tag-types: () !default;

.sui-CardArticle {
  @include sui-card;

  &-link {
    @include reset-link;
  }

  &-info {
    align-items: center;
    border-bottom: 1px solid $c-gray-lightest;
    display: flex;
    justify-content: space-between;
    margin: 0 $m-h;
    padding: $p-v 0;
  }

  &-tag {
    @include reset-link;
    background-color: $c-article-tag;
    border-radius: $bdrs-small;
    color: $c-white;
    font-size: $fz-s;
    font-weight: $fw-bold;
    padding: $p-v-xsmall $p-h-xsmall;
    text-transform: uppercase;

    @each $type, $color in $c-article-tag-types {
      &--#{$type} {
        background-color: $color;
      }
    }
  }

  &-comments {
    @include reset-link;
    $c-comments: $c-gray;
    align-items: center;
    color: $c-comments;
    display: flex;
    font-size: $fz-s;

    &Icon {
      $size-icon: 16px;
      fill: $c-comments !important;
      height: $size-icon;
      margin-right: $m-h-xsmall;
      width: $size-icon;
    }
  }
}
