.DemoAtomUpload {
  &-section {
    border: 1px solid blue;
    margin: 20px 20px 20px 0;
    max-width: 800px;
    padding: 10px;

    &--responsive {
      border: 2px dashed blue;
      width: 300px;
      max-width: 1000px;
      overflow: hidden;
      resize: horizontal;
    }
  }
}
