@import '../../Component/settings';
@import '../../Component/mixins';

$base-class: '.sui-AtomInput';
$class-tags: '#{$base-class}--withTags';
$class-input: '#{$base-class}-input';

$sizes-atom-input-paddings: m $p-m, s $p-s !default;

#{$class-tags} {
  @include sui-atom-input-input;
  display: flex;
  padding-left: $p-s;

  &-container {
    padding: $p-m 0 $p-m $p-m;
  }

  &--focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;

    #{$class-input} {
      outline: 0;
      box-shadow: none;
    }
  }

  & #{$class-input} {
    border: 0;
    flex: 1;
    height: calc(#{$h-atom-input--m} - 2px);
    padding-left: $p-m;
  }
  
  @each $type, $attr in $sizes-atom-input {
    &-#{$type} {
      height: $attr;

      #{$class-input} {
        height: calc(#{$attr} - 2px);
      }
    }
  }

  @each $type, $attr in $sizes-atom-input-paddings {
    &-#{$type} {
      #{$class-tags}-container {
        padding: $attr 0 $attr $attr;
      }
    }
  }

  @each $state, $color in $states-atom-input {
    &--#{$state} {
      border-color: $color;
    }
  }
  
}

