@import '~@schibstedspain/theme-basic/lib/index';

@mixin sui-text-input ($default-border: false, $default-focus: false) {
  @include input-placeholder {
    color: $c-form-text-input-placeholder;
    opacity: 1;
  }
  color: $c-form-text-input-value;
  font-size: $fz-form-text-input-inner-text;
  font-weight: $fw-form-text-input-inner-text;
  white-space: nowrap;

  @if not($default-border) {
    border: 0;

    &:focus {
      outline-width: 0;
    }
  }
}

.sui-FormTextInput {
  &-value {
    @include sui-text-input;
    border-bottom: 1px solid $c-gray-light;
    padding-bottom: $p-v-small;
    width: 100%;
  }

  &-errorMessage {
    margin-top: $m-v-small;

    &Label {
      color: $c-form-text-input-error-message;
      font-size: $fz-s;
      font-weight: $fw-light;
    }
  }
}
