@use 'sass:math';

$base-class: '.demo-live';

#{$base-class} {
  --c-white: var(--studio-c-surface);
  --c-black: var(--studio-c-on-surface);
  --c-gray: color-mix(in srgb, #{$c-black} 10%, #{$c-white});
  --c-higlight: #{$c-primary};
  --sz-base: #{$sz-base};
  --sz-1-2: #{math.div($sz-base, 2)};
  --sz-1: #{$sz-base};
  --sz-3-2: #{3 * math.div($sz-base, 2)};
  --sz-2: #{2 * $sz-base};
  --sz-3: #{3 * $sz-base};
  --sz-5: #{5 * $sz-base};
  &-container {
    position: relative;
    &-wrapper {
      margin: calc(-1 * var(--sz-1));
      padding: var(--sz-1);
    }
    border-radius: var(--sz-1);
    box-shadow: var(--sz-1) var(--sz-1-2) var(--sz-3-2) 0 var(--c-gray),
      var(--sz-1-2) var(--sz-1-2) var(--sz-1-2) 0 var(--c-gray) inset;
    height: 100%;
  }
  &-provider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0;
    padding: var(--sz-1);
    width: 100%;
    box-sizing: border-box;
    height: 50dvh;
    &:has(#{$base-class}-preview-wrapper-half) {
      gap: var(--sz-1);
    }
  }

  &-editor {
    &-wrapper {
      // styles here
      width: 0;
      overflow: hidden;
      &-full {
        width: 100%;
      }
      &-half {
        width: 50%;
      }
    }
    width: 100%;
    height: 100%;
    > pre {
      padding: var(--sz-1);
      border-radius: var(--sz-1-2);
      height: 100%;
    }
    overflow: hidden;
  }
  &-preview {
    &-wrapper {
      margin: calc(-1 * var(--sz-1));
      padding: var(--sz-1);
      // styles here
      width: 0%;
      overflow: hidden;
      &-full {
        width: 100%;
      }
      &-half {
        width: 50%;
      }
    }
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--sz-1-2);
    background: repeating-linear-gradient(
      45deg,
      color-mix(in srgb, var(--c-black) 0%, transparent),
      color-mix(in srgb, var(--c-black) 0%, transparent) var(--sz-1),
      color-mix(in srgb, var(--c-black) 5%, transparent) var(--sz-1),
      color-mix(in srgb, var(--c-black) 5%, transparent) var(--sz-2)
    );
    overflow: hidden;
  }
  &-actions {
    $this: &;
    &-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0%, -100%);
      display: inline-flex;
      width: 100%;
      justify-content: center;
      padding: var(--sz-2) 0;
      box-sizing: border-box;
    }
    &-button {
      width: var(--sz-5);
      height: var(--sz-3);
      display: flex;
      align-items: center;
      align-content: center;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
      border-radius: var(--sz-1-2);
      color: var(--c-black);
      &:focus {
        outline: none;
      }
    }
    &-presentation {
      &-wrapper {
        z-index: -1;
        width: calc(100% - 2 * var(--sz-1));
        position: absolute;
        height: var(--sz-3);
      }
      width: var(--sz-5);
      height: var(--sz-3);
      border-radius: var(--sz-1-2);
      //background: linear-gradient(145deg, var(--c-white), color-mix(in srgb, var(--c-black) 10%, transparent));
      background: var(--c-white);
      box-shadow: 0 0 var(--sz-1) 0 color-mix(in srgb, var(--c-black) 30%, transparent),
        0 0 var(--sz-1) 0 var(--c-white);
      margin-left: 0%;
      transition: margin-left 200ms ease-in-out, transform 200ms ease-in-out;
      transform: translate(0%);
      &-half {
        margin-left: 50%;
        transform: translate(-50%);
      }
      &-full {
        margin-left: 100%;
        transform: translate(-100%);
      }
    }
    margin: calc(-1 * var(--sz-1));
    padding: var(--sz-1);
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    box-shadow: var(--sz-1) var(--sz-1-2) var(--sz-3-2) 0 var(--c-gray),
      var(--sz-1-2) var(--sz-1-2) var(--sz-1-2) 0 var(--c-gray) inset;
    border-radius: var(--sz-1);
    gap: var(--sz-1);
    position: relative;
    &:focus-within {
      &:has(#{$base-class}-actions-button:focus-visible) {
        outline: 2px solid transparentize($c-primary, 0.2);
        outline-offset: 2px;
        #{$base-class}-actions-presentation {
          box-shadow: 0 0 var(--sz-1) 0 color-mix(in srgb, var(--c-higlight) 60%, transparent),
            0 0 var(--sz-1) 0 var(--c-white);
        }
      }
    }
  }
  &-error {
    padding: var(--sz-1);
    margin: 0;
    &-wrapper {
      width: 100%;
      padding: var(--sz-1);
      box-sizing: border-box;
      overflow: hidden;
      &:empty {
        padding: 0;
      }
    }
  }
}
