$base-class: '.sui-MoleculeAvatar';

#{$base-class} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-avatar;
  background-color: $bgc-avatar;

  &,
  & > * {
    border-radius: $bdrs-rounded;
  }

  &--loading {
    background-color: transparent;
  }

  @each $key-size, $size in $s-avatar {
    &--#{$key-size} {
      width: $size;
      min-width: $size;
      height: $size;
    }
  }

  @each $key-size, $fz in $fz-avatar {
    &--#{$key-size} {
      font-size: $fz;
    }
  }
}
