$c-accordion-text: $c-text-base !default;
$bd-accordion-container: 1px $c-gray-lightest groove !default;
$bd-accordion-container-none: 0 $c-gray-lightest groove !default;
$p-accordion-content: $p-m $p-l !default;
$p-accordion-btn: $p-m $p-m $p-m $p-l !default;
