@import '~@schibstedspain/sui-theme/lib/index';

$bgc-atom-panel: color-variation($c-gray, -2) !default;
$bgc-panels: (
  'canvas': $c-white,
  'contrast': $c-black,
  'accent': $c-accent,
  'corporate': $c-primary,
  'base': color-variation($c-gray, 3),
  'dark': color-variation($c-gray, -1),
  'default': $c-gray-lightest,
  'highlight': color-variation($c-accent, 4)
) !default;
$c-atom-panel: $c-black !default;
$horizontal-alignments-atom-panel: ('left', 'center', 'right') !default;
$vertical-alignments-atom-panel: ('top', 'center', 'bottom') !default;

%sui-atom-panel-image {
  background-color: $bgc-atom-panel;//default bg color
  background-repeat: no-repeat;
}

.sui-atom-panel {
  &-content {
    position: relative;
  }

  @each $type, $attr in $bgc-panels {

    &--#{$type} {
      @include bgcolor-overlay-opacity($attr);
    }
  }

  &-color {
    @each $type, $attr in $bgc-panels {

      &--#{$type} {
        @include bgcolor-opacity($attr);
      }
    }
  }

  &-image {
    @extend %sui-atom-panel-image;

    &--resized {
      background-size: cover;
    }

    @each $alignment in $horizontal-alignments-atom-panel {
      &--horizontal-#{$alignment} {
        @extend %sui-atom-panel-image;
        background-position-x: #{$alignment};
      }
    }

    @each $alignment in $vertical-alignments-atom-panel {
      &--vertical-#{$alignment} {
        @extend %sui-atom-panel-image;
        background-position-y: #{$alignment};
      }
    }
  }
}
