@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-molecule-checkbox-field';

$pl-organism-nested-checkboxes: $p-l !default;
$mt-organism-nested-checkboxes: $m-m !default;

.sui-OrganismNestedCheckboxes {
  list-style: none;
  padding: 0;

  &-list {
    padding: 0;

    &Item {
      list-style: none;
      margin-top: $mt-organism-nested-checkboxes;
      padding-left: $pl-organism-nested-checkboxes;

      &--joined {
        padding-left: 0;
      }
    }
  }
}
