$bgc-card-collapsible: $c-white !default;
$h-card-collapsible-header-image: 100px;
$c-card-collapsible-info-item: $c-gray-dark !default;
$fz-card-collapsible-info-item-collapsed: $fz-l + 2 !default;
$fz-card-collapsible-info-item-expanded: $fz-m !default;
$lh-card-collapsible-info-item: 1.2 !default;
$bxsh-card-collapsible: 0 2px 15px rgba($c-black, .3) !default;
