$base-class: '.sui-AtomCard';
$class-media: '#{$base-class}-media';

#{$base-class} {
  background: $bg-atom-card;
  border-radius: $bdrs-atom-card;
  display: flex;
  padding: $p-atom-card-small;
  flex-direction: row-reverse;

  @include media-breakpoint-up(m) {
    padding: $p-atom-card;
  }

  @media (hover: hover) {
    &:hover {
      background: $bgc-atom-card-hover;
      box-shadow: $bxsh-atom-card-hover;
    }
  }

  #{$base-class}-media {
    background: $bg-atom-card-media;
    margin-right: $mr-atom-card-media;
    width: $w-atom-card-media;
  }

  #{$base-class}-info {
    padding: $p-atom-card-info;
    flex-grow: 1;
    min-width: 0;
  }

  &#{$base-class}-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        background: $bgc-atom-card-link-hover;
      }
    }
    &#{$base-class}--highlight {
      background: $c-atom-card-highlight;
      @media (hover: hover) {
        &:hover {
          background: $bgc-atom-card-highlight-hover;
        }
      }
    }
  }

  &#{$base-class}--vertical {
    flex-direction: column-reverse;

    #{$class-media} {
      width: 100%;
    }
  }

  &#{$base-class}--responsive {
    flex-direction: column-reverse;

    #{$class-media} {
      width: 100%;
    }

    @include media-breakpoint-up($mq-responsive-breakpoint-name) {
      flex-direction: row-reverse;

      #{$class-media} {
        width: $w-atom-card-media;
      }
    }
  }

  @each $type, $attr in $bdrs-atom-card-rounded {
    &#{$base-class}--rounded-#{$type} {
      border-radius: $attr;
    }
  }

  @each $type, $attr in $bxsh-atom-card-elevation {
    &#{$base-class}--elevation-#{$type} {
      box-shadow: $attr;

      @media (hover: hover) {
        &:hover {
          box-shadow: $attr;
        }
      }
    }
  }
}
