$bg-atom-card: transparent !default;
$bdrs-atom-card: 0 !default;
$p-atom-card: 0 !default;
$p-atom-card-small: 0 !default;
$bgc-atom-card-hover: transparent !default;
$bgc-atom-card-link-hover: $bgc-atom-card-hover !default;
$bxsh-atom-card-hover: none !default;
$c-atom-card-highlight: $c-highlight !default;
$bgc-atom-card-highlight-hover: $bgc-atom-card-hover !default; // using $bgc-atom-card-hover to keep styles backwards compatible
$bg-atom-card-media: transparent !default;
$w-atom-card-media: 33% !default;
$mr-atom-card-media: 0 !default;
$mq-responsive-breakpoint-name: 'm' !default;
$p-atom-card-info: $p-l !default;
$bdrs-atom-card-rounded: (
  's': $bdrs-s,
  'm': $bdrs-m,
  'l': $bdrs-l
) !default;
$bxsh-atom-card-elevation: (
  's': $bxsh-s,
  'm': $bxsh-m,
  'l': $bxsh-l
) !default;

$base-class: '.sui-AtomCard';
$class-media: '#{$base-class}-media';
