// Primary
$c-atom-button-primary: $c-white !default;
$bgc-atom-button-primary-focus: $bgc-atom-button-dark !default;
$bdc-atom-button-primary-focus: $bgc-atom-button-dark !default;
$bgc-atom-button-primary: $bgc-atom-button !default;
$bdc-atom-button-primary: $bgc-atom-button !default;
$bxsh-atom-button-primary: none !default;

// Secondary
$bgc-atom-button-secondary: $bgc-atom-button !default;
$bgc-atom-button-secondary-focus: $bgc-atom-button-light !default;

$bdrs-atom-buton-first-secondary: $bdrs-m 0 0 $bdrs-m !default;
$bdrs-atom-buton-last-secondary: 0 $bdrs-m $bdrs-m 0 !default;

// Tertiary
$bdc-atom-button-tertiary: transparent !default;

// Negative
$c-atom-button-negative-primary: $bgc-atom-button !default;
$bgc-atom-button-negative-primary-focus: $bgc-atom-button-light-contrast !default;
$bdc-atom-button-negative-primary-focus: $bgc-atom-button-light-contrast !default;
$bgc-atom-button-negative-primary: $c-white !default;
$bdc-atom-button-negative-primary: $c-white !default;
$c-atom-button-negative-secondary: $c-white !default;
$bgc-atom-button-negative-secondary-focus: $bgc-atom-button-dark !default;
$bxsh-atom-button-negative-primary: none !default;

// Accent
$c-atom-button-accent: $c-white !default;
$bgc-atom-button-accent-focus: $c-accent-dark !default;
$bdc-atom-button-accent-focus: $c-accent-dark !default;
$bgc-atom-button-accent: $c-accent !default;
$bdc-atom-button-accent: $c-accent !default;

// Types and colors
#{$base-class}--primary {
  background: $bgc-atom-button-primary;
  border-color: $bdc-atom-button-primary;
  box-shadow: $bxsh-atom-button-primary;
  color: $c-atom-button-primary;

  @include button-focused {
    background: $bgc-atom-button-primary-focus;
    border-color: $bdc-atom-button-primary-focus;
  }
}

#{$base-class}--secondary,
#{$base-class}--tertiary {
  color: $bgc-atom-button-secondary;

  @include button-focused {
    background: $bgc-atom-button-secondary-focus;
  }
}

#{$base-class}--tertiary {
  border-color: $bdc-atom-button-tertiary;
}

#{$base-class}--negative {
  &.sui-AtomButton--primary {
    background: $bgc-atom-button-negative-primary;
    border-color: $bdc-atom-button-negative-primary;
    box-shadow: $bxsh-atom-button-negative-primary;
    color: $c-atom-button-negative-primary;

    @include button-focused {
      background: $bgc-atom-button-negative-primary-focus;
      border-color: $bdc-atom-button-negative-primary-focus;
    }
  }

  &.sui-AtomButton--secondary,
  &.sui-AtomButton--tertiary {
    color: $c-atom-button-negative-secondary;

    @include button-focused {
      background: $bgc-atom-button-negative-secondary-focus;
    }
  }
}

#{$base-class}--accent {
  background: $bgc-atom-button-accent;
  border-color: $bdc-atom-button-accent;
  color: $c-atom-button-accent;

  @include button-focused {
    background: $bgc-atom-button-accent-focus;
    border-color: $bdc-atom-button-accent-focus;
  }
}
