.sui-AtomButton {
  $root: &;

  // Special custom properties.
  --color-inverted: var(--c-white);

  // Icon custom properties.
  --icon-size: var(--sz-icon-s);
  --icon-margin: var(--m-m);

  // Basic custom properties.
  --background-color: var(--color-main);
  --border: var(--bdw-s) solid;
  --border-color: var(--color-main);
  --border-radius: var(--bdrs-m);
  --color: var(--color-inverted);
  --padding: 0 var(--p-l);
  --text-decoration: none;
  --font-family: var(--fw-semi-bold);
  --font-size: var(--fz-base);
  --font-weight: var(--fw-semi-bold);
  --height: calc(var(--sz-base) * 5);
  --line-height: normal;
  --min-width: calc(var(--p-base) * 5);
  --text-transform: none;

  &:focus {
    --box-shadow: none; // ??
  }

  & + &:not(&--fitted):not(&-group) {
    --margin-left: var(--m-m);
  }

  &-group {
    --margin-left: -1px;
    --margin-right: 0; // ??

    & + & {
      --margin-left: -1px;
      --margin-right: 0; // ??
    }

    &--middle#{$root} {
      --border-radius: 0;
    }

    &--first#{$root} {
      --border-radius: var(--bdrs-m) 0 0 var(--bdrs-m);
    }

    &--last#{$root} {
      --border-radius: 0 var(--bdrs-m) var(--bdrs-m) 0;
    }

    &--selected#{$root} {
      --border-radius: none;
    }

    &--focused {
      --border: 1px solid;
    }
  }

  &-inner {
    --height: 100%;
  }

  // Links
  &--link {
    --background-color: transparent;
    --color: var(--color-main);
    --font-family: var(--ff-link);
    --font-weight: var(--fw-link);
    --line-height: var(--lh-link);
    --text-align: center;
    --text-decoration: none;

    &#{$root}--focused,
    &:active {
      --text-decoration: underline;
    }

    @media (hover: hover) {
      &:hover {
        --text-decoration: underline;
      }
    }

    &#{$root}--negative {
      &#{$root}--focused,
      &:active {
        --background-color: transparent;
      }

      @media (hover: hover) {
        &:hover {
          --background-color: transparent;
        }
      }
    }
  }

  // Colors
  &--primary {
    --color-main: var(--c-primary-500);
    --color-focused: var(--c-primary-600);
    --color-focused-inverted: var(--c-primary-100);
  }
  &--accent {
    --color-main: var(--c-accent-500);
    --color-focused: var(--c-accent-600);
    --color-focused-inverted: var(--c-accent-100);
  }
  &--neutral {
    --color-main: var(--c-neutral-500);
    --color-focused: var(--c-neutral-600);
    --color-focused-inverted: var(--c-neutral-100);
  }
  &--success {
    --color-main: var(--c-success-500);
    --color-focused: var(--c-success-600);
    --color-focused-inverted: var(--c-success-100);
  }
  &--alert {
    --color-main: var(--c-alert-500);
    --color-focused: var(--c-alert-600);
    --color-focused-inverted: var(--c-alert-100);
  }
  &--error {
    --color-main: var(--c-error-500);
    --color-focused: var(--c-error-600);
    --color-focused-inverted: var(--c-error-100);
  }
  &--social-facebook {
    --color-main: var(--c-facebook-500);
    --color-focused: var(--c-facebook-600);
    --color-focused-inverted: var(--c-facebook-100);
  }
  &--social-twitter {
    --color-main: var(--c-twitter-500);
    --color-focused: var(--c-twitter-600);
    --color-focused-inverted: var(--c-twitter-100);
  }
  &--social-google {
    --color-main: var(--c-google-500);
    --color-focused: var(--c-google-600);
    --color-focused-inverted: var(--c-google-100);
  }
  &--social-youtube {
    --color-main: var(--c-youtube-500);
    --color-focused: var(--c-youtube-600);
    --color-focused-inverted: var(--c-youtube-100);
  }
  &--social-whatsapp {
    --color-main: var(--c-whatsapp-500);
    --color-focused: var(--c-whatsapp-600);
    --color-focused-inverted: var(--c-whatsapp-100);
  }
  &--social-instagram {
    --color-main: var(--c-instagram-500);
    --color-focused: var(--c-instagram-600);
    --color-focused-inverted: var(--c-instagram-100);
  }

  // Designs
  &--solid {
    // &#{$root}--primary {
    //   --box-shadow: none; // ??

    //   &#{$root}--negative {
    //     --box-shadow: none; // ??
    //   }
    // }

    &#{$root}--focused,
    &:active {
      --background-color: var(--color-focused);
      --border-color: var(--color-focused);
    }

    @media (hover: hover) {
      &:hover {
        --background-color: var(--color-focused);
        --border-color: var(--color-focused);
      }
    }

    &#{$root}--negative {
      --background-color: var(--color-inverted);
      --border-color: var(--color-inverted);
      --color: var(--color-main);
    }
  }

  &--outline,
  &--flat {
    --background-color: unset;
    --color: var(--color-main);

    &#{$root}--focused,
    &:active {
      --background-color: var(--color-focused-inverted);
    }

    @media (hover: hover) {
      &:hover {
        --background-color: var(--color-focused-inverted);
      }
    }

    &#{$root}--negative {
      --border-color: var(--color-inverted);

      &#{$root}--focused,
      &:active {
        --background-color: var(--color-focused);
      }

      @media (hover: hover) {
        &:hover {
          --background-color: var(--color-focused);
        }
      }
    }
  }

  // Shapes
  &--squared {
    --border-radius: 0;
  }

  // Alignment
  &--center {
    --text-align: center;
  }

  &--left {
    --text-align: left;
  }

  &--right {
    --text-align: right;
  }

  // Shapes
  &--circular {
    --border-radius: calc(var(--sz-base) * 5 * 0.5);
  }

  // Sizes
  &--small {
    --font-size: var(--fz-s);
    --font-weight: var(--fw-semi-bold);
    --height: calc(var(--p-base) * 4);
    --min-width: calc(var(--p-base) * 4);
    --padding: 0 var(--p-m);
    // Icon custom properties.
    --icon-size: var(--sz-icon-s);
    --icon-margin: var(--m-s);

    &#{$root}--circular {
      --border-radius: calc(var(--sz-base) * 4 * 0.5);
    }
  }

  &--large {
    --border-radius: var(--bdrs-m);
    --font-size: var(--fz-m);
    --font-weight: var(--fw-semi-bold);
    --height: calc(var(--p-base) * 6);
    --min-width: calc(var(--p-base) * 6);
    // Icon custom properties.
    --icon-size: var(--sz-icon-m);
    --icon-margin: var(--m-m);

    &#{$root}--circular {
      --border-radius: calc(var(--sz-base) * 6 * 0.5);
    }
  }

  // Modifiers
  &--negative {
    --color: var(--color-inverted);

    &#{$root}--focused,
    &:active {
      --background-color: var(--color-focused-inverted);
      --border-color: var(--color-focused-inverted);
    }

    @media (hover: hover) {
      &:hover {
        --background-color: var(--color-focused-inverted);
        --border-color: var(--color-focused-inverted);
      }
    }
  }

  // Elevations
  &--elevation-medium {
    --box-shadow: var(--bxsh-m);

    // &#{$root}--primary {
    //   --box-shadow: var(--bxsh-m);

    //   &#{$root}--negative {
    //     --box-shadow: var(--bxsh-m);
    //   }
    // }
  }

  &--elevation-large {
    --box-shadow: var(--bxsh-l);

    // &#{$root}--primary {
    //   --box-shadow: var(--bxsh-m);

    //   &#{$root}--negative {
    //     --box-shadow: var(--bxsh-m);
    //   }
    // }
  }
}
