.sui-AtomButton {
  background-color: var(--background-color); // New (solid)
  border-radius: var(--border-radius);
  border: var(--border);
  border-color: var(--border-color); // New (solid)
  box-shadow: var(--box-shadow); // New
  box-sizing: border-box;
  color: var(--color); // New (solid)
  display: inline-block;
  position: relative;
  font: {
    family: var(--font-family);
    size: var(--font-size);
    weight: var(--font-weight);
  }
  height: var(--height);
  line-height: var(--line-height);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  min-width: var(--min-width);
  outline: 0;
  padding: var(--padding); // OK
  text-align: var(--text-align);
  text-decoration: var(--text-decoration);
  text-transform: var(--text-transform);
  white-space: nowrap;

  // Button Icon
  &-leftIcon,
  &-rightIcon,
  &-centerIcon {
    &:not(& [class*='Icon']) {
      height: var(--icon-size);
      width: var(--icon-size);
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }

  &-leftIcon {
    margin-right: var(--icon-margin);
  }

  &-rightIcon {
    margin-left: var(--icon-margin);
  }

  // Inner
  &-inner {
    align-items: center;
    display: inline-flex;
    pointer-events: none;
  }

  // Elements
  &--loading {
    .sui-AtomButton-inner {
      justify-content: center;
    }

    .sui-AtomButton-text {
      opacity: 0;
    }
  }

  // Icons
  &-leftIcon,
  &-rightIcon,
  &-centerIcon {
    display: inline-flex;

    // add compatibility with SuiAtomIcon with correct alignment
    .sui-AtomIcon {
      display: inline-flex;
    }

    svg {
      fill: currentColor;
      stroke: currentColor;
    }
  }

  &-centerIcon {
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  // Links
  // &--link:not(.sui-AtomButton--solid):not(.sui-AtomButton--outline):not(.sui-AtomButton--flat) {
  &--link {
    // Overwritten mixin for testing purposes.
    //@include link();
    font-stretch: normal;
    font-style: normal;
    // font-family: $ff-link;
    // font-weight: $fw-link;
    letter-spacing: normal;
    // line-height: $lh-link;
    text-align: left;
    // Actual properties.
    // background: transparent;
    user-select: text;
    border: none;
    padding: 0;
    justify-content: center;
  }

  // &--outline {
  //   background: none;
  // }

  &--flat {
    border: 0;
  }

  // Modifiers
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }

  &--fullWidth {
    justify-content: center;
    width: 100%;
  }

  // &--negative {
  //   background: none; // ???
  // }

  // Other types
  &--empty {
    padding: 0;
    .sui-AtomButton-leftIcon,
    .sui-AtomButton-rightIcon {
      margin: 0;
    }
  }
}
