@import '~@schibstedspain/sui-theme/lib/index';

$base-class: '.sui-AtomButton';

$c-atom-button-types: (
  'primary': ($c-primary, $c-white),
  'accent': ($c-accent, $c-white),
  'neutral': ($c-gray, $c-white),
  'success': ($c-success, $c-white),
  'alert': ($c-alert, $c-white),
  'error': ($c-error, $c-white),
  'social-whatsapp': ($c-whatsapp, $c-white)
) !default;

$ff-atom-button: $ff-sans-serif !default;

$bdrs-atom-button: $bdrs-m !default;
$bgc-atom-button: $c-primary !default;
$bgc-atom-button-light: color-variation($bgc-atom-button, 4) !default;
$bgc-atom-button-dark: color-variation($bgc-atom-button, -1) !default;
$bgc-atom-button-light-contrast: color-variation($bgc-atom-button, 3) !default;

$sz-atom-button-small: $p-base * 4 !default;
$fz-atom-button-small: $fz-s !default;
$fw-atom-button-small: $fw-semi-bold !default;
$icon-sz-atom-button-small: $sz-icon-s !default;
$icon-m-atom-button-small: $m-s !default;
$p-atom-button-small: $p-m !default;

$sz-atom-button: $p-base * 5 !default;
$fz-atom-button: $fz-m !default;
$fw-atom-button: $fw-semi-bold !default;
$icon-sz-atom-button: $sz-icon-s !default;
$icon-m-atom-button: $m-m !default;
$p-atom-button: $p-l !default;

$sz-atom-button-large: $p-base * 6 !default;
$fz-atom-button-large: $fz-m !default;
$fw-atom-button-large: $fw-semi-bold !default;
$icon-sz-atom-button-large: $sz-icon-m !default;
$icon-m-atom-button-large: $m-m !default;
$p-atom-button-large: $p-l !default;

$bdrs-atom-buton-first-outline: $bdrs-m 0 0 $bdrs-m !default;
$bdrs-atom-buton-last-outline: 0 $bdrs-m $bdrs-m 0 !default;

$bxsh-atom-button-solid: none !default;
$bxsh-atom-button-negative-solid: none !default;

// Set all color properties for text and icons
@mixin button-foreground-color($color) {
  color: $color;

  & svg path {
    fill: $color;
    stroke: $color;
  }
}
// Sets active states when button is not disabled
@mixin button-focused {
  &:not(#{$base-class}--disabled) {
    &#{$base-class}--focused,
    &:active,
    &:hover {
      @content;
    }
  }
}
@mixin button-icon($size, $margin) {
  & #{$base-class}-leftIcon,
  & #{$base-class}-rightIcon {
    &,
    & [class*='Icon'] {
      height: $size;
      width: $size;
    }
  }

  & #{$base-class}-leftIcon {
    margin-right: $margin;
  }

  & #{$base-class}-rightIcon {
    margin-left: $margin;
  }
}

#{$base-class}  {
  @include reset-button;
  @include button-icon($icon-sz-atom-button, $icon-m-atom-button);
  border: 1px solid;
  border-radius: $bdrs-atom-button;
  box-sizing: border-box;
  display: inline-block;
  font: {
    family: $ff-atom-button;
    size: $fz-atom-button;
    weight: $fw-atom-button;
  }
  height: $sz-atom-button;
  line-height: normal;
  min-width: $sz-atom-button;
  outline: 0;
  padding: 0 $p-atom-button;
  white-space: nowrap;

  & + & {
    margin-left: $m-m;
  }

  &-group {
    margin-left: -1px;
    margin-right: 0;

    & + & {
      margin-left: -1px;
      margin-right: 0;
    }

    &--middle {
      &#{$base-class}--outline {
        border-radius: 0;
      }
    }

    &--first {
      &#{$base-class}--outline {
        border-radius: $bdrs-atom-buton-first-outline;
      }
    }

    &--last {
      &#{$base-class}--outline {
        border-radius: $bdrs-atom-buton-last-outline;
      }
    }
  }

  &-inner {
    align-items: center;
    display: inline-flex;
    height: 100%;
    pointer-events: none;
  }

  // Icons
  &-leftIcon,
  &-rightIcon {
    display: inline-flex;
  }

  // Types and colors

  @each $name, $pair in $c-atom-button-types {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &--#{$name} {
      &#{$base-class}--solid {
        @include button-foreground-color($color-invert);
        @include button-focused {
          background-color: color-variation($color, -1);
          border-color: color-variation($color, -1);
        }
        background-color: $color;
        border-color: $color;
        box-shadow: $bxsh-atom-button-negative-solid;

        &#{$base-class}--negative {
          @include button-foreground-color($color);
          @include button-focused {
            background-color: color-variation($color, 4);
            border-color: color-variation($color, 4);
          }
          background-color: $color-invert;
          border-color: $color-invert;
          box-shadow: $bxsh-atom-button-negative-solid;
        }
      }

      &#{$base-class}--outline, 
      &#{$base-class}--flat {
        @include button-foreground-color($color);
        @include button-focused {
          background-color: color-variation($color, 4);
        }
        background: none;
        border-color: $color;

        &#{$base-class}--negative {
          @include button-foreground-color($color-invert);
          @include button-focused {
            background-color: color-variation($color, -1);
          }
          background-color: none;
          border-color: $color-invert;
        }
      }

      &#{$base-class}--flat {
        border: 0;
      }
    }
  }

  // Modifiers
  &--disabled {
    cursor: not-allowed;
    opacity: .3;
  }

  &--small {
    @include button-icon($icon-sz-atom-button-small, $icon-m-atom-button-small);
    font-size: $fz-atom-button-small;
    font-weight: $fw-atom-button-small;
    height: $sz-atom-button-small;
    min-width: $sz-atom-button-small;
    padding: 0 $p-atom-button-small;
  }

  &--large {
    @include button-icon($icon-sz-atom-button-large, $icon-m-atom-button-large);
    font-size: $fz-atom-button-large;
    font-weight: $fw-atom-button-large;
    height: $sz-atom-button-large;
    min-width: $sz-atom-button-large;
    padding: 0 $p-atom-button-large;
  }

  &--fullWidth {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &--empty {
    #{$base-class}-leftIcon,
    #{$base-class}-rightIcon {
      margin: 0;
    }
  }

  &--link {
    &,
    &:hover {
      text-decoration: none;
    }
  }
}
