@import '~@schibstedspain/sui-theme/lib/settings';
@import '~@schibstedspain/sui-theme/lib/index';

.sui-AtomInput {
  @include form-field(input);
  @include field-size(input);

  &-inputWrapper {
    display: flex;
  }
}

@import './inputs/TagInput/index';
@import './inputs/PasswordInput/index';
@import './Label/index';
@import './Addon/index';
