// Icon sizes

@mixin sui-icon--small {
  height: $sz-icon-s;
  width: $sz-icon-s;
}

@mixin sui-icon--medium {
  height: 20px;
  width: 20px;
}

@mixin sui-icon--large {
  height: $sz-icon-m;
  width: $sz-icon-m;
}

@mixin sui-icon--xlarge {
  height: $sz-icon-xxl;
  width: $sz-icon-xxl;
}
