@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-slider/lib/index';

$h-molecule-image-editor: 300px !default;

.react-MoleculeImageEditor {
  &-crop {
    position: relative;
    height: $h-molecule-image-editor;
    margin-bottom: $m-xxl;
  }

  &-slider {
    margin-top: $m-xl;
  }
}
