@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-slider/lib/index';

$h-molecule-image-editor: 300px !default;
$w-molecule-image-editor-label-text: 50px !default;

.react-MoleculeImageEditor {
  &-crop {
    position: relative;
    height: $h-molecule-image-editor;
    margin-bottom: $m-xxl;
  }

  &-slider {
    align-items: center;
    display: flex;
    margin-top: $m-xl;

    .sui-AtomSlider {
      flex: 1;
    }
  }

  &-label {
    align-items: center;
    color: $c-gray;
    display: flex;
    margin-right: $m-l;

    &Icon {
      display: flex;

      svg {
        fill: currentColor !important;
        height: $sz-icon-s;
        width: $sz-icon-s;
      }
    }

    &Text {
      margin-left: $m-m;
      width: $w-molecule-image-editor-label-text;
    }
  }
}
