$base-class: '.sui-MoleculePhotoUploader';
$thumb-class: '#{$base-class}-thumb';
$skeleton-class: '#{$base-class}-skeleton';

#{$base-class} {
  &-dropzone {
    background: $bg-photo-uploader;
    border: $bd-photo-uploader-dropzone;
    border-radius: $bdrs-photo-uploader-dropzone;
    color: $c-photo-uploader;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: $mih-photo-uploader;
    outline: none;
    padding: $p-photo-uploader;
    position: relative;

    @include media-breakpoint-up(m) {
      border: $bd-photo-uploader-dropzone-desktop;
      padding: $p-photo-uploader-desktop;
    }

    &:focus-visible {
      outline: 2px solid transparentize($c-primary, 0.2);
      outline-offset: 2px;
    }

    &--empty {
      background: $bg-photo-uploader-empty;
      border: $bd-photo-uploader-dropzone-empty;
    }

    &--disabled {
      cursor: no-drop;
    }
  }
  &-emptyView {
    align-items: center;
    padding: $p-photo-uploader-initial-state;
    background: $bg-photo-uploader-initial-state;
    border: $bd-photo-uploader;
    border-radius: $bdrs-photo-uploader-initial-state;
    color: $c-photo-uploader-initial-state;
    display: flex;
    flex-direction: column;
    font-size: $fz-photo-uploader-initial-state;
    height: 100%;
    justify-content: center;
    left: 0;
    line-height: $lh-m;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-textState {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    &Text {
      margin-top: $m-m;

      &.isSpaced {
        margin-bottom: $m-m;
      }
    }
    &Divider {
      margin: $m-m 0;
    }
  }

  &-dragState {
    align-items: center;
    border-radius: $bdrs-l;
    color: $c-photo-uploader-drag-photo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 0;
    min-height: $mih-photo-uploader;
    position: absolute;
    top: 0;
    width: 100%;

    &-textState {
      line-height: $lh-m;
      max-width: $maw-photo-uploader-thumb-drag-text;
      text-align: center;
    }
  }

  &-dragState--accepted {
    background-color: $bg-photo-uploader-drag-photo;
    border: $bd-photo-uploader;
    border-radius: $bdrs-photo-uploader-drag-photo;
  }

  &-dragState--rejected {
    background-color: $bg-photo-uploader-drag-photo-rejected;
    border: $bd-photo-uploader-drag-photo-rejected;
    border-radius: $bdrs-photo-uploader-drag-photo;
    color: $c-photo-uploader-drag-photo-rejected;
    z-index: $z-notifications;
  }

  &-preview-fallback {
    border-radius: $bdrs-rounded;
  }

  &-preview {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: $gg-photo-uploader-thumb-image;
    grid-template-columns: repeat(auto-fit, $gtc-photo-uploader-thumb-image);
    justify-content: $jc-photo-uploader;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(m) {
      grid-template-columns: repeat(auto-fit, $w-photo-uploader-thumb-image-desktop);
      grid-gap: $gg-photo-uploader-thumb-image-desktop;
    }

    &--ratioDisabled {
      grid-template-columns: repeat(auto-fit, $w-photo-uploader-thumb-image-desktop);
    }
  }

  &-notification {
    margin-top: $m-m;
  }

  /** VIEW_TYPES */
  &--list {
    #{$base-class}-dropzone {
      background: none;
      border: none;
      padding: 0;
    }

    #{$base-class}-preview {
      grid-auto-rows: auto;
      grid-gap: $g-l;
      grid-template-columns: repeat(auto-fit, 100%);
    }

    #{$base-class}-skeleton {
      flex-direction: row;
      padding: $p-m 0;
      width: 100%;

      &-text {
        margin-left: $m-l;
        margin-top: 0;
      }
    }

    #{$base-class}-thumb {
      background: $bg-photo-uploader;
    }

    #{$base-class}-thumbCard {
      flex-direction: row;
      justify-content: space-between;

      &-actions {
        display: flex;
        flex-direction: row-reverse;
        gap: $g-m;
        width: auto;
      }

      &-button {
        background: none;
        margin-right: $m-m;
        &:hover {
          @include media-breakpoint-up(m) {
            background: none;
          }
        }
      }

      &-counter {
        left: -$m-m;
        top: -$m-m;
      }

      &-imageContainer {
        align-items: center;
        display: flex;
        font-size: $fz-l;
        padding-left: $p-m;
        width: 100%;
      }

      &-image {
        border-radius: $bdrs-l;
        height: $h-photo-uploader-thumb-image-list;
        margin: $m-m;
        width: $w-photo-uploader-thumb-image-list;
      }
    }
  }
}

#{$thumb-class} {
  border: $bd-photo-uploader-thumb;
  border-radius: $bdrs-photo-uploader-thumb-card;
  box-sizing: content-box;
  box-shadow: $bxsh-photo-uploader-thumb-card;
  cursor: grab;
  display: inline-block;

  &Card {
    background: $bg-photo-uploader-thumb-card;
    border-radius: $bdrs-photo-uploader-thumb-card;
    display: flex;
    flex-direction: column;
    min-width: 0;

    position: relative;
    height: 100%;

    &-counter {
      align-items: center;
      background-color: $bgc-photo-uploader-counter;
      border-radius: $bdrs-photo-uploader-counter;
      color: $c-white;
      display: inline-flex;
      font-size: $fz-xs;
      justify-content: center;
      height: $s-photo-uploader-counter;
      left: $m-m;
      line-height: $fz-s;
      min-width: $s-photo-uploader-counter;
      padding: calc(#{$p-s} / 2);
      position: absolute;
      top: $m-m;
    }

    &-mainCounter {
      border-radius: $bdrs-photo-uploader-thumb-card-main-counter;
      padding-left: $p-m;
      padding-right: $p-m;
    }

    &-iconContainer {
      background-color: rgba($c-primary, 0.1);
      border-radius: $bdrs-photo-uploader-thumb-card $bdrs-photo-uploader-thumb-card 0 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: center;
      width: $w-photo-uploader-thumb-image;

      @include media-breakpoint-up(m) {
        height: $h-photo-uploader-thumb-image-desktop;
        width: $w-photo-uploader-thumb-image-desktop;
      }
    }

    &-image {
      border-radius: $bdrs-photo-uploader-thumb-card $bdrs-photo-uploader-thumb-card 0 0;
      height: 100%;
      object-fit: cover;
      width: $w-photo-uploader-thumb-image;

      @include media-breakpoint-up(m) {
        height: $h-photo-uploader-thumb-image-desktop;
        width: $w-photo-uploader-thumb-image-desktop;
      }

      &--ratioDisabled {
        height: $h-photo-uploader-thumb-image-desktop;
      }

      &Container {
        border-radius: $bdrs-photo-uploader-thumb-card $bdrs-photo-uploader-thumb-card 0 0;
        display: flex;
        height: 100%;
      }
    }

    &-actions {
      cursor: pointer;
      display: flex;
      width: 100%;
    }

    &-button {
      align-items: center;
      background: $bg-photo-uploader-action-buttons;
      border-right: $bdr-photo-uploader-action-buttons;
      color: $c-photo-uploader-action-buttons;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: $p-photo-uploader-action-buttons;
      width: 50%;

      &:first-of-type {
        border-radius: 0 0 0 $bdrs-photo-uploader-thumb-card;
      }
      &:last-of-type {
        border-radius: 0 0 $bdrs-photo-uploader-thumb-card 0;
      }

      &:hover {
        @include media-breakpoint-up(m) {
          background: $bg-photo-uploader-action-buttons-hover;
          color: $c-photo-uploader-action-buttons-hover;
        }
      }

      &:active {
        background: $bg-photo-uploader-action-buttons-hover;
        color: $c-photo-uploader-action-buttons-hover;
      }

      &:last-child {
        border-right: none;
      }
    }

    &-iconButton {
      width: 100%;
    }
  }

  &--ghost {
    border: none;
    cursor: grabbing;
    #{$thumb-class}Card {
      display: none;
    }
  }

  &--chosen {
    background-color: $bg-photo-uploader-thumb-chosen;
    border: $bd-photo-uploader-thumb-chosen;
    cursor: grabbing;
  }

  &--drag {
    border: $bd-photo-uploader-thumb-drag;
    box-shadow: $bxsh-photo-uploader-thumb-drag;
    cursor: grabbing;
    opacity: 1;
  }
}

#{$skeleton-class} {
  align-items: center;
  background-color: $bg-photo-uploader-skeleton;
  border: $bd-photo-uploader;
  border-radius: $bdrs-photo-uploader-skeleton;
  color: $c-photo-uploader-skeleton;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: $fw-semi-bold;
  justify-content: center;
  overflow: hidden;
  width: $w-photo-uploader-skeleton;

  @include media-breakpoint-up(m) {
    width: $w-photo-uploader-skeleton-desktop;
  }

  &:hover {
    @include media-breakpoint-up(m) {
      background: $bg-photo-uploader-skeleton-hover;
      color: $c-photo-uploader-skeleton-hover;
    }
  }

  &:active {
    background: $bg-photo-uploader-skeleton-hover;
    color: $c-photo-uploader-skeleton-hover;
  }

  &-text {
    margin-top: $m-m;
    font-size: $fz-m;
    line-height: $lh-xl;
  }
}
