/* Overwritable variables */
$bd-photo-uploader-drag-photo-rejected: none !default;
$bd-photo-uploader-dropzone: 0 !default;
$bd-photo-uploader-dropzone-desktop: $bd-photo-uploader-dropzone !default;
$bd-photo-uploader-dropzone-empty: $bd-photo-uploader-dropzone !default;
$bd-photo-uploader-thumb-chosen: none !default;
$bd-photo-uploader-thumb-drag: none !default;
$bd-photo-uploader-thumb: none !default;
$bd-photo-uploader: $bdw-s dashed $c-primary !default;
$bg-photo-uploader: $c-gray-light-4 !default;
$bdr-photo-uploader-action-buttons: $bdw-m solid $bg-photo-uploader !default;
$bdrs-photo-uploader-drag-photo: $bdrs-l !default;
$bdrs-photo-uploader-dropzone: $bdrs-l !default;
$bdrs-photo-uploader-initial-state: $bdrs-l !default;
$bdrs-photo-uploader-skeleton: $bdrs-l !default;
$bdrs-photo-uploader-thumb-card-main-counter: $bdrs-base !default;
$bdrs-photo-uploader-thumb-card: $bdrs-l !default;
$bg-photo-uploader-action-buttons-hover: $c-primary !default;
$bg-photo-uploader-action-buttons: $c-gray-light-3 !default;
$bg-photo-uploader-drag-photo-rejected: rgba($c-error, 0.9) !default;
$bg-photo-uploader-drag-photo: rgba($c-primary, 0.85) !default;
$bg-photo-uploader-empty: $bg-photo-uploader !default;
$bg-photo-uploader-initial-state: $bg-photo-uploader !default;
$bg-photo-uploader-thumb-card: $c-gray-light-3 !default;
$bg-photo-uploader-skeleton: $bg-photo-uploader-thumb-card !default;
$bg-photo-uploader-skeleton-hover: $c-primary !default;
$bg-photo-uploader-thumb-chosen: $bg-photo-uploader-thumb-card !default;
$bxsh-photo-uploader-thumb-card: none !default;
$bxsh-photo-uploader-thumb-drag: $bxsh-l !default;
$c-photo-uploader-action-buttons-hover: $c-white !default;
$c-photo-uploader-action-buttons: $c-primary !default;
$c-photo-uploader-drag-photo-rejected: $c-white !default;
$c-photo-uploader-drag-photo: $c-white !default;
$c-photo-uploader-initial-state: $c-primary !default;
$c-photo-uploader-skeleton-hover: $c-white !default;
$c-photo-uploader-skeleton: $c-primary !default;
$c-photo-uploader: $c-primary !default;
$fz-photo-uploader-initial-state: $fz-s !default;
$gg-photo-uploader-thumb-image: $m-m !default;
$gg-photo-uploader-thumb-image-desktop: $gg-photo-uploader-thumb-image !default;
$gtc-photo-uploader-thumb-image: 45% !default;
$jc-photo-uploader: center !default;
$p-photo-uploader-action-buttons: $p-s 0 !default;
$p-photo-uploader-desktop: $p-xl !default;
$p-photo-uploader: $p-m !default;
$s-photo-uploader-thumb-icons: 16px !default;
$w-photo-uploader-thumb-image-desktop: 160px !default;
$w-photo-uploader-thumb-image-list: 60px !default;
$w-photo-uploader-thumb-image: 100% !default;
$p-photo-uploader-initial-state: 0 !default;

$mih-photo-uploader: 249px !default;
$s-photo-uploader-counter: 16px !default;
$bgc-photo-uploader-counter: $c-primary !default;
$bdrs-photo-uploader-counter: $bdrs-rounded !default;
$h-photo-uploader-thumb-image: ($w-photo-uploader-thumb-image * 3) * 0.25;
$h-photo-uploader-thumb-image-desktop: ($w-photo-uploader-thumb-image-desktop * 3) * 0.25;
$h-photo-uploader-thumb-image-list: ($w-photo-uploader-thumb-image-list * 3) * 0.25;
$w-photo-uploader-skeleton: $w-photo-uploader-thumb-image;
$w-photo-uploader-skeleton-desktop: $w-photo-uploader-thumb-image-desktop;
$maw-photo-uploader-thumb-drag-text: 200px;
