@import '~@s-ui/theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index';
@import '~@s-ui/react-atom-input/lib/index';
@import '~@s-ui/react-molecule-field/lib/index';

$h-atom-input--m: 40px !default;
$h-atom-input--s: 32px !default;

.sui-MoleculeDataCounter {
  &-container {
    display: flex;

    .sui-AtomInput-input {
      margin: 0 $m-s;
      min-height: inherit;
      text-align: center;
      width: inherit;
    }

    &--s {
      height: $h-atom-input--s;

      .sui-AtomInput-input {
        height: $h-atom-input--s;
      }

      .sui-AtomButton {
        height: $h-atom-input--s;
        width: $h-atom-input--s;
      }
    }

    &--m {
      height: $h-atom-input--m;

      .sui-AtomInput-input {
        height: $h-atom-input--m;
      }

      .sui-AtomButton {
        height: $h-atom-input--m;
        width: $h-atom-input--m;
      }
    }
  }
}
