$base-class: '.sui-MoleculeStepper';

#{$base-class} {
  box-sizing: content-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  &--alignment {
    &-vertical {
      flex-direction: column;
      height: 100%;
    }
    &-horizontal {
      flex-direction: row;
      width: 100%;
    }
  }
  &--justifyContent {
    @each $jc-key, $jc-value in $jc-molecule-stepper {
      &-#{$jc-key} {
        justify-content: $jc-value;
      }
    }
  }
  &--design {
    &-default {
      // do your magic
    }
    &-compressed {
      &#{$base-class}--alignment {
        &-vertical {
          row-gap: $sz-base;
        }
        &-horizontal {
          position: relative;
          gap: $sz-base;
        }
      }
    }
  }
}
