name: CI

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  check-skip:
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
    - name: Cancel Previous Redundant Builds
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}

  install:
    needs: check-skip
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with: 
        node-version: 16
    - name: node_modules cache
      id: cache
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ github.run_id }}
    - name: Install dependencies
      run: |
        npx -p @s-ui/mono sui-mono phoenix --ci
        npm run install:demos -- --ci
        
  lint:
    needs: install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with: 
        node-version: 16
    - name: node_modules cache
      id: cache
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ github.run_id }}
    - name: Lint 
      run: npm run lint

  build:
    runs-on: ubuntu-latest
    needs: install
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with: 
        node-version: 16
        registry-url: 'https://registry.npmjs.org'
    - name: node_modules cache
      id: cache
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ github.run_id }}
    - name: Build dependencies
      run: |
        npm run install:themes
        npm run build
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - uses: actions/upload-artifact@v2
      with:
        name: public-folder
        path: public

  testing:
    needs: install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with: 
        node-version: 16
    - name: node_modules cache
      id: cache
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ github.run_id }}
    - name: Install xvfb for headless testing
      run: sudo apt-get install xvfb

    - name: Setup Max User Watches for Testing
      run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

    - name: Testing
      run: |
        xvfb-run --auto-servernum npm run test -- --ci

  release:
    needs: testing
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v1
      with: 
        node-version: 16
        registry-url: 'https://registry.npmjs.org'
    - name: node_modules cache
      id: cache
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ github.run_id }}
    - name: Release components
      run: npx @s-ui/ci release
      env:
        GITHUB_EMAIL: cloud-accounts@scmspain.com
        GITHUB_TOKEN: ${{github.token}}
        GITHUB_USER: sui-bot
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy:
    needs: [build, testing]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16
    - uses: actions/download-artifact@v2
      with:
        name: public-folder
    - name: Deploy
      id: deploy
      run: |
        npm i -g vercel --no-save --no-fund --no-audit --no-optional --no-scripts
        DEPLOYMENT_URL=$(vercel --token $VERCEL_TOKEN --confirm $VERCEL_PARAMS)
        echo "::set-output name=url::$(echo $DEPLOYMENT_URL)"
      env:
        VERCEL_PARAMS: ${{ github.event_name != 'pull_request' && '--prod' || ''}}
        VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    environment:
      name: ${{ github.event_name != 'pull_request' && 'Production' || 'Preview'}}
      url: ${{ steps.deploy.outputs.url }}
