
@import '~@schibstedspain/theme-basic/lib/index';

.sui-TagChip {
  @include sui-tag;

  &-link {
    @include reset-link;
    cursor: pointer;    
  }
  &-deleteIcon {
    @include reset-button;
    height: 15px;
    margin-bottom: -3px;
    margin-right: -10px;
    fill: $c-gray-light !important;
  }
  &-deleteIcon:hover {
    fill: $c-accent !important;
  }
}
