@import '~@schibstedspain/sui-theme/lib/index';
@import './SUILoader/index';

$bgc-atom-spinner: rgba($c-white, .6);
$z-atom-spinner: 999;

@mixin spinner-layer {
  background-color: $bgc-atom-spinner;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $z-atom-spinner;
}

.sui-atom-spinner {
  position: relative;

  &-layer {
    @include spinner-layer;
    position: absolute;
  }

  &-layer-full {
    @include spinner-layer;
    position: fixed;
  }

  &-layer-hide {
    display: none;
  }
}
