@import '../_settings.scss';

$bd-select-popover: 1px solid $c-gray-light-2 !default;
$c-select-popover: $c-black !default;
$bgc-select-popover: transparent !default;
$bgc-select-popover-hover: $c-primary-light-4 !default;
$bdc-select-popover-hover: $c-primary-light-4 !default;
$c-select-popover--is-open: $c-primary !default;

$bgc-select-popover-content: $c-white !default;
$bd-select-popover-content: solid 1px $c-gray-light-3 !default;
$bdt-select-popover-action-bar: solid 1px $c-gray-light-3 !default;

$bdc-select-popover-selected: $c-primary !default;
$c-select-popover-selected: $c-primary !default;

$bxz-select-popover-select: border-box !default;
$cur-select-popover-select: auto !default;

$op-select-popover: 0.4 !default;

$z-select-popover-select-popover: $z-tooltips !default;
